<div class="section-p-md">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h2><%= @dataset_folder.persisted? ? "Update Folder" : "Add Folder" %></h2>

        <%= form_with model: @dataset_folder, url: form_url, validate: true, html: { class: "form-rg sgl-col" } do |f| %>
          <div class="form-group">
            <label>Folder Title</label>
            <%= f.text_field :title, class: 'form-control' %>
          </div>

          <div class="form-group">
            <label>Folder Description</label>
            <%= f.text_field :description, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= render partial: 'challenges/fields/fancy_radio', locals: { f: f, name: :evaluation, text: "Evaluation" } %>
          </div>

          <div class="form-group">
            <%= render partial: 'challenges/fields/fancy_radio', locals: { f: f, name: :visible, text: "Visible" } %>
          </div>

          <div class="form-group">
            <label>Path to directory</label>
            <%= f.text_field :directory_path, class: 'form-control' %>
          </div>

          <div class="form-group">
            <label>AWS Access Key</label>
            <%= f.text_field :aws_access_key, class: 'form-control' %>
          </div>

          <div class="form-group">
            <label>AWS Secret Access Key</label>
            <%= f.text_field :aws_secret_key, class: 'form-control' %>
          </div>

          <div class="form-group">
            <label>Bucket Name</label>
            <%= f.text_field :bucket_name, class: 'form-control' %>
          </div>

          <div class="form-group">
            <label>Region</label>
            <%= f.text_field :region, class: 'form-control' %>
          </div>

          <div class="form-group">
            <label>Endpoint</label>
            <%= f.text_field :aws_endpoint, class: 'form-control' %>
          </div>

          <div class="btn-set">
            <%= f.button (f.object.new_record? ? "Add Folder" : "Update Folder"), class: 'btn btn-primary', id: 'submitS3', data: { disable_with: 'Saving...' } %>
            <%= link_to 'Cancel', challenge_dataset_files_path(@challenge), class: "btn btn-secondary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
