<tr>
  <td><strong><%= entry.id %></strong></td>
  <td><%= participant_link %></td>
  <td><span class="badge <%= grade_class %>"><%= entry.grading_status_cd %></span></td>
  <td><%= formatted_value(entry.score_display) %></td>
  <% if entry.challenge.score_secondary_title? %>
    <td><%= formatted_value(entry.score_secondary_display) %></td>
  <% end %>
  <td><%= enable_links_in_raw_text(entry.grading_message) %></td>
  <td class="text-right"><%= local_time(entry.created_at, "%a, %e %b %Y") %> <br>
    <%= local_time(entry.created_at, "%H:%M:%S") %></td>
  <% if entry.challenge.submissions_page %>
    <td class="text-right"><%= link_to "View", challenge_submission_path(challenge, entry.id), class: "btn btn-secondary btn-sm" %></td>
  <% end %>
</tr>