<div class="leaderboard-filters-btn">
  <a class="" data-toggle="collapse" href="#leaderboardFilters" role="button" aria-expanded="false" aria-controls="leaderboardFilters">
    Leaderboard filters
  </a>
</div>

<div class="leaderboard-filters collapse <%= params[:country_name].present? || params[:affiliation].present? || params[:post_challenge].present? ? 'show' : '' %>" id="leaderboardFilters">
  <%= form_with url: challenge_leaderboards_path(challenge_id: @challenge.friendly_id), method: :get, local: true, data: { controller: 'leaderboards' } do %>
    <input type='hidden' name='challenge_round_id' id='challenge_round_id' value=<%= @current_round&.id %>>
    <input type='hidden' name='post_challenge' id='post_challenge' value=<%= @post_challenge %>>

    <div class="form-group">
      <select class="form-control" name="country_name" data-target='leaderboards.participantCountry' data-challenge-id="<%= @challenge.friendly_id %>" id="participant-country" data-action='change->leaderboards#getAffiliations'>
        <option  value="" >All countries</option>
        <% @countries&.each do |country| %>
          <option value="<%= country %>" <%= is_selected_country?(country) ? selected = 'selected' : '' %>><%= country %></option>
        <% end %>
      </select>
    </div>

    <div class="form-group">
      <select class="form-control" name="affiliation" data-target="leaderboards.participantAffiliation" id="participant-affiliation">
        <option  value="">All affiliations</option>
        <% @affiliations&.each do |affiliation| %>
          <option value="<%= affiliation %>" <%= is_selected_affiliation?(affiliation) ? selected = 'selected' : '' %>><%= affiliation %></option>
        <% end %>
      </select>
    </div>
    <button type="submit" class="btn btn-secondary" data-action='click->leaderboards#filterURL'>Filter</button>
    <%= link_to 'Clear Filter', challenge_leaderboards_path(@challenge, post_challenge: @post_challenge ? @post_challenge : nil, challenge_round_id: @current_round&.id), class: 'btn btn-sm apply-filter-btn none-underline' %>
  <% end %>

  <!-- toggle switch -->
  <% if @challenge.status == :completed && @current_round.present? && !@challenge.meta_challenge? && !@current_round.freeze_flag %>
    <div class="my-2">
      <label class="toggle-switch" style="width: max-content;">
        <%= link_to challenge_leaderboards_path(challenge_round_id: @current_round, post_challenge: @post_challenge.blank?, country_name: params[:country_name], affiliation: params[:affiliation], challenge_id: @challenge.friendly_id) do %>
          <input id="post-challenge-switch" type="checkbox" <%= "checked" if @post_challenge %> >
          <span class="switcher mr-2"></span>
          <span class="label">Include post-challenge submissions</span>
        <% end %>
      </label>
    </div>
  <% end %>
  <% if @challenge.meta_challenge %>
    <div class="mb-2" style="width: max-content;" data-action="click->leaderboards#toggleGeekView" >
      <label class="toggle-switch" data-toggle="tooltip" data-placement="top" title="Geek view show scores">
        <input id="geek-view-checkbox" type="checkbox">
        <span class="switcher"></span>
        <span class="label">🤓 Geek View</span>
      </label>
    </div>
  <% end %>
  <% if current_participant.present? %>
    <div class="my-2">
      <label class="toggle-switch" style="width: max-content;">
        <%= link_to challenge_leaderboards_path(challenge_round_id: @current_round, post_challenge: @post_challenge.blank?, country_name: params[:country_name], affiliation: params[:affiliation], challenge_id: @challenge.friendly_id, following: @following.blank?) do %>
          <input id="post-challenge-switch" type="checkbox" <%= "checked" if @following.present? %> >
          <span class="switcher mr-2"></span>
          <span class="label">Show Friends</span>
        <% end %>
      </label>
    </div>
  <% end %>
  <!-- /toggle switch -->
</div>
