<% leaderboards.each do |leaderboard| %>
  <%
    participants            = leaderboard_participants(leaderboard)
    challenge               = leaderboard.challenge
    leaderboard_participant = leaderboard.participant
  %>

  <tr>
    <td class="leaderboard-change">
      <%= leaderboard_ranking_change(leaderboard) %>
    </td>
    <td><strong><%= "%02d" % (leaderboard.row_num) %></strong></td>
    <td>
      <% if participants.empty? %>
        <%= image_tag default_image_url, class: 'avatar' %>
        <span class="text-link">Unknown User</span>
      <% elsif participants.length == 1 %>
        <%= link_to participant_path(participants[0]), title: participants[0].name, data: {toggle: :tooltip} do %>
          <%= image_tag participants[0].image_url, class: 'avatar' %>
          <span class="text-link"><%= participants[0].name %></span>
        <% end %>
      <% else %>
        <% team = leaderboard.team %>

        <% if team.present? %>
          <%= link_to team.name, challenge_team_path(team.challenge, team) %>
        <% else %>
          <span>#</span>
        <% end %>

        <div class="avatar-group">
          <% participants.each do |participant| %>
            <%= link_to participant_path(participant), title: participant.name, data: {toggle: :tooltip} do %>
              <%= image_tag participant.image_url, class: 'avatar' %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </td>

    <% if challenge.media_on_leaderboard %>
      <td>
        <%= render partial: 'shared/challenges/media', locals: { mediable: leaderboard, submission_id: leaderboard.submission_id, size: :thumb } %>
      </td>
    <% end %>

    <td><strong><%= leaderboard_formatted_value(@current_round, leaderboard.score) %></strong></td>
    <td><strong><%= leaderboard_formatted_value(@current_round, leaderboard.score_secondary) %></strong></td>
    <% leaderboard_other_scores_array(leaderboard, challenge).each do |other_score| %>
      <td><strong><%= other_score %></strong></td>
    <% end %>
    <td><%= leaderboard.entries %></td>

    <td class="text-right"><%= local_time(leaderboard.created_at, "%a, %e %b %Y %H:%M") %></td>
    <td class="text-right">
      <% if leaderboard_participant.present? %>
        <%= link_to challenge_submission_path(challenge, leaderboard.submission_id), class: 'btn btn-secondary btn-sm' do %>
          View
        <% end %>
      <% end %>
    </td>
  </tr>
<% end %>
