<%= concept(Challenge::Cell::ChallengeMasthead, @challenge, current_participant: current_participant) %>
<%= render partial: 'challenges/show/subnav',
    locals: { challenge: @challenge } %>

<section class="section-p-sm">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
      <%= concept(Leaderboard::Cell::ChallengeRoundPills, @challenge, current_round: @current_round) %>

      <!-- challenge leaderboard -->
        <% if @current_round.leaderboard_note.present? %>
		      <div class="md-content width-100">
			      <div class="note">
				      <%= sanitize(@current_round.leaderboard_note) %>
			      </div>
		      </div>
        <% end %>

        <% if policy(@challenge).show_leaderboard? %>
          <% unless @challenge.show_leaderboard? %>
            <div class="leaderboard-important-msg">
              <p>Leaderboard is only visible to organizers</p>
            </div>
          <% end %>

          <div class="table-responsive-md">
            <table class="table table-leaderboard">
              <%= concept(Leaderboard::Cell::TableHead,
                    @leaderboards,
                    challenge: @challenge,
                    current_round: @current_round,
                    current_participant: current_participant) %>
              <tbody>
                <%= render partial: 'leaderboards' %>
              </tbody>
          </table>
        <% else %>
          <div class="leaderboard-msg">
            <p>Leaderboard is not displayed yet.</p>
          </div>
        <% end %>
      </div>

        <!-- toggle switch -->
        <% if @challenge.status == :completed %>
          <div class="toggle-switch-container">
            <div class="can-toggle can-toggle--size-small">
              <%= link_to challenge_leaderboards_path(challenge_round_id: @current_round, post_challenge: @post_challenge.blank?) do %>
                <input id="post-challenge-switch" type="checkbox" <%= "checked" if @post_challenge %> >
                <label for="post-challenge">
                  <div class="can-toggle__switch" data-checked="On" data-unchecked="Off"></div>
                  <div class="can-toggle__label-text">Show post-challenge submissions</div>
                </label>
              <% end %>
            </div>
          </div>
        <% end %>
        <!-- /toggle switch -->

      <span id="more-anchor"></span>
       <%= render partial: 'shared/load_more',
        locals: { collection: @leaderboards } %>
      </div>
    </div>
  </div>
</section>
<!-- /section -->