<%= render partial: 'shared/challenges/masthead', locals: { challenge: @challenge, challenge_rounds: @challenge_rounds, vote: @vote, follow: @follow } %>
<%= render partial: 'challenges/show/subnav', locals: { challenge: @challenge } %>

<% disentanglement_leaderboard = @leaderboards.first&.disentanglement? %>
<section
  class="section-p-sm"
  data-controller="leaderboards"
>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <% if @challenge_rounds.size > 1 && !@challenge.meta_challenge %>
          <!-- Challenge Round Pills  -->
          <ul class="nav nav-pills">
            <% @challenge_rounds.each do |challenge_round| %>
              <li class="nav-item">
                <%= link_to challenge_round.challenge_round,
                            challenge_leaderboards_path(@challenge, challenge_round_id: challenge_round.id),
                            class: round_pills_tab_classes(challenge_round, @current_round) %>
              </li>
            <% end %>
          </ul>
          <!-- / Challenge Round Pills  -->
        <% end %>

        <% if @challenge.challenge_leaderboard_extras.size > 0 %>
          <ul class="nav nav-pills">
              <li class="nav-item">
                <%= link_to "Overall",
                            challenge_leaderboards_path(@challenge, challenge_round_id: @current_round),
                            class: round_pills_tab_classes(nil, @current_challenge_leaderboard_extra) %>
              </li>
              <% @challenge.challenge_leaderboard_extras.each do |extra_leaderboard| %>
              <li class="nav-item">
                <%= link_to extra_leaderboard.name,
                            challenge_leaderboards_path(@challenge, challenge_round_id: @current_round, challenge_leaderboard_extra_id: extra_leaderboard.id),
                            class: round_pills_tab_classes(extra_leaderboard, @current_challenge_leaderboard_extra) %>
              </li>
              <% end %>
          </ul>
        <% end %>

        <!-- challenge leaderboard -->
        <% if @current_round&.leaderboard_note.present? %>
          <div class="md-content width-100">
            <div class="note">
              <%= sanitize_html(@current_round.leaderboard_note) %>
            </div>
          </div>
        <% end %>

        <% if @current_round&.freeze_flag %>
        <div class="md-content">
          <blockquote><p>ℹ️
            This leaderboard has been frozen on <%= freeze_time(@current_round) %>
          </p></blockquote>
        </div>
        <% end %>

        <% if policy(@challenge).show_leaderboard? %>
          <% unless disentanglement_leaderboard %>
            <!-- leaderbaord winners -->
            <%= render partial: 'winners', locals: { leaderboards: @top_three_winners, current_round: @current_round }  %>
            <!-- /leaderbaord winners -->
          <% end %>

          <% unless policy(@challenge).leaderboard_public? %>
            <div class="leaderboard-important-msg">
              <p>Leaderboard is only visible to organizers</p>
            </div>
          <% end %>

          <% unless disentanglement_leaderboard %>
            <!-- leaderboard-filters -->
            <%= render 'filter_leaderboards' %>
            <!-- leaderboard-filters -->
          <% end %>

          <div class="table-responsive-md">
            <table class="table table-leaderboard">
              <thead>
                <%= render partial: 'leaderboards_header', locals: { leaderboards: @leaderboards, current_round: @current_round, truncate: 'true', current_participant: current_participant } %>
              </thead>
              <tbody id="leaderboards-div" data-page='1' data-request-completed='true' data-controller="load-more" data-action="scroll@window->load-more#load_more_data" data-meta-challenge-id="<%= @challenge.is_a_problem? ? @challenge.challenge_problem.challenge.friendly_id : '' %>">
                <%= render partial: 'leaderboards', locals: { leaderboards: @leaderboards, current_round: @current_round, truncate: 'true' } %>
              </tbody>
            </table>
          </div>
        <% else %>
          <div class="leaderboard-msg">
            <p>Leaderboard is not displayed yet.</p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
<!-- /section -->
