<%= render partial: 'shared/challenges/masthead', locals: { challenge: @challenge, challenge_rounds: @challenge_rounds, vote: @vote, follow: @follow } %>
<%= render partial: 'challenges/show/subnav', locals: { challenge: @challenge } %>

<section class="section-p-sm">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <% if @challenge_rounds.size > 1 && !@challenge.meta_challenge %>
          <!-- Challenge Round Pills  -->
          <ul class="nav nav-pills">
            <% @challenge_rounds.each do |challenge_round| %>
              <li class="nav-item">
                <%= link_to challenge_round.challenge_round,
                            challenge_leaderboards_path(@challenge, challenge_round_id: challenge_round.id),
                            class: round_pills_tab_classes(challenge_round, @current_round) %>
              </li>
            <% end %>
          </ul>
          <!-- / Challenge Round Pills  -->
        <% end %>

        <!-- challenge leaderboard -->
        <% if @current_round&.leaderboard_note.present? %>
          <div class="md-content width-100">
            <div class="note">
              <%= sanitize_html(@current_round.leaderboard_note) %>
            </div>
          </div>
        <% end %>

        <!-- leaderbaord winners -->
        <%= render partial: 'winners', locals: { leaderboards: @leaderboards.first(3), current_round: @current_round }  %>
        <!-- /leaderbaord winners -->

        <% if policy(@challenge).show_leaderboard? %>
          <% unless policy(@challenge).leaderboard_public? %>
            <div class="leaderboard-important-msg">
              <p>Leaderboard is only visible to organizers</p>
            </div>
          <% end %>
          <% if @challenge.meta_challenge %>
            <div class="float-right mb-4" id="geek-view-toogle">
              <label class="toggle-switch" data-toggle="tooltip" data-placement="top" title="Geek view show scores">
                <input type="checkbox">
                <span class="switcher"></span>
                <span class="label">🤓 Geek View</span>
              </label>
            </div>
          <% end %>
          <div class="table-responsive-md">
            <table class="table table-leaderboard">
              <thead>
              <tr>
                <th scope="col" class="leaderboard-change">Δ</th>
                <th scope="col">#</th>
                <th scope="col">Participants</th>
                <% if @challenge.media_on_leaderboard %>
                  <th scope="col">Media</th>
                <% end %>
                <th scope="col"><%= @current_round&.get_score_title %></th>
                <% if @current_round&.get_score_secondary_title.present? && !@challenge.meta_challenge %>
                  <% if !(@current_round&.secondary_sort_order.present? && @current_round&.secondary_sort_order == :hidden) %>
                    <th scope="col"><%= @current_round.get_score_secondary_title %></th>
                  <% end %>
                <% end %>
                <% if @challenge.meta_challenge %>
                  <th scope="col" class="text-center">Submission Trend</th>
                  <% @challenge.challenge_problems.each do |challenge_problem| %>
                    <th scope="col">
                      <%= link_to challenge_problem.problem.challenge, challenge_leaderboards_path(challenge_problem.problem), data: { toggle: 'tooltip', placement: 'top' }, title: 'Leaderboard for ' + challenge_problem.problem.challenge %><br/>
                      <span class="badge badge-gold">Weight: <%= challenge_problem.weight %></span>
                    </th>
                  <% end %>
                <% else %>
                  <% @challenge.other_scores_fieldnames_array.each do |fname| %>
                    <th scope="col"><%= fname %></th>
                  <% end %>
                  <th scope="col">Entries</th>
                  <th scope="col" class="text-right">Last Submission</th>
                  <th scope="col" class="text-center">Submission Trend</th>
                  <th scope="col" class="text-right"></th>
                <% end %>
              </tr>
              </thead>
              <tbody id="leaderboards-div" data-page='1' data-request-completed='true' data-controller="load-more" data-action="scroll@window->load-more#load_more_data">
                <%= render partial: 'leaderboards', locals: { leaderboards: @leaderboards, current_round: @current_round, truncate: 'true' } %>
              </tbody>
            </table>
          </div>
        <% else %>
          <div class="leaderboard-msg">
            <p>Leaderboard is not displayed yet.</p>
          </div>
        <% end %>

        <!-- toggle switch -->
        <% if @challenge.status == :completed && @current_round.present? %>
          <div class="my-2">
            <label class="toggle-switch toggle-switch-large">
              <%= link_to challenge_leaderboards_path(challenge_round_id: @current_round, post_challenge: @post_challenge.blank?) do %>
                <input id="post-challenge-switch" type="checkbox" <%= "checked" if @post_challenge %> >
                <span class="switcher mr-2"></span>
                <span class="label">Show post-challenge submissions</span>
              <% end %>
            </label>
          </div>
        <% end %>
        <!-- /toggle switch -->
      </div>
    </div>
  </div>
</section>
<!-- /section -->
