<% members = @team.team_participants.includes(:participant) %>
<% if members.length == 1 && members.first.participant_id == current_participant&.id %>
  <div class="mb-5">
    ⚠️ As soon as someone else joins this team, your submissions will show up in the leaderboard under the team name.
  </div>
<% end %>
<div class="row">
  <div class="col-12">
    <header class="section-header">
      <div>
        <h4>Members</h4>
      </div>
      <%= team_member_invite_button(@team) %>
    </header>
    <ul class="list-group list-group-flush-px-0 list-group-teams">
      <% members.each do |tp| %>
        <li class="list-group-item">
          <%= link_to tp.participant do %>
            <img class="avatar" src="https://d33wubrfki0l68.cloudfront.net/7d408ce7a8c9ff4ca58268ca1886ff021b5412e7/e1c11/assets/img/user-avatar-default.svg">
            <span class="text-link"><%= tp.participant.name %></span>
            <% if tp.role_organizer? %>
              <span class="badge badge-success">Team Organizer</span>
            <% end %>
          <% end %>
        </li>
      <% end %>
    </ul>

    <% if policy(@team).show_invitations? %>
      <header class="section-header mt-5">
        <div>
          <h4>Invited</h4>
        </div>
      </header>
      <% if @pending_invitations.length > 0 %>
        <ul class="list-group list-group-flush-px-0 list-group-teams">
          <% @pending_invitations.includes(:invitee).each do |inv| %>
            <li class="list-group-item">
              <%= link_to inv.invitee do %>
                <img class="avatar" src="https://d33wubrfki0l68.cloudfront.net/7d408ce7a8c9ff4ca58268ca1886ff021b5412e7/e1c11/assets/img/user-avatar-default.svg">
                <span class="text-link"><%= inv.invitee.name %></span>
              <% end %>
              <%= link_to(
                'Cancel',
                team_invitation_path(team_name: @team, id: inv.id),
                class: 'btn btn-secondary btn-sm',
                data: {
                  method: :delete,
                  confirm: 'Are you sure?',
                  disable_with: 'Cancel',
                },
              ) %>
            </li>
          <% end %>
        </ul>
      <% else %>
        <i>No pending invitations</i>
      <% end %>
    <% end %>
  </div>
</div>

<!-- team member invite modal -->
<div class="modal fade" id="invite-team-member-modal" tabindex="-1" role="dialog" aria-labelledby="invite-team-member-modal-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <%= form_for(TeamParticipant.new, url: team_invitations_path(team_name: @team.name)) do |f| %>
        <div class="modal-header">
          <h4 class="modal-title" id="invite-team-member-modal-label">Invite a member</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>Participant Name</label>
            <div class="input-group mb-3">
              <%= text_field_tag(:name, '', class: 'form-control', placeholder: 'Participant name') %>
            </div>
          </div>
          <div class="btn-set">
            <%= f.submit 'Invite', class: 'btn btn-primary' %>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<!-- /team member invite modal -->
