<main>
  <div class="masthead masthead-open">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h4><%= link_to @challenge.challenge, challenge_path(@challenge), class: 'red-link' %></h4>
          <% if current_participant.present? && required_terms_or_rules_path(@challenge).present? %>
            <h1>Registration</h1>
          <% else %>
            <h1>Challenge Rules</h1>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <!-- section -->
  <div class="section-p-sm pb-0">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <% if @participation_terms.present? %>
            <div data-controller="linkify-content" class="md-content scrollable mb-3">
              <div class="container-fluid pl-0">
                <div class="row">
                  <div class="col-12">
                    <h4 class="ml-n4">AIcrowd Pariticipation Terms</h4>
                  </div>
                </div>
              </div>
              <%= sanitize_html(@participation_terms.terms) %>
            </div>
          <% end %>
          <!-- Challenge Rules -->
          <div data-controller="linkify-content" class="md-content <% if current_participant.present? && required_terms_or_rules_path(@challenge).present? %>scrollable<% end %>">
            <% if current_participant.present? && required_terms_or_rules_path(@challenge).present? %>
              <div class="container-fluid pl-0">
                <div class="row">
                  <div class="col-12">
                    <h4 class="ml-n4">Challenge Rules</h4>
                  </div>
                </div>
              </div>
            <% end %>
            <%= sanitize_html(@challenge_rules.terms) %>

            <% if @challenge.meta_challenge? %>
              <% if @challenge.challenge_problems.where(exclusive: false).present? %>
                <p class="font-weight-bold">Note: This challenge includes some problems which are independent research challenges.</p>
                <p><mark>In case of a conflict between the rules</mark> of <%= @challenge.challenge %> and the rules of an independent challenge, the rules of the independent challenge hold priority. Please go through the rules of the independent challenges below. In case of any confusion or conflict, please do not hesitate to reach out to us.</p>
                <p>Submissions made to the independent challenges will be counted as valid submissions for both the <%= @challenge.challenge %> leaderboard, and the leaderboard of the independent challenge(s).</p>

                <div class="accordion" id="subChallengeRules">
                <% @challenge.challenge_problems.where(exclusive: false).each do |problem| %>
                  <div class="card">
                    <div class="card-header" id="heading<%= problem.id %>">
                      <h2>
                        <button class="btn btn-link m-0 collapsed" type="button" data-toggle="collapse" data-target="#collapse<%= problem.id %>" aria-expanded="false" aria-controls="collapse<%= problem.id %>">
                          <%= problem.problem.challenge %>'s Rules
                        </button>
                      </h2>
                    </div>
                    <div id="collapse<%= problem.id %>" class="collapse" aria-labelledby="heading<%= problem.id %>" data-parent="#subChallengeRules">
                      <div class="card-body">
                        <div data-controller="linkify-content" class="md-content">
                          <%= sanitize_html(problem.problem.current_challenge_rules.terms) %>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- section -->
  <div class="section-p-sm pt-0">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <% if current_participant.present? && required_terms_or_rules_path(@challenge).present? %>
            <%= form_for [@challenge, @challenge_participant], validate: true, html: {class: "form-rg mt-5", style: "max-width: 640px", multipart: true} do |f| %>
              <%= render partial: 'shared/error_messages', locals: { target: @challenge_participant } %>

              <%= f.hidden_field :challenge_rules_accepted_version, value: @challenge_rules.version %>

              <% if @challenge.registration_form_fields.present? %>
              <div class="form-group">
                <h4>Registration Form</h4>
                <span>ℹ️ <i>Your details below will be shared with the challenge organizers</i></span>
              </div>
                <% @challenge.registration_form_fields.split(',').each do |field| %>
                <div class="form-group">
                  <span class="label-text"><%= field %></span>
                  <input class="form-control" type="text" name="challenge_participant[registration_form_details][<%= field %>]" required="required" pattern=".*\S+.*" />
                </div>
                <% end %>
              <% end %>

              <div class="form-group form-check">
                <%= check_box("rules", "accepted", {class: 'form-check-input requires-agreement-checkbox', 'data-target': 'accept-challenge-rules-button'}, "yes", "no") %>
                <label for="rules_accepted">
                  <p> I have read and agree to the challenge rules <% if @participation_terms.present? %>and AIcrowd participation terms<% end %> (required) </p>
                </label>
              </div>

              <% if @challenge_rules.has_additional_checkbox %>
                <div class="form-group form-check">
                  <%= f.check_box :challenge_rules_additional_checkbox, {class: 'form-check-input'}, "true", "false" %>
                  <%= f.label :challenge_rules_additional_checkbox do %>
                    <%= sanitize_html(@challenge_rules.additional_checkbox_text) %>
                  <% end %>
                </div>
              <% end %>
              <div class="btn-set" aria-hidden="true">
                <%= f.button ("Save"), class: 'btn btn-primary requires-agreement', id: 'accept-challenge-rules-button', disabled: true %>
              </div>
            <% end %>
          <% elsif current_participant.present? && @challenge_rules.has_additional_checkbox %>
            <input type="checkbox" disabled <%= 'checked' if @challenge_participant.challenge_rules_additional_checkbox %>>
            <label>
              <%= sanitize_html(@challenge_rules.additional_checkbox_text) %>
            </label>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <!-- /section -->

</main>
<!-- /main content -->
