<div class="section-p-md">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<%= form_for [@organizer, @clef_task],
				             validate: true,
				             html: {class: 'sgl-col'} do |f| %>
					<div class='tab-content'>
						<div id='tab-details' class="tab-pane fade show active">
              <div class="form-group">
                <span class="label-text">Task name</span>
                <%= f.text_field :task, class: "form-control" %>
              </div>

              <div class="form-group">
                <%= render partial: 'challenges/fields/fancy_radio', locals: { f: f, name: :use_challenge_dataset_files, text: "Use challenge dataset files" } %>
              </div>

							<div class="form-group">
								<span class="label-text">EUA file</span>
								<%= f.file_field :eua_file %>
								<br/>
								<br/>
								<% if @clef_task.eua_file.present? %>
									<small id="euaFileUploadHelp1"> You have already uploaded an EUA. If you wish to replace it, you can
										upload a new file</small>
									<%= link_to 'Current EUA', asset_path(@clef_task.eua_file.url) %>
								<% else %>
									<small id="euaFileUploadHelp1"> If this dataset requires an End User Agreement, you can upload it
										here</small>
								<% end %>
								<small id="euaFileUploadHelp1" class="form-text text-muted">PDF only, 5MB limit</small>
							</div>
						</div>

						<div class="btn-set" aria-hidden="true">
							<%= f.button (@clef_task.new_record? ? 'Add Task' : 'Update Task'), class: 'btn btn-primary' %>
						</div>

					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>
