<div class="masthead">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<h4><%= @clef_task.organizer.organizer %></h4>
				<h2><%= @clef_task.task %></h2>

				<% if policy(@clef_task).edit? %>
					<%= link_to 'Edit Task', edit_organizer_clef_task_path(@organizer,@clef_task), class: 'btn btn-secondary btn-sm' %>
				<% end %>
				<hr/>
				<% if @clef_task.eua_file.present? %>
					<%= link_to asset_path(@clef_task.eua_file.url) do %>
						<i class="fa fa-file-pdf-o fa-2x" aria-hidden="true"></i>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
</div>
<!-- section -->
<section class="section-p-sm">
  <div class="container-fluid">
	<div class="row">
		<div class="col-12">
			<% if policy(@clef_task).edit? %>
				<%= link_to "Add Dataset File", new_clef_task_task_dataset_file_path(@clef_task),
							class: 'btn btn-sm btn-primary'%>
			<% end %>
		</div>
	</div>
    <div class="row">
      <div class="col-12">
        <ul class="list-group list-group-flush-px-0 list-group-dataset">
            <hr/>
      <% if policy(@clef_task).edit? %>
        <% @clef_task.task_dataset_files.each do |task_dataset_file| %>
          <%= render partial: 'task_dataset_file', locals: { task_dataset_file: task_dataset_file, clef_task: @clef_task } %>
        <% end %>
			<% else %>
			 <p>Please go to the resources tab of a challenge linked to the task in order to see the dataset files</p>
			<% end %>
        </ul>
      </div>
    </div>
  </div>
</section>
