<!-- masthead – blog post -->
<main>
  <div class="masthead masthead-blog-post">
    <div class="container-fluid">

      <div class="row">
        <div class="col-12">
          <h1>Mark Potanin | AIcrew Stories</h1>

          <div class="masthead-details">
            <span class="author">
              <a href="#"><img class="avatar user-rating-4" src="https://d33wubrfki0l68.cloudfront.net/3c8658547f6dc5e7f0c3aae09e33fed5cd7545db/be47c/assets/img/custom-avatar-2.png"></a>
              <span>By <a href="#">snehananavati</a></span>
            </span>

            <span class="masthead-date">09 March 2021</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
  <!-- /masthead – blog post -->

<div class="section-p-md">
  <div class="container-fluid">
    <div class="row">

      <div class="col-2 position-relative">
        <div class="social-options">
          <button class="btn btn-secondary btn-sm button-scroll" role="button" data-toggle="tooltip" data-placement="right" title="View Comments" data-controller="blogs" data-action="click->blogs#scrollToComments">
            <img src="https://d33wubrfki0l68.cloudfront.net/5280a0d099efb51753ec327b9c22af89ce52266e/cabdf/assets/img/icon-comment.svg">&nbsp;<%= CommontatorComment.where(thread_id: CommontatorThread.where(commontable_id: @blog.id, commontable_type: "Blog").first.id).count %>
          </button>

          <%= render partial: 'shared/votes/button', locals: { votable: @blog, vote: @blog.vote(current_participant) } %>

          <hr>

          <%= blog_social_share('facebook', request.url, @blog.title) %>
          <%= blog_social_share('twitter', request.url,  @blog.title) %>
          <%= blog_social_share('linkedin', request.url, @blog.title) %>
        </div>
      </div>
      <!-- /social-options -->
      <div class="col-12 col-md-8">
        <div class="md-content mx-auto">
          <%= sanitize_html(@blog.body) %>
        </div>

        <div class="social-options-sm">
          <button type="button" class="btn btn-secondary btn-sm" >
            <svg width="12" height="11" xmlns="http://www.w3.org/2000/svg"><path d="M10.8746251 6.14539024L5.97691577 11.0430996 1.07920644 6.14539024C.43154568 5.50196808.03030318 4.61061457.03030318 3.62554576c0-1.96049121 1.58929212-3.54978364 3.54978364-3.54978364.92305599 0 1.76382467.35231416 2.39516959.92980603.63649437-.6044087 1.49691101-.97526512 2.44394586-.97526512 1.96049123 0 3.54978363 1.58929242 3.54978363 3.54978364 0 1.00819292-.4203017 1.91821904-1.0952455 2.56441886z" fill="#F0524D" fill-rule="evenodd"/></svg>&nbsp;36
          </button>

          <%= blog_social_share('facebook', request.url, @blog.title) %>
          <%= blog_social_share('twitter', request.url,  @blog.title) %>
          <%= blog_social_share('linkedin', request.url, @blog.title) %>
        </div>
        <!-- /social-options -->

        <div class="about-author">
          <div class="author">
            <a href="#"><img class="avatar user-rating-4" src="https://d33wubrfki0l68.cloudfront.net/3c8658547f6dc5e7f0c3aae09e33fed5cd7545db/be47c/assets/img/custom-avatar-2.png"></a>
            <div class="author-details">
              <h3>Written by</h3>
              <a href="#">snehananavati</a>
            </div>
            <a id="follow-link-participant-13256" class="btn btn-secondary btn-sm" data-remote="true" rel="nofollow" data-method="post" href="/participants/13256/follows?active_tab=false&amp;other_participant=snehananavati">Follow</a>
          </div>
        </div>
      </div>

    </div>
    <!-- /md content -->
  </div>
</div>
<section class="section-p-md border-top">
  <div class="container-fluid">
    <div class="row justify-content-md-center">
      <div class="col-12 col-sm-8">
        <div class="blog-discussion">
          <%= commontator_thread(@blog) %>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- section -->
<section class="section-p-md border-top">

  <!-- blog post previews -->
  <div class="container-fluid">
    <div class="row">

      <!-- section header -->
      <div class="col-12">
        <header class="section-header">
          <div>
            <h4>You may also like...</h4>
          </div>
          <%= button_to 'See all', blogs_path, class: "btn btn-secondary btn-sm", method: :get %>
        </header>
      </div>
      <!-- /section header -->
      <% @selected_blogs.each_with_index do |blog,index| %>
          <%= render partial: 'blog_post', locals: { blog: blog } %>
      <% end %>
    </div>
  </div>
  <!-- /blog post previews -->

</section>
<!-- /section -->
