<!-- section -->
<div class="section-p-md">
  <div class="container-fluid">
    <div class="row">

      <!-- account settings -->
      <div class="col-12">
      
        <%= form_for [@participant,@email_preference],
        html: {
          class: 'form-rg',
            data: { controller: 'email-preferences' }
        } do |f| %>
        <%= render "shared/error_messages", target: @email_preference %>

          <div class="form-check">
            <%= f.check_box :newsletter, class: "form-check-input" %>
            <label class="form-check-label" for="newsletterEmails">
              Receive the AIcrowd Newsletter
            </label>
          </div>

          <div class="form-check">
            <%= f.check_box :challenges_followed,
            { data:
              { target: 'email-preferences.challengesFollowed',
              action: 'click->email-preferences#toggleFrequency' },
              class: "form-check-input" 
            }, "true", "false"%>

            <label class="form-check-label" for="challengeEmails">
              Receive email updates for challenges which I am following
            </label>
          </div>

          <div class="form-check">
            <%= f.check_box :mentions,
            { data:
              { target: 'email-preferences.mentions',
              action: 'click->email-preferences#toggleFrequency' },
              class: "form-check-input" 
            }, "true", "false" %>
            <label class="form-check-label" for="mentionEmails">        
              Receive emails when someone mentions me in a comment or post
            </label>
          </div>

          <div class="btn-set" aria-hidden="true">
            <%= f.button 'Update', type: 'submit', class: 'btn btn-primary' %>
            <%= link_to 'Cancel', edit_participant_email_preference_path, class: 'btn btn-secondary' %>
          </div>

        <% end %>

      </div>
      <!-- /account settings -->

    </div>    
  </div>
</div>
<!-- /section -->