<!-- section -->
<div class="section-p-md">
  <div class="container-fluid">
    <div class="row">

      <!-- account settings -->
      <div class="col-12">

        <%= form_for @participant,
                     url:  { action: :update, controller: :email_preferences },
                     html: { class: 'form-rg' } do |f| %>
          <%= render "shared/error_messages", target: @participant %>

          <div class="form-group">
            <%= render partial: 'challenges/fields/fancy_radio', locals: { f: f, name: :agreed_to_marketing, text: 'Receive the AIcrowd Newsletter' } %>
            <%= render partial: 'challenges/fields/fancy_radio', locals: { f: f, name: :agreed_to_organizers_newsletter, text: 'Receive e-mails from challenge organizers' } %>
          </div>

          <div class="mt-5 mb-5">
            <i>More Notification Settings Coming Soon!</i>
          </div>

          <div class="btn-set" aria-hidden="true">
            <%= f.button 'Update', type: 'submit', class: 'btn btn-primary' %>
            <%= link_to 'Cancel', edit_participant_registration_path, class: 'btn btn-secondary' %>
          </div>

        <% end %>

      </div>
      <!-- /account settings -->

    </div>
  </div>
</div>
<!-- /section -->
