<% if resource.errors.any? %>
  <% content_for :flash_messages do %>
    <%= render partial: 'layouts/flash_message', locals: { type: 'error', message: resource.errors.full_messages.to_sentence } %>
  <% end %>
<% end %>

<div class="bg-graph">
  <!-- masthead -->
  <div class="masthead masthead-open">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h1>Sign up</h1>
          <p><strong>One account per individual.</strong> If you're joining as part of a company/organization, please
            create an account for each individual.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- /masthead -->

  <!-- section -->
  <div class="section-p-sm">
    <div class="container-fluid">
      <div class="row">
        <div data-controller="registration-form" class="col-12">

          <%= form_for resource, as: resource_name, url: registration_path(resource_name), html: {class: 'form-rg', data: { controller: "mixpanel", type: "signupEmail" }}, validate: true do |f| %>
            <!-- social log in buttons -->
            <div class="btn-set-social">
              <%= link_to participant_github_omniauth_authorize_path, {class: "btn btn-github btn-block", data: { controller: "mixpanel", type: "signupGitHub" }} do %>
                <%= image_tag "/assets/img/icon-github.svg" %>Sign Up with GitHub
              <% end %>
            </div>
            <div class="btn-set-social">
              <%= link_to participant_google_oauth2_omniauth_authorize_path, {class: "btn btn-google btn-block", data: { controller: "mixpanel", type: "signupGoogle" }} do%>
                <%= image_tag "/assets/img/icon-google.svg" %>Sign Up with Google
              <% end %>
            </div>
            <!-- /social log in buttons -->

            <h4 class="mb-4">Or sign up with email</h4>

            <%= render partial: 'shared/error_messages', locals: { target: resource } %>

            <div class="form-group">
              <label for="username">Choose a username</label>
              <%= f.text_field :name, class: "form-control", type: 'text', id: "username" %>
              <small id="usernameHelp" class="form-text text-muted">Max. of 255 characters. No spaces</small>
            </div>

            <div class="form-group">
              <label for="email">Email</label>
              <%= f.text_field :email, class: 'form-control', id: "email" %>
            </div>

            <div class="form-group">
              <label for="password">Create a new password</label>
              <%= f.password_field :password, class: 'form-control', id: "password" %>
              <small id="passwordHelp" class="form-text text-muted">Min. of 8 characters</small>
            </div>

            <div class="form-group">
              <label for="retypePassword">Re-type new password</label>
              <%= f.password_field :password_confirmation, class: "form-control", id: "retypePassword" %>
            </div>

            <div class="form-group form-check mb-3">
                By signing up, you agree to the terms in the
                <%= link_to 'Terms of Use', terms_path %>
                and the <%= link_to 'Privacy Policy', privacy_path %>
            </div>

            <div class="form-group form-check mb-4">
              You also agree to receive occasional updates about AIcrowd news, including new challenge launches and other
              activities (this can be turned off in your settings).
            </div>

            <%= hidden_field_tag :referred_by_uuid, value: '' %>

            <% if Rails.env.production? %>
              <div class="form-group form-check mb-4">
                <%= recaptcha_tags %>
              </div>
            <% end %>

            <%= f.button 'Create account', type: 'submit', class: 'btn btn-primary btn-block', id: "sign-up-button"%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <!-- /section -->

  <!-- section -->
  <div class="section-p-md border-top bg-white">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <div class="section-header-mb-sm">
            <h4>Already registered?</h4>
          </div>
          <%= link_to "Log in", new_participant_session_path, {class: "btn btn-secondary", role: "button"} %>
        </div>
      </div>
    </div>
  </div>
  <!-- /section -->
</div>
</div>
