<div class="col-md-12" data-controller="code-based-submission">
  <% if @challenge.completed? %>
    <br/>
    <p class="pl-14">This challenge is now completed. You may continue to make submissions and your entries will appear on the Ongoing Leaderboard.</p>
  <% end %>
  <%= form_for [@challenge,@submission], html: { class: "directUpload dbl-col col-12", multipart: true },
        data: { 'form-data' => (@s3_direct_post.fields), 'url' => @s3_direct_post.url, 'host' => URI.parse(@s3_direct_post.url).host } do |f| %>

    <%= render partial: 'shared/error_messages', locals: { target: @submission } %>

    <% if @challenge.running? %>
    <div class="md-content mw-100">
      <blockquote><p>ℹ️
        <% if @reset_dttm %>
          You have <%= pluralize(@submissions_remaining,'submission') %> remaining until <%= @reset_dttm %>.
        <% else %>
          You have <%= pluralize(@submissions_remaining,'submission') %> remaining.
        <% end %>
      </p></blockquote>
    </div>
    <% end %>

    <% if @challenge.submission_instructions.present? %>
      <label>
        <%= sanitize_html(@challenge.submission_instructions) %>
      </label>
    <% end %>

    <div class="border">
      <div class="bg-light border-bottom p-2 row m-0">
        <div class="col-2 p-0">
          <select class="form-control" name="language">
            <option value="python">Python</option>
            <option value="cpp">C++</option>
            <option value="file">Text</option>
          </select>
        </div>
        <div class="col-10 p-0">
          <select class="form-control col-2 float-right" id="ace-editor-theme">
            <optgroup label="Bright"><option value="ace/theme/chrome">Chrome</option><option value="ace/theme/clouds">Clouds</option><option value="ace/theme/crimson_editor">Crimson Editor</option><option value="ace/theme/dawn">Dawn</option><option value="ace/theme/dreamweaver">Dreamweaver</option><option value="ace/theme/eclipse">Eclipse</option><option value="ace/theme/github">GitHub</option><option value="ace/theme/iplastic">IPlastic</option><option value="ace/theme/solarized_light">Solarized Light</option><option value="ace/theme/textmate">TextMate</option><option value="ace/theme/tomorrow">Tomorrow</option><option value="ace/theme/xcode">Xcode</option><option value="ace/theme/kuroir">Kuroir</option><option value="ace/theme/katzenmilch">KatzenMilch</option><option value="ace/theme/sqlserver">SQL Server</option></optgroup><optgroup label="Dark"><option value="ace/theme/ambiance">Ambiance</option><option value="ace/theme/chaos">Chaos</option><option value="ace/theme/clouds_midnight">Clouds Midnight</option><option value="ace/theme/dracula">Dracula</option><option value="ace/theme/cobalt">Cobalt</option><option value="ace/theme/gruvbox">Gruvbox</option><option value="ace/theme/gob">Green on Black</option><option value="ace/theme/idle_fingers">idle Fingers</option><option value="ace/theme/kr_theme">krTheme</option><option value="ace/theme/merbivore">Merbivore</option><option value="ace/theme/merbivore_soft">Merbivore Soft</option><option value="ace/theme/mono_industrial">Mono Industrial</option><option value="ace/theme/monokai">Monokai</option><option value="ace/theme/nord_dark">Nord Dark</option><option value="ace/theme/pastel_on_dark">Pastel on dark</option><option value="ace/theme/solarized_dark">Solarized Dark</option><option value="ace/theme/terminal">Terminal</option><option value="ace/theme/tomorrow_night">Tomorrow Night</option><option value="ace/theme/tomorrow_night_blue">Tomorrow Night Blue</option><option value="ace/theme/tomorrow_night_bright">Tomorrow Night Bright</option><option value="ace/theme/tomorrow_night_eighties">Tomorrow Night 80s</option><option value="ace/theme/twilight">Twilight</option><option value="ace/theme/vibrant_ink">Vibrant Ink</option></optgroup>
          </select>
        </div>
      </div>
      <textarea id='ace-editor'></textarea>
      <%= f.hidden_field :submission_data, id: 'ace-editor-value', value: @form_type %>
      <div class="ace-editor-pad"></div>
    </div>
    <small class="form-text">The code should generate all the artifacts, see example codes for more idea.</small>
    <% if @challenge.license.present? %>
      <p class="margin-bottom">
        <%= sanitize_html(@challenge.license) %>
      </p>
    <% else %>
      <p class="margin-bottom"></p>
    <% end %>

    <div class="form-content">
      <%= f.hidden_field :submission_type, value: @form_type %>
      <div class='btn-set'>
        <%= f.submit 'Submit Submission', class: 'btn btn-primary btn-sm' %>
      </div>
    </div>
  <% end %>
</div>
</div>
