<%= form_with url: path, local: true, method: :get, enforce_utf8: false, data: {controller: "publications" }, class: 'filter-dropdown-form' do |f| %>
  <div class="dropdown">
    <div class="filter dropdown-toggle <%= 'filter-active' if params[:years] %>" id="publication-years" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Year
    </div>
    <div class='dropdown-menu form-dropdown'>
      <% @years.each do |year| %>
        <div class="form-check">
          <%= label_tag do %>
            <%= f.check_box :year, { checked: check_selected_year(year), class: 'form-check-input' }, year %>
            <%= year %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="dropdown">
    <div class="filter dropdown-toggle <%= 'filter-active' if params[:categories].present? %>" id="publication-categories" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Categories
    </div>
    <div class='dropdown-menu form-dropdown'>
      <% @categories.each do |category| %>
        <div class="form-check">
          <%= label_tag do %>
            <%= f.check_box :category, { checked: check_selected_category(category), class: 'form-check-input' }, category.name %>
            <%= category.name.humanize %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="dropdown">
    <div class="filter dropdown-toggle <%= 'filter-active' if params[:venues].present? %>" id="publication-venues" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Venue
    </div>
    <div class='dropdown-menu form-dropdown'>
      <% @venues.each do |venue| %>
        <div class="form-check">
          <%= label_tag do %>
            <%= f.check_box :venue, { checked: check_selected_venue(venue), class: 'form-check-input' }, venue %>
            <%= venue.humanize %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <%= f.submit 'Apply', name: nil, data: { action: 'click->publications#filterUrl'}, class: 'btn btn-link btn-sm apply-filter-btn' %>
<% end %>
