<div class="masthead masthead-challenge">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <span class="badge badge-success"><img src="https://d3qvx1ggyg4lu1.cloudfront.net/assets/img/icon-time.svg">
          <%= @publication.publication_date.strftime("%B %Y") %>
        </span>
        <% @publication.categories.each do |category| %>
          <a href="#">
            <span class="badge badge-outline">#<%= category.name %></span>
          </a>
        <% end %>
      </div>
    </div>

    <div class="modal preview-modal" id="preview-modal" tabindex="-1" role="dialog" aria-labelledby="previewModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document" style="max-width: 90%;">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="previewModalLabel">Cite</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="research-citation-caontainer" id="citation-preview-container">
                <%= @publication.cite %>
            </div>
          </div>
          <div class="modal-footer">
            <button type ="button" class="btn btn-secondary clipboard-btn" data-clipboard-action="copy" data-clipboard-target="#citation-preview-container">Copy to clipboard</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- title/description/prizes -->
    <div class="row">
      <div class="col-sm-12">
        <h4 class="mb-3"><%= @publication.venues.first.venue %></h4>
        <h1 style="max-width: unset;text-transform: capitalize;font-size: 2.25rem;"><%= @publication.title %></h1>

        <div class="avatar-group mt-3 mb-n4 list-group-research-big">
          <% @publication.authors.each do |author| %>
            <% if author.participant_id.present? %>
              <%= render partial: 'participants/get_user_profile_for_research', locals: { participant: author.participant, username: author.name } %>
            <% else %>
              <a href="#" class="mr-3">
                <img class="avatar" src="https://d33wubrfki0l68.cloudfront.net/7d408ce7a8c9ff4ca58268ca1886ff021b5412e7/e1c11/assets/img/user-avatar-default.svg" style="width: 24px;height: 24px;">
                <span class="text-link"><%= author.name %></span>
              </a>
            <% end %>
          <% end %>
        </div>
        </div>
          <div class="col-sm-12 col-md-4 col-lg-3">
          <div class="prizes-breakdown">
          </div>
        </div>
      </div>
    </div>
    <!-- /title/description/prizes -->
  </div>
  <!-- /organizer/stats/options -->
</div>
<!-- /masthead - challenge -->

<!-- sub-nav bar -->
<div class="sub-nav-bar sticky-top">
  <div class="container-fluid overflow-hidden">
    <div class="row col-12 d-flex justify-content-end">
      <div class="mr-auto btn-set" aria-hidden="true">
        <% @publication.external_links.each do |external_link| %>
          <a class="btn btn-primary btn-sm" href="<% external_link.link %>">
            <% if external_link.icon.present? %>
              <span class="mr-2 fa <%= external_link.icon %>"></span>
            <% end %>
            <%= external_link.name %>
          </a>
        <% end %>

      </div>
      <div class="align-self-center">
        <a class="btn btn-secondary btn-sm mr-1">
          <span class="fa fa-facebook" style="color: gray;"></span>
        </a>
        <a class="btn btn-secondary btn-sm mr-1">
          <span class="fa fa-twitter" style="color: gray;"></span>
        </a>
        <a class="btn btn-secondary btn-sm mr-1">
          <span class="fa fa-linkedin" style="color: gray;"></span>
        </a>
        <button type="button" class="btn btn-secondary btn-sm preview-button" data-toggle="modal" data-target="#preview-modal" style="height: 60%; color:gray !important;">
          <span class="fa fa-quote-left mr-2"></span>Cite
        </button>
      </div>
    </div>
  </div>
</div>
<!-- /sub-nav bar -->

<!-- section -->
<section class="section-p-md">
  <div class="container-fluid">
    <div class="row">
      <div class="row col-lg-9">
        <header class="section-header">
          <h4 class="ml-3">Abstract</h4>
        </header>

        <!-- md content -->
        <div class="col-md-12">
          <div class="markdown-wrap">
            <div class="md-content w-100" style="max-width: unset;">
              <span style="max-width: unset;text-align: justify;">
                <%= @publication.abstract.html_safe %>
              </span>
              <% if @publication.description.present? %>
                <header class="section-header">
                  <h4 class="mt-4">Description</h4>
                </header>
                <span style="max-width: unset;text-align: justify;">
                  <%= @publication.abstract.html_safe %>
                </span>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /section -->

