<!-- masthead -->
<div class="masthead masthead-open">
    <div class="container-fluid">

      <!-- title -->
      <div class="row">
        <div class="col-12">
          <h4>Organize a challenge</h4>
          <h1><%= @challenge_call.title %></h1>
          <p>by <%= link_to @challenge_call.organizer.organizer, organizer_path(@challenge_call.organizer) %></p>
          <% if @challenge_call.closing_date.present? %>
          <p class='light'>Closing date: <%= @challenge_call.closing_date.strftime("%d %b %Y, %H:%M UTC") %></p>
        <% end %>
      </div>
  </div>
  <!-- /title -->
</div>

<% if @challenge_call.call_closed? %>
  <%= render partial: 'call_closed' %>
<% else %>
  <%= render partial: 'call_open' %>
<% end %>
