<% discourse_topics.each do |discourse_topic| %>
  <% author = discourse_original_poster(discourse_topic) %>

  <ul class="list-group list-group-flush-px-0 list-group-discussion">
    <!-- topic -->
    <li class="list-group-item">
      <div class="col-9">
        <div class="like-counter-vertical">
          <span><%= discourse_topic['like_count'] %></span>
          <% if discourse_topic['like_count'].to_i.positive? %>
            <%= image_tag image_path('img/icon-like.svg'), alt: 'Like icon' %>
          <% else %>
            <%= image_tag image_path('img/icon-like-grey.svg'), alt: 'Like icon' %>
          <% end %>
        </div>

        <div>
          <%= link_to discourse_topic['title'], discourse_topic_url(discourse_topic['slug'], discourse_topic['id']), class: 'topic-title text-link' %>
          <% if author['participant'].present? %>
            <span>By <%= render partial: 'participants/get_user_profile', locals: { participant: author['participant'], avatar: 'false' } %> <%= discourse_time_ago(discourse_topic['created_at']) %></span>
          <% else %>
            <span><%= discourse_time_ago(discourse_topic['created_at']) %></span>
          <% end %>
        </div>
      </div>

      <div class="avatar-group col-2">
        <% discourse_topic['posters'].take(2).each_with_index do |poster, index| %>
          <% if poster['participant'].present? %>
            <%= render partial: 'participants/get_user_profile', locals: { participant: poster['participant'], username: 'false' } %>
          <% else %>
          <!-- TODO: Render profile for a default or deleted user ? -->
          <% end %>
        <% end %>
      </div>

      <div class="topic-comments">
        <%= image_tag image_path('img/icon-comment.svg') %>
        <%= discourse_topic['posts_count'] %>
      </div>
    </li>
    <!-- /topic -->
  </ul>
<% end %>
