<div class="masthead">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <% if challenge.persisted? %>
        <h4><%= challenge.challenge %></h4>
        <% end %>
        <h1>Edit challenge</h1>
      </div>
    </div>
  </div>
</div>

<div class="sub-nav-bar sticky-top">
  <div class="container-fluid">
    <ul class='nav'>
      <li class="nav-item"><a class="nav-link active" data-toggle='tab' href="#tab-details" onclick="return false;">Details</a></li>
      <li class="nav-item"><a class="nav-link" data-toggle='tab' href="#tab-rules" onclick="return false;">Rules</a></li>
      <li class="nav-item"><a class="nav-link" data-toggle='tab' href="#tab-type" onclick="return false;">Rounds</a></li>
      <li class="nav-item"><a class="nav-link" data-toggle='tab' href="#tab-overview" onclick="return false;">Overview</a></li>
      <li class="nav-item"><a class="nav-link" data-toggle='tab' href="#tab-private" onclick="return false;">Private Challenge</a></li>
      <li class="nav-item"><a class="nav-link" data-toggle='tab' href="#tab-dataset" onclick="return false;">Dataset</a></li>
      <li class="nav-item"><a class="nav-link" data-toggle='tab' href="#tab-submissions" onclick="return false;">Submissions</a></li>
      <li class="nav-item"><a class="nav-link" data-toggle='tab' href="#tab-winner" onclick="return false;">Winner</a></li>
      <% if current_participant.admin? %>
      <li class="nav-item"><a class="nav-link" data-toggle='tab' href="#tab-dynamic" onclick="return false;">Admin</a></li>
      <% end %>
    </ul>
  </div>
</div>

<div class="section-p-md">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">

        <div class='tab-content'>
          <div id='tab-details' class="tab-pane fade show active">
            <%= render partial: 'challenges/form/details', locals: { challenge: challenge } %>
          </div>

          <div id='tab-rules' class="tab-pane fade">
            <%= render partial: 'challenges/form/rules', locals: { challenge: challenge } %>
          </div>

          <div id='tab-type' class="tab-pane fade">
            <%= render partial: 'challenges/form/rounds', locals: { challenge: challenge } %>
          </div>

          <div id='tab-overview' class="tab-pane fade">
            <%= render partial: 'challenges/form/overview', locals: { challenge: challenge } %>
          </div>

          <div id='tab-private' class="tab-pane fade">
            <%= render partial: 'challenges/form/private_challenge', locals: { challenge: challenge } %>
          </div>

          <div id='tab-dataset' class="tab-pane fade">
            <%= render partial: 'challenges/form/dataset', locals: { challenge: challenge } %>
          </div>

          <div id='tab-submissions' class="tab-pane fade">
            <%= render partial: 'challenges/form/submissions', locals: { challenge: challenge } %>
          </div>

          <div id='tab-winner' class="tab-pane fade">
            <%= render partial: 'challenges/form/winner', locals: { challenge: challenge } %>
          </div>

          <% if current_participant.admin? %>
          <div id='tab-dynamic' class="tab-pane fade">
            <%= render partial: 'challenges/form/dynamic_content', locals: { challenge: challenge } %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<% if policy(challenge).destroy? %>
<div class="additional">
  <div class="row">
    <a data-remodal-target="modal">Delete Challenge</a>
  </div>
</div>
<% end %>
</div>
