<%= form_for [@organizer,@challenge], validate: true, html: { class: "form-rg" } do |f| %>

<div class="form-group">
  <%= f.check_box :private_challenge, {}, "true", "false" %>
  <%= f.label :private_challenge, 'Private challenge' %>
</div>

<% if @challenge.persisted? %>

<%= form_tag import_challenge_invitations_path(@challenge), multipart: true do %>
<%= file_field_tag :file %>
<%= submit_tag "Import CSV", class: 'btn' %>
<% end %>

<%= render partial: 'challenges/form/invitations_table',
locals: { challenge: @challenge, f: f } %>

<%= render partial: 'challenges/form/submit_buttons',
locals: { f: f } %>

</fieldset>
<% end %>

<% end %>
