<li data-cell='Discussion::Cell::ListDetail'>
  <%= concept(Discussion::Cell::TopicLikesListDetail,topic) %>
  <div class="pic">
    <% if topic.participant.present? %>
      <%= link_to participant_path(author) do %>
        <%= concept(Image::Cell ,author) %>
      <% end %>
    <% else %>
      <%= link_to '#' do %>
        <%= concept(Image::Cell, author) %>
      <% end %>
    <% end %>
  </div>
  <div class="details">
    <h5><%= link_to topic.topic, topic_path(topic) %></h5>
    <p class="user">
      <%= participant_link %>
      <%= time_ago_in_words(topic.created_at) %> ago
    </p>
  </div>
</li>
