<div class="sub-nav-bar sub-nav-bar-2-items sticky-top">
  <div class="container-fluid">
    <ul class="nav">
      <li class="nav-item">
        <%= link_to 'Challenges', organizer_path(organizer), class: "nav-link nav-link-01 " + tab_class('challenges') %>
      </li>
      <% if policy(organizer).update? %>
        <li class="nav-item">
          <%= link_to 'Members', organizer_members_path(organizer), class: "nav-link nav-link-02 " + tab_class('members') %>
        </li>
      <% end %>
      <% if organizer.clef? && policy(organizer).update?%>
        <li class="nav-item">
          <%= link_to 'Tasks', organizer_clef_tasks_path(organizer), class: "nav-link nav-link-03 " +  tab_class('tasks') %>
      </li>
      <% end %>
    </ul>
    <% if policy(organizer).update? %>
      <%= link_to 'Create Challenge', new_challenge_path, class: 'btn btn-secondary btn-sm' %>
      <%= link_to 'Edit organizer', edit_organizer_path(organizer), class: 'btn btn-secondary btn-sm' %>
    <% end %>
  </div>
</div>
