<div id="achievement-tab" class="container-fluid">
  <div class="row">
    <% participant_badge_data.each do |badge, result| %>
      <div class="column" style="margin-bottom: 10%; margin-right: 1%;">
        <% unless result[:active_badge].is_a?(Integer) %>
          <div class="modal" id='<%= "show-badges-modal-#{result[:active_badge].id}" %>' tabindex="-1" role="dialog" aria-labelledby="previewModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document" style="max-width: 30%;">
              <div class="modal-content" style="max-width: 94%; margin-top: 30%;">
                <%= react_component("molecules/AchievementPopup/index", { icon: result[:active_badge].image, title: "Congratulations!", description: result[:active_badge].description, url: request.original_url, badgeTitle: result[:active_badge].name, socialMessage: result[:active_badge].social_message}) %>
              </div>
            </div>
          </div>
        <% end %>
        <% show_share = result[:active_badge].is_a?(Integer) ? false : true %>
        <% badgeId = result[:active_badge].is_a?(Integer) ?  nil : "#show-badges-modal-#{result[:active_badge].id}"%>
        <% if result[:badges].count == 3 %>
          <%= react_component("organisms/AchievementListItem/index", { icon: result[:icon], progress: result[:current_points].to_i, target: {bronze_count: result[:badges].first.target, silver_count: result[:badges].second.target, gold_count: result[:next_badge].target}, title: badge, description: (result[:active_badge].description rescue 'Please perform more actions to unlock this badge.'), hideFirst: false, hideBronze: false, showShare: show_share, badgeId: badgeId}) %>
        <% elsif result[:badges].count == 2 %>
          <%= react_component("organisms/AchievementListItem/index", { icon: result[:icon], progress: result[:current_points].to_i, target: {bronze_count: result[:badges].first.target, silver_count: result[:badges].first.target, gold_count: result[:next_badge].target}, title: badge, description: (result[:active_badge].description rescue 'Please perform more actions to unlock this badge.'), hideFirst: true, hideBronze: false, showShare: show_share, badgeId: badgeId}) %>
        <% elsif result[:badges].count == 1%>
          <%= react_component("organisms/AchievementListItem/index", { icon: result[:icon], progress: result[:current_points].to_i, target: {bronze_count: result[:badges].first.target, silver_count: result[:badges].first.target, gold_count: result[:next_badge].target}, title: badge, description: (result[:active_badge].description rescue 'Please perform more actions to unlock this badge.'), hideFirst: false, hideBronze: true, showShare: show_share, badgeId: badgeId}) %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>