<% badges_count, badges = participant.badges_stats %>
<% badge_colors = ['Gold', 'Silver', 'Bronze'] %>
<section class="section-p-md">
  <div class="container-fluid">
    <div class="row">
      <% badge_colors.each do |color| %>
        <!-- achievements-gold -->
        <div class="col-12 col-md-4">
          <div class="achievements-overview">

            <header class="achievements-gold">
                  <span class="achievements-level">
                    <%= color %>
                  </span>
              <span class="achievements-total">
                    <%= badges_count[BadgeType.find_by(name: color)&.id.to_i].to_i %>
                  </span>
            </header>
            <% badges[color.to_sym].to_a.each do |badge| %>
              <div class="achievements-list">
                <div class="achievements-list-item">
                  <div class="achievements-description-gold">
                    <%= badge['name'] %>
                  </div>
                  <div class="achievements-date">
                    <%= badge['created_at'].strftime("%B %d, %Y") %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>


      <% end %>
    </div>
  </div>
</section>
<div class="container-fluid">
  <header class="section-header">
    <div>
      <h4>Badges</h4>
    </div>
  </header>
  <ul class="list-group list-group-flush-px-0 list-group-achievements">
    <% participant.badges.includes(:aicrowd_badge).each do |badge| %>
      <li class="list-group-item">
        <div>
          <div class="award-image">
            <img src="/assets/awards/award-<%= badge.aicrowd_badge.badge_type&.name&.downcase %>.svg" class="country-flag" />
          </div>
          <div>
            <div class="text-link">
              <%= badge.aicrowd_badge['name'] %>
            </div>
            <span class="description">
              <%= badge.aicrowd_badge['description'] %> <br />
              <% badge.custom_fields.each do |key,value| %>
                <% if key == 'challenge_round' %>
                  <% challenge = ChallengeRound.find_by(id: value).challenge %>
                  <%= link_to "Challenge: #{challenge.challenge}", challenge_path(challenge), class: 'red-link' %>
                <% else %>
                  <%= key %> : <%= value %> <br />
                <% end %>
              <% end %>
            </span>
          </div>
        </div>
        <span class="award-date">
          <%= badge.aicrowd_badge['created_at'].to_date.strftime("%B %d, %Y") %>
        </span>
      </li>
    <% end %>
  </ul>

</div>
