<div class="container-fluid">
  <ul class="list-group list-group-flush-px-0 list-group-achievements">
    <% posts.each do |post| %>
      <!-- achievement -->
      <li class="list-group-item">
        <div>
          <a class="award-image" href="#">
            <img class="award" src="<%=post.thumbnail%>">
          </a>
          <div>
            <%= link_to post.title, post_path(post.id)%>
            <span class="description">
              <%= post.tagline %>
            </span>
            <div class="topic-comments">
              <img src="https://d3qvx1ggyg4lu1.cloudfront.net/assets/img/icon-comment-11e998ea01cd8cbe77d3cbff35bb8c27e78c508e352bdb847fb56b76717b4c6b.svg">
                    3
            </div>
          </div>
        </div>
        <div class="row">
          <div class="btn-set" aria-hidden="true">
            <%= link_to post_likes_path(post), id: post.id, method: :post, remote: true do %>
            <button type="button" class="btn btn-secondary btn-sm">
              <svg width="12" height="11" xmlns="http://www.w3.org/2000/svg"><path d="M10.8746251 6.14539024L5.97691577 11.0430996 1.07920644 6.14539024C.43154568 5.50196808.03030318 4.61061457.03030318 3.62554576c0-1.96049121 1.58929212-3.54978364 3.54978364-3.54978364.92305599 0 1.76382467.35231416 2.39516959.92980603.63649437-.6044087 1.49691101-.97526512 2.44394586-.97526512 1.96049123 0 3.54978363 1.58929242 3.54978363 3.54978364 0 1.00819292-.4203017 1.91821904-1.0952455 2.56441886z" fill="#F0524D" fill-rule="evenodd"/></svg>
              <%= post.likes.count %>
            </button>
            <% end %>
          </div>
        </div>
      </li>
      <!-- /achievement -->
    <% end %>
  </ul>
</div>