<div class="section-p-md">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <ul class="list-group list-group-flush-px-0 list-group-contributions">
          <% posts.friendly.all.each do |post| %>
            <li class="list-group-item">
              <div class="contribution-details">
                <a class="image-link" href="<%= post_path(post) %>"><img src="<%=post.thumbnail%>"></a>

                <div class="contribution-text">
                  <a class="text-link" href="<%= post_path(post) %>"><%= post.title %></a>

                  <span class="contribution-subtitle"><%= post.tagline %></span>

                  <div class="contribution-user-time">
                    <%= render partial: 'participants/get_user_profile', locals: { participant: post.participant, avatar: 'false'} %></a>&nbsp;·&nbsp;<span class="contribution-time"><%= "#{discourse_time_ago(post.created_at)}" %></span>
                  </div>
                </div>
              </div>
              <div class="float-right">
                <div class="float-right">
                  <%= render partial: 'shared/votes/button', locals: { votable: post, vote: post.vote(current_participant) } %>
                </div>
                <div class="contribution-user-time d-flex mt-5 small" style="clear: both;">
                  <a href="#" class="font-weight-light">View</a>
                  <% if !post.execute_in_colab_url.nil? %>
                    &nbsp;·&nbsp;
                    <a href="<%= post.execute_in_colab_url %>" target="_blank" class="font-weight-light">Open in Colab</a>
                  <% end %>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
        <!-- /list-group-contributions -->

      </div>
    </div>
  </div>
</div>
