<!-- masthead – user -->
<div class="masthead masthead-user">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="d-flex">
          <div class="column" style="align-self: flex-end;margin-right: 40px;">
            <div class="row"><%= participant_avatar participant %></div>

            <div class="row ml-3 mt-3"><%= @participant.followers_participant_count %> Follower</div>
            <div class="row ml-3"><%= @participant.following_participant_count %> Following</div>
            <% if current_participant.present? && current_participant != participant %>
              <div class="masthead-info-item follow-participant row ml-2 mt-2">
                <%= render partial: 'shared/challenges/follow_button', locals: { followable: participant, follow: @follow, other_participant: participant, active_tab: false } %>
              </div>
            <% end %>
          </div>
          <div class="masthead-content">
            <div class="column">
              <div class="row"><h1><%= participant.name %></h1></div>
              <% if participant.first_name.present? || participant.last_name.present? %>
                <div class="row"><h3><%= participant.first_name %> <%= participant.last_name %></h3></div>
              <% end %>
            </div>

            <div class="masthead-info">
              <% if participant %>
                <div class="masthead-info-item">
                  <header>
                    <h4>Rating</h4>
                  </header>
                  <span>560</span>
                </div>
              <% end %>
              <% if participant %>
                <div class="masthead-info-item">
                  <header>
                    <h4>Global Rank</h4>
                  </header>
                  <span>60</span>
                </div>
              <% end %>
              <% if participant.affiliation.present? %>
                <div class="masthead-info-item">
                  <header>
                    <h4>Organization</h4>
                  </header>
                  <span><%= participant.affiliation %></span>
                </div>
              <% end %>

              <% if participant.country_cd.present? || participant.city.present? %>
                <div class="masthead-info-item">
                  <header>
                    <h4>Location</h4>
                  </header>
                  <span>
                    <%= render partial: 'shared/utility/flag', locals: { country_cd: participant.country_cd } %>
                    <%= render partial: 'participants/location', locals: { participant: participant } %>
                  </span>
                </div>
              <% end %>

              <% if policy(participant).edit? %>
                <div class="masthead-info-item api-key">
                  <header>
                    <h4>API key</h4>
                    <%= link_to participant_regen_api_key_path(participant_id: participant.id) do %>
                      <button type="button" class="btn btn-secondary btn-sm" data-toggle="tooltip" data-placement="top" title="Generate new API key">
                        <%= image_tag '/assets/img/icon-refresh.svg' %>
                      </button>
                    <% end %>
                  </header>
                  <span><%= participant.api_key %></span>
                </div>
              <% end %>

              <div class="masthead-info-item">
                <header>
                  <h4>Badges</h4>
                </header>
                <div class="badge badge-achievement-gold" style = "margin-right: 5px;"><%= participant.aicrowd_user_badges.badges_stat_count[BadgeType.gold&.id].to_i %></div><div class="badge badge-achievement-silver" style = "margin-right: 5px;"><%= participant.aicrowd_user_badges.badges_stat_count[BadgeType.silver&.id].to_i %></div><div class="badge badge-achievement-bronze" style = "margin-right: 5px;"><%= participant.aicrowd_user_badges.badges_stat_count[ BadgeType.bronze&.id].to_i %></div>
              </div>

              <% if participant.twitter.present? || participant.github.present? || participant.linkedin.present? || participant.website.present? %>
                <div class="masthead-info-item">
                  <header>
                    <h4>Connect</h4>
                  </header>
                  <div class="d-flex">
                    <% if participant.twitter.present? %>
                      <%= link_to url_for(participant.twitter) do %>
                        <span class="mr-3"><i class="fa fa-twitter" aria-hidden="true"></i></span>
                      <% end %>
                    <% end %>
                    <% if participant.github.present? %>
                      <%= link_to url_for(participant.github) do %>
                        <span class="mr-3"><i class="fa fa-github" aria-hidden="true"></i></span>
                      <% end %>
                    <% end %>
                    <% if participant.linkedin.present? %>
                      <%= link_to url_for(participant.linkedin) do %>
                        <span class="mr-3"><i class="fa fa-linkedin" aria-hidden="true"></i></span>
                      <% end %>
                    <% end %>
                    <% if participant.website.present? %>
                      <%= link_to url_for(participant.website) do %>
                        <span class="mr-3"><i class="fa fa-globe" aria-hidden="true"></i></span>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /masthead – user -->
