<span class="reputation-info" style="<%= style ||= '' %>">
<% if participant.admin %>
  <span class="reputation-score" data-toggle="tooltip" title="Admin">
    ###
  </span>
<% else %>
  <span class="reputation-score" data-toggle="tooltip" title="<%= participant.temporary_rating.to_i - 3*participant.temporary_variation.to_i %> ± <%= participant.temporary_variation.to_i %>">
    <% if defined?(full) && full %>
      <%= participant.temporary_rating.to_i - 3*participant.temporary_variation.to_i %> ± <%= participant.temporary_variation.to_i %>
    <% else %>
      <%= participant.temporary_rating.to_i - 3*participant.temporary_variation.to_i %>
    <% end %>
  </span>
<% end %>
</span>
