<span class="reputation-info" style="<%= style ||= '' %>">
<% if participant.admin %>
  <span class="reputation-score" data-toggle="tooltip" title="Admin">
    ###
  </span>
<% else %>
  <span class="reputation-score" data-toggle="tooltip" title="<%= participant.final_rating %> ± <%= participant.variation.to_i %>">
    <% if defined?(full) && full %>
      <%= participant.final_rating %> ± <%= participant.variation.to_i %>
    <% else %>
      <%= participant.final_rating %>
    <% end %>
  </span>
<% end %>
</span>
