<div class="tooltip-inner-top">
<%= participant_avatar participant %>
    <div>
        <strong><%= participant.name %></strong>
        <br>
        <div class="reputation-info">
            <%= render partial: 'participants/show_reputation', locals: { participant: participant, full: true, partial_class: 'reputation-top' } %>
            <%= render partial: 'participants/show_temporary_reputation', locals: { participant: participant, full: true, partial_class: 'reputation-top' } %>
            <br>
            <span class="reputation-rank">Rank: #<%= (participant.ranking != -1)? participant.ranking: "Not Applicable" %></span>
        </div>
    </div>
</div>
<hr>
<div class="badge badge-achievement-gold"><%= participant.aicrowd_user_badges.badges_stat_count[BadgeType.gold&.id].to_i %></div><div class="badge badge-achievement-silver"><%= participant.aicrowd_user_badges.badges_stat_count[BadgeType.silver&.id].to_i %></div><div class="badge badge-achievement-bronze"><%= participant.badges.badges_stat_count[ BadgeType.bronze&.id].to_i %></div>
<hr>
<div class="user-location">
    <%= render partial: 'participants/location', locals: { participant: participant } %>
    <%= render :partial => 'shared/utility/flag', locals: { country_cd: participant.country_cd } %>
</div>
<div class="user-organization">
    <%= participant.affiliation %>
</div>