<!-- masthead -->
<div class="masthead masthead-open">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h1>Edit profile</h1>
      </div>
    </div>
  </div>
</div>
<!-- /masthead -->

<!-- section -->
<div class="section-p-md">
  <div class="container-fluid">
    <div class="row">

      <!-- edit profile -->
      <div class="col-12">

        <%= form_for @participant, validate: true, html: { class: "form-rg" } do |f| %>
          <div class="form-group">
            <label for="username">Username</label>
            

            <%= f.text_field :name, class: "form-control" %>
            <small id="usernameHelp" class="form-text text-muted">Max. X characters. No spaces</small>
          </div>

          <div class="form-group">
            <label for="firstName">First name</label>
            <%= f.text_field :first_name, class: "form-control" %>
          </div>

          <div class="form-group">
            <label for="lastName">Last name</label>
            <%= f.text_field :last_name, class: "form-control" %>
          </div>

          <div class="form-group">
            <span class="label-text">Avatar</span>
            <div class="custom-file mt-1">
              <%= f.file_field :image_file, class: 'custom-file-input' %>
              <label class="custom-file-label" for="customFile" aria-describedby="avatarHelp">Choose file</label>
              <small id="avatarHelp" class="form-text text-muted">Your image will be cropped to a square aspect ratio if required. 5 MB limit</small>
            </div>
          </div>

          <% if @participant.image_file.present? %>
            <%= link_to 'Delete', participant_remove_image_path(@participant) %>
          <% end %>

          <div class="form-group">
            <label for="orgCo">Affiliation</label>
            <%= f.text_field :affiliation, class: "form-control" %>
          </div>

          <div class="form-group">
            <label for="location">Address</label>
            <%= f.text_field :address , class: "form-control"%>
          </div>

          <div class="form-group">
            <label for="location">City</label>
            <%= f.text_field :city , class: "form-control"%>
          </div>

          <div class="form-group">
            <label for="location">Country</label>
                  <%= f.country_select :country_cd, { include_blank: '--- Select a country ---'}, { class: 'form-control' }  %>
          </div>

          <div class="form-group">
            <label for="bio">Bio</label>
            <%= f.text_area :bio, class: "form-control" %>
          </div>

          <div class="form-group">
            <label for="basic-url">GitHub profile</label>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="githubProfile">https://github.com/</span>
              </div>
              <%= f.text_field :github, class: 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <label for="basic-url">LinkedIn profile</label>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="linkedinProfile">https://www.linkedin.com/in/</span>
              </div>
              <%= f.text_field :linkedin, class: 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <label for="basic-url">Twitter profile</label>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="twitterProfile">https://www.twitter.com/</span>
              </div>
              <%= f.text_field :twitter, class: 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <label for="personalWebsite">Personal website</label>
            <%= f.text_field :website, class: 'form-control' %>
          </div>

          <div class="btn-set" aria-hidden="true">
            <%= f.button "Update profile", class: 'btn btn-primary' %>
            <%= link_to 'Cancel', participant_path(@participant), {class: "btn btn-secondary", type: "button"} %>
          </div>

         <% end %>
      </div>
      <!-- /edit profile -->

    </div>    
  </div>
</div>
<!-- /section -->

<!-- section -->
<div class="section-p-md border-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <h4>Personal data</h4>
        <p>Download your personal data that has been collected by AIcrowd.</p>
        <%= link_to 'Download',
              gdpr_exports_path,
              method: :post, remote: true,
              id: 'gdpr-button',
              class: 'btn btn-primary',
              type: 'button' %>
      </div>
    </div>
  </div>
</div>
<!-- /section -->