<%
  active_tab = params[:tab]
  active_tab = 'insights' unless ['teams','bio'].include?(active_tab)
%>

<%= render partial: 'masthead', locals: { participant: @participant } %>
<!-- sub-nav bar -->
<div class="sub-nav-bar sticky-top">
  <div class="container-fluid">
    <ul class="nav tabs">
      <li class="nav-item">
        <a class="nav-link nav-link-01<%= ' active' if active_tab == 'insights' %>" data-toggle='tab' href="#tab-insights" onclick="return false;">Insights</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-link-02<%= ' active' if active_tab == 'teams' %>" data-toggle='tab' href="#tab-teams" onclick="return false;">Teams</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-link-03<%= ' active' if active_tab == 'posts' %>" data-toggle='tab' href="#tab-posts" onclick="return false;">Posts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-link-04<%= ' active' if active_tab == 'bio' %>" data-toggle='tab' href="#tab-bio" onclick="return false;">Bio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-link-05<%= ' active' if active_tab == 'achievements' %>" data-toggle='tab' href="#tab-achievements" onclick="return false;">Achievements
          <div class="badge badge-tab-count <%= @achievements_count.zero? ? 'd-none' : '' %>" style="margin-right: 5px;"><%= @achievements_count.zero? ? '' : @achievements_count %>
          </div>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-link-05 <%= ' active' if active_tab == 'followers' %>" data-toggle="tab" href="#tab-followers" onclick="return false;">Followers
          <% participant_followers_count = @participant.followers_participant_count %>
          <% no_followers = participant_followers_count.zero? %>
          <div class="badge badge-tab-count followers-count <%= no_followers ? 'd-none' : '' %>" style="margin-right: 5px;"><%= no_followers ? '' : participant_followers_count %>
          </div>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-link-05 <%= ' active' if active_tab == 'following' %>" data-toggle="tab" href="#tab-following" onclick="return false;">Following
          <% participant_following_count = @participant.following_participant_count %>
          <% no_following = participant_following_count.zero? %>
          <div class="badge badge-tab-count following-count <%= no_following ? 'd-none' : '' %>" style="margin-right: 5px;"><%= no_following ? '' : participant_following_count %>
          </div>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-link-06<%= ' active' if active_tab == 'articles' %>" data-toggle='tab' href="#tab-articles" onclick="return false;">Notebooks</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-link-07<%= ' active' if active_tab == 'bookmarks' %>" data-toggle='tab' href="#tab-bookmarks" onclick="return false;">Bookmarks</a>
      </li>
      <!-- more dropdown xs -->
      <li class="nav-item dropdown more-xs">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><svg width="16" height="4" xmlns="http://www.w3.org/2000/svg"><path d="M2 0C.9 0 0 .9 0 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm12 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zM8 0C6.9 0 6 .9 6 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z" fill="#5D5F60" fill-rule="nonzero"/></svg></a>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item<%= ' active' if active_tab == 'bio' %>" data-toggle='tab' href="#tab-bio" onclick="return false;">Bio</a>
          <a class="dropdown-item<%= ' active' if active_tab == 'posts' %>" data-toggle='tab' href="#tab-posts" onclick="return false;">Posts</a>
          <a class="dropdown-item<%= ' active' if active_tab == 'achievements' %>" data-toggle='tab' href="#tab-achievements" onclick="return false;">Achievements</a>
          <a class="dropdown-item<%= ' active' if active_tab == 'articles' %>" data-toggle='tab' href="#tab-articles" onclick="return false;">Notebooks</a>
          <a class="dropdown-item<%= ' active' if active_tab == 'bookmarks' %>" data-toggle='tab' href="#tab-bookmarks" onclick="return false;">Bookmarks</a>
          <% if true_participant.present? && true_participant.super_admin? %>
            <% if current_participant != true_participant && current_participant == @participant %>
              <%= link_to "Stop Impersonating", stop_impersonating_participants_path(@participant), class: "btn btn-secondary dropdown-item" %>
            <% else %>
              <%= link_to "Impersonate User", impersonate_participants_path(@participant), class: "btn btn-secondary dropdown-item" %>
            <% end %>
          <% end %>
        </div>
      </li>
      <!-- /more dropdown xs -->
    </ul>
    <% if true_participant.present? && true_participant.super_admin? && !mobile? %>
      <% if current_participant != true_participant && current_participant == @participant %>
        <%= link_to "Stop Impersonating", stop_impersonating_participants_path(@participant), class: "btn btn-secondary" %>
      <% else %>
        <%= link_to "Impersonate User", impersonate_participants_path(@participant), class: "btn btn-secondary" %>
      <% end %>
    <% end %>
  </div>
</div>
<!-- /sub-nav bar -->

<div class="tab-content">
  <div id='tab-insights' class="tab-pane fade<%= ' show active' if active_tab == 'insights' %>">
    <!-- section -->
    <section class="section-p-md activity-heatmap__section">
      <div class="container-fluid">
        <header class="section-header">
          <div>
            <h4>Activity</h4>
          </div>
        </header>

        <div
          class="activity-heatmap-wrapper text-center"
          data-controller="activity-heatmap"
          data-activity-heatmap-element-id="activity-heatmap"
          data-activity-heatmap-data="<%= @activity_data.to_json %>"
        >
          <div class="activity-heatmap__x-labels">
            <% months_array(@activity_data.first[:date], @activity_data.last[:date]).each do |month| %>
              <div><%= month.first(3) %></div>
            <% end %>
          </div>
          <div class="activity-heatmap__y-labels-wrapper">
            <div class="activity-heatmap__y-labels">
              <div>Mon</div>
              <div>Wed</div>
              <div>Fri</div>
            </div>
            <svg id="activity-heatmap"></svg>
          </div>
        </div>

        <div class="pull-left activity-heatmap__squares-wrapper">
          <span title="No contributions" class="activity-heatmap__square activity-heatmap__square--first"></span>
          <span title="1-19 contributions" class="activity-heatmap__square activity-heatmap__square--second"></span>
          <span title="20-39 contributions" class="activity-heatmap__square activity-heatmap__square--third"></span>
          <span title="40-59 contributions" class="activity-heatmap__square activity-heatmap__square--fourth"></span>
          <span title="60-79 contributions" class="activity-heatmap__square activity-heatmap__square--fifth"></span>
          <span title="80-99 contributions" class="activity-heatmap__square activity-heatmap__square--sixth"></span>
          <span title="100+ contributions" class="activity-heatmap__square activity-heatmap__square--seventh"></span>
        </div>
      </div>
    </section>
    <!-- /section -->

    <!-- section -->
    <section class="section-p-md">
      <div class="container-fluid">
        <div class="row">
          <div
            class="col-8"
            data-controller="rating-progression"
          >
            <header class="section-header">
              <div>
                <h4>Ratings Progression</h4>
              </div>
            </header>
            <%= line_chart @participant.user_rating_history, id: "line-chart" %>
          </div>
          <div class="col-4">
            <header class="section-header">
              <div>
                <h4>Challenge Categories</h4>
              </div>
            </header>
            <%= pie_chart @categories, colors: ["#FF8C00", "#FFD700", "#6B8E23", "#FFEBCD", "#00FF00",
              "#228B22", "#800000", "#32CD32", "#B8860B", "#9966CC"] %>
          </div>
        </div>
      </div>
    </section>
    <!-- /section -->

    <% if @challenges.any? %>
      <section class="section-p-md">
        <div class="container-fluid">
          <header class="section-header">
            <div>
              <h4>Challenges Entered</h4>
            </div>
          </header>
          <div class="container">
            <%= render partial: 'challenge_list', locals: { challenges: @challenges, participant: @participant } %>
          </div>
        </div>
      </section>
    <% end %>
  </div>

  <div id="tab-achievements" class="tab-pane fade<%= ' show active' if active_tab == 'achievements' %>">
    <%= render partial: 'achievements', locals: { participant: @participant } %>
  </div>

  <div id="tab-followers" class="tab-pane fade<%= ' show active' if active_tab == 'followers' %>">
    <%= render partial: 'followers', locals: { participant: @participant, other_participant: @participant } %>
  </div>

  <div id="tab-following" class="tab-pane fade<%= ' show active' if active_tab == 'following' %>">
    <%= render partial: 'following', locals: { participant: @participant, other_participant: @participant } %>
  </div>

  <div id="tab-teams" class="tab-pane fade<%= ' show active' if active_tab == 'teams' %>">
    <%= render partial: 'teams_list' %>
  </div>

  <div id="tab-posts" class="tab-pane fade<%= ' show active' if active_tab == 'posts' %>">
    <%= render partial: 'discourse_posts_list', locals: { participant: @participant, discourse_posts_fetch: @discourse_posts_fetch, discourse_posts: @discourse_posts } %>
  </div>

  <div id='tab-bio' class="tab-pane fade<%= ' show active' if active_tab == 'bio' %>">
  <!-- section -->
    <section class="section-p-md">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="md-content">
              <% if @participant.bio.present? %>
                <%= @participant.bio %>
              <% else %>
                <%= "#{@participant.name} has not provided any information yet." %>
              <% end %>
            </div>

          </div>
        </div>
      </div>
    </section>
    <!-- /section -->
  </div>
  <div id="tab-articles" class="tab-pane fade<%= ' show active' if active_tab == 'articles' %>">
    <%= render partial: 'articles_list', locals: { posts: @participant.posts } %>
  </div>
  <div id="tab-bookmarks" class="tab-pane fade<%= ' show active' if active_tab == 'bookmarks' %>">
    <%= render partial: 'articles_list', locals: { posts: @participant.post_bookmarks.map(&:post) } %>
  </div>
</div>
