<% @page_title = "#{@team.name} | Accept Invitation" %>
<main>
  <div class="masthead masthead-team">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 d-flex justify-content-between align-items-center flex-sm-wrap">
          <h1>Accept Team Invitation</h1>
        </div>
      </div>

      <div class="row masthead-info">
        <div class="col-sm-12 col-md-6">
          <header>
            <h4>You’re about to join “<%= link_to(@team.name, challenge_team_path(@team.challenge, @team)) %>”</h4>
          </header>
        </div>
      </div>
    </div>
  </div>
  <div class="section-p-md">
    <div class="container-fluid">
      <p>Please read these rules before joining a team</p>
      <ul>
        <li> A team is valid for only one challenge. You are currently accepting an invitation to join: "<%= link_to(@challenge.challenge, @challenge) %>"</li>
        <li>By accepting the invitation, you will become a member of "<%= link_to(@team.name, challenge_team_path(@team.challenge, @team)) %>" for the duration of the challenge. </li>
        <li>Each team has a team leader/organiser. This is the person who created the team. Only the team leader can send the invite to other members.</li>
        <li>If you stand to win a prize in the challenge, the team leader will be contacted regarding the prize distribution on your team's behalf. AIcrowd will not be responsible for distributing the prizes to the individual members of a team and AIcrowd will not be accountable for how the prize is divided between different team members.</li>
        <li>You can join only one team per challenge. Once you accept the invitation, for the duration of the said challenge you will not be able to join any other team</li>
        <li>Any further team invitations after joining will be automatically cancelled. </li>
        <li>If you have created another team including only you and no other team members, the said team will be deleted upon accepting this invitation. All the pending invitations sent by you for the previous team will be automatically cancelled.</li>
        <li>Please note -- once accepted, you cannot cancel team membership for the duration of the challenge.</li>
        <li>All team members will be able to make submissions for the challenge. Any and all submissions made by team members will count against the total daily limit mentioned in the challenge rules.</li>
      </ul>
      <p>Please read and accept these guidelines before starting your collaboration. All the best for the challenge!</p>
      <%= form_for team_invitation_acceptances_path(@invitation) do |f| %>
        <%= f.submit 'Join', class: 'btn btn-primary' %>
        <%= link_to 'Return to Challenge', @challenge, class: 'btn btn-secondary' %>
      <% end %>
    </div>
  </div>
</main>
