<div class="challenges-form__thin-tab">
  <div class="form-group">
    <%= render partial: 'challenges/fields/fancy_radio', locals: { f: f, name: :submissions_downloadable, text: "Organizer submission file access?" } %>
    <%= render partial: 'challenges/fields/fancy_radio', locals: { f: f, name: :dynamic_content_flag, text: "Dynamic content?" } %>
    <%= render partial: 'challenges/fields/fancy_radio', locals: { f: f, name: :meta_challenge, text: "Meta Challenge" } %>
    <%= render partial: 'challenges/fields/fancy_radio', locals: { f: f, name: :practice_flag, text: "Practice Challenge?" } %>
    <%= render partial: 'challenges/fields/fancy_radio', locals: { f: f, name: :ml_challenge, text: "ML Challenge?" } %>
  </div>

  <div class="form-group">
    <span class="label-text">Tab description</span>
    <%= f.text_field :dynamic_content_tab, class: "form-control" %>
  </div>

  <div class="form-group">
    <span class="label-text">Dynamic Content Url</span>
    <%= f.text_field :dynamic_content_url, class: "form-control" %>
  </div>

  <div class="form-group">
    <span class="label-text">Dynamic Content (ERB)</span>
    <%= f.cktext_area :dynamic_content %>
  </div>

  <div class="form-group">
    <span class="label-text">Weight for Challenge</span>
    <%= f.text_field :weight, class: "form-control" %>
  </div>

  <%= render partial: 'challenges/fields/submit_buttons', locals: { f: f, current_step: 'admin' } %>
</div>
