<div>
  <h4 class="mb-3">Branding</h4>

  <div class="challenges-form__thin-tab">
    <div class="form-group">
        <span class="label-text">Card image</span>
        <%= image_tag challenge.image_url, id: 'challenges-form-card-image', class: 'form-challenge-card-image' %>
    </div>

    <div class="form-group">
        <%= f.file_field :image_file, class: 'crop_image_file' %>
        <%= render partial: 'challenges/fields/fancy_radio', locals: { f: f, name: :big_challenge_card_image, text: "Use image for big cards" } %>
        <% if @challenge.persisted? %>
            <% remove_image_class = @challenge.image_file.present? ? '' : 'challenges-form__link--hidden' %>
            <%= link_to 'Delete', remove_image_challenge_path(@challenge), remote: true, id: 'challenges-form-remove-card-image', class: "form-text #{remove_image_class}" %>
        <% end %>
        <small id="partnerLogoHelp" class="form-text text-muted">Your image will be cropped if necessary. 5 MB limit</small>
    </div>

    <div class="form-group">
      <span class="label-text">Social media image</span>
      <% if challenge.social_media_image_url.present? %>
        <%= image_tag challenge.social_media_image_url, id: 'challenges-form-card-image', class: 'form-challenge-card-image' %>
      <% end %>
    </div>

    <div class="form-group">
      <%= f.file_field :social_media_image_file, class: 'crop_social_media_image_file' %>
      <% if @challenge.persisted? %>
        <%= link_to 'Delete', remove_social_media_image_challenge_path(@challenge), remote: true, id: 'challenges-form-remove-card-image', class: "form-text" %>
      <% end %>
      <small id="partnerLogoHelp" class="form-text text-muted">Your image will be cropped if necessary. 5 MB limit</small>
    </div>

    <div class="form-group">
        <span class="label-text">Banner image</span>
        <% if challenge.banner_file.present? %>
            <%= image_tag challenge.banner_file.url, id: 'challenges-form-card-image', class: 'form-challenge-card-image' %>
        <% end %>
    </div>

    <div class="form-group">
        <%= f.file_field :banner_file, class: 'crop_banner_image_file' %>
        <% if @challenge.persisted? %>
            <%= link_to 'Delete', remove_banner_challenge_path(@challenge), remote: true, id: 'challenges-form-remove-card-image', class: "form-text" %>
        <% end %>
        <small id="partnerLogoHelp" class="form-text text-muted">Your image will be cropped if necessary. 5 MB limit</small>
    </div>

    <div class="form-group">
        <span class="label-text">Banner image (mobile)</span>
        <% if challenge.banner_mobile_file.present? %>
            <%= image_tag challenge.banner_mobile_file.url, id: 'challenges-form-card-image', class: 'form-challenge-card-image' %>
        <% end %>
    </div>

    <div class="form-group">
        <%= f.file_field :banner_mobile_file, class: "crop_banner_mobile_image_file" %>
        <% if @challenge.persisted? %>
            <%= link_to 'Delete', remove_banner_mobile_challenge_path(@challenge), remote: true, id: 'challenges-form-remove-card-image', class: "form-text" %>
        <% end %>
        <small id="partnerLogoHelp" class="form-text text-muted">Your image will be cropped if necessary. 5 MB limit</small>
    </div>

    <div class='form-group'>
        <span class="label-text">Banner Color (Hex Color)</span>
        <%= f.text_field :banner_color, placeholder: "F8F9F9", class: "form-control" %>
    </div>

    <% %w[x y w h].each do |attribute| %>
      <%= f.hidden_field "coords_#{attribute}", id:"coords_#{attribute}" %>
    <% end %>

    <% %w[social_media banner banner_mobile].each do |start| %>
        <% %w[x y w h].each do |ending| %>
            <%= f.hidden_field "#{start}_coords_#{ending}", id:"#{start}_coords_#{ending}" %>
        <% end %>
    <% end %>

    <%= render partial: 'challenges/modals/card_modal' %>
    <%= render partial: 'challenges/modals/social_media_modal' %>
    <%= render partial: 'challenges/modals/banner_modal' %>
    <%= render partial: 'challenges/modals/banner_mobile_modal' %>

    <%= render partial: 'challenges/fields/submit_buttons', locals: { f: f, current_step: 'branding' } %>
  </div>
</div>
