<div class="challenges-form__thin-tab">
  <div class="form-group">
    <span class="label-text">Challenge Title</span>
    <%= f.text_field :challenge, class: "form-control" %>
  </div>

  <div class="form-group">
    <span class="label-text">Tagline</span>
    <%= f.text_field :tagline, class: "form-control" %>
  </div>

  <div class="form-group">
      <span class="label-text">Organizers</span>
      <%= f.select :organizer_ids, @organizers_for_select, {}, {class: "select2 form-control", multiple: true, disabled: !(current_participant&.admin?) } %>
  </div>

  <div class="form-group">
    <span class="label-text">Tags</span>
    <%= f.select :category_names, categories_select_options(@challenge), {}, {class: "select2 category_select2 form-control", multiple: true} %>
  </div>

  <div class="form-group">
    <span class="label-text">Options</span>
    <%= render partial: 'challenges/fields/fancy_radio', locals: { f: f, name: :require_registration, text: "Registration required" } %>
    <%= render partial: 'challenges/fields/fancy_radio', locals: { f: f, name: :submissions_page, text: "Show submissions details" } %>
    <%= render partial: 'challenges/fields/fancy_radio', locals: { f: f, name: :grading_history, text: "Show grading history" } %>
    <%= render partial: 'challenges/fields/fancy_radio', locals: { f: f, name: :grader_logs, text: "Show grader logs" } %>
    <%= render partial: 'challenges/fields/fancy_radio', locals: { f: f, name: :discussions_visible, text: "Show discussions" } %>
    <%= render partial: 'challenges/fields/fancy_radio', locals: { f: f, name: :latest_submission, text: "Use latest submissions on Leaderboard" } %>
    <%= render partial: 'challenges/fields/fancy_radio', locals: { f: f, name: :teams_allowed, text: "Allow users to team up" } %>
    <%= render partial: 'challenges/fields/fancy_radio', locals: { f: f, name: :hidden_challenge, text: "Hide Challenge (url needed to access and register)" } %>
  </div>

  <div class="form-group">
    <span class="label-text">Max Number of Participants per Team</span>
    <%= f.text_field :max_team_participants, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :team_freeze_time, 'Team Freeze Time (UTC)' %>
    <%= f.text_field :team_freeze_time, class: "form-control", data: { controller: 'flatpickr' } %>
  </div>


  <div class="form-group">
    <span class="label-text">Challenge status</span>
    <%= status_dropdown_helper(builder: f) %>
  </div>

  <div class="form-group">
    <span class="label-text">Featured sequence</span>
    <% if current_participant.admin? %>
      <%= f.text_field :featured_sequence, value: sequence_num, class: "form-control" %>
    <% else %>
      <%= f.text_field :featured_sequence, readonly: true, class: "form-control" %>
    <% end %>
  </div>

  <div class='form-group <% if !(current_participant&.admin?) %>d-none<% end %>'>
    <span class="label-text">Challenge ID</span>
    <%= f.text_field :id, disabled: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <span class="label-text">Discourse category ID</span>
    <%= f.text_field :discourse_category_id, class: "form-control" %>
  </div>

  <%= render partial: 'challenges/fields/submit_buttons', locals: { f: f, current_step: 'details' } %>
</div>
