<div class="challenges-form__thin-tab">
  <div class="form-group">
    <span class="label-text">Overview</span>
    <div class="md-content">
      <%= f.text_area :description, class: "form-control", data: { controller: "ckeditor" } %>
    </div>
  </div>

  <div class="form-group">
    <span class="label-text">Prizes Breakdown</span>
  </div>

  <div class="form-group">
    <span class="label-text">Prize Money</span>
    <%= f.text_field :prize_cash , class: "form-control" %>
  </div>

  <div class="form-group">
    <span class="label-text">Travel Grants</span>
    <%= f.text_field :prize_travel , class: "form-control" %>
  </div>

  <div class="form-group">
    <span class="label-text">Authorship/Co-Authorship</span>
    <%= f.text_field :prize_academic , class: "form-control" %>
  </div>

  <div class="form-group">
    <span class="label-text">Misc Prizes</span>
    <%= f.text_field :prize_misc , class: "form-control" %>
  </div>

  <fieldset>
    <h4>Partner Logos</h4>
    <div id='partner-logos'>
      <%= f.fields_for :challenge_partners do |partner| %>
        <%= render 'challenges/fields/challenge_partner_fields', f: partner %>
      <% end %>
      <div class='links'>
        <%= link_to_add_association '+ Partner Logo', f, :challenge_partners, html_options = { partial: 'challenges/fields/challenge_partner_fields', id: 'challenges-form-add-partner' } %>
      </div>
    </div>
    <br/><br/>
  </fieldset>

  <%= render partial: 'challenges/fields/submit_buttons', locals: { f: f, next_step: 'rounds' } %>
</div>
