<div>
  <div class="form-group">
    <%= f.check_box :private_challenge, {}, "true", "false" %>
    <%= f.label :private_challenge, 'Private challenge' %>
  </div>

  <%= render partial: 'challenges/fields/invitations_table_fields', locals: { challenge: @challenge, f: f } %>
  <%= render partial: 'challenges/fields/submit_buttons', locals: { f: f } %>

  <% if @challenge.persisted? %>
    <div class="mt-6">
      <%= form_tag import_challenge_invitations_path(@challenge), multipart: true do %>
        <%= file_field_tag :file %>
        <%= submit_tag "Invite Participants from CSV", class: 'btn' %>
      <% end %>
    </div>
  <% end %>
</div>
