<div>
  <h4 class="mb-4">Submission Settings</h4>

  <div class="form-group">
    <% if challenge.organizers.any?(&:clef_organizer?) %>
      <%= render partial: 'challenges/fields/clef_fields', locals: {f: f, organizers: challenge.organizers} %>
    <% end %>

    <%= render partial: 'challenges/fields/fancy_radio', locals: {
        f: f,
        name: :online_submissions,
        text: "Submissions Enabled",
        p: {data: {target: 'challenge-submission.online', action: 'click->challenge-submission#toggleOnline'}}} %>


    <%= render partial: 'challenges/fields/fancy_radio', locals: {
        f: f,
        name: :post_challenge_submissions,
        text: "Post Challenge Submissions Permitted",
        p: {data: {target: 'challenge-submission.post'}}} %>

  </div>

  <div class="form-group col-sm-12 col-md-4">
    <span class="label-text">Submission Window Type</span>
    <%= f.select :submission_window_type_cd, Challenge::SUBMISSION_WINDOW_TYPES, {}, class: 'form-control' %>
  </div>

  <hr/>

  <div class="form-group">
  <h4>Evaluation Configuration</h4>
  <span>⚠️ <i>Please take help from AIcrowd team in this section.</i></span>
  </div>


  <p>
  </p>
  <div class="row">
    <div class="form-group col-sm-12 col-md-4">
      <span class="label-text">Grader Type</span>
      <%= f.select :evaluator_type_cd, Challenge::EVALUATOR_TYPES, {}, class: 'form-control' %>
    </div>

    <div class="form-group col-sm-12 col-md-4">
      <span class="label-text">Challenge client name</span>
      <%= f.text_field :challenge_client_name, class: "form-control" %>
    </div>

    <div class="form-group col-sm-12 col-md-4">
      <span class="label-text">Grader identifier</span>
      <%= f.text_field :grader_identifier, class: "form-control" %>
    </div>
  </div>

  <hr/>

  <div class="form-group">
  <h4>Submission Locking Setting</h4>
  </div>
  <%= render partial: 'challenges/fields/fancy_radio', locals: {
        f: f,
        name: :submission_lock_enabled,
        text: "Submission Locking Enabled",
        p: {data: {target: 'challenge-submission.post'}}} %>
  <div class="form-group col-sm-12 col-md-4">
    <%= f.label :submission_lock_time, 'Submission Locking Deadline (UTC)' %>
    <%= f.text_field :submission_lock_time, class: "form-control", data: {controller: 'flatpickr '} %>
  </div>

  <div class="form-group col-sm-12 col-md-4">
    <%= f.label :submission_lock_count, 'Number of submissions a participant can lock for this challenge.' %>
    <%= f.text_field :submission_lock_count, class: "form-control" %>
  </div>

  <div class="form-group col-sm-12 col-md-4">
    <%= link_to 'Reset Preferences', reset_locked_submissions_challenge_submissions_path(challenge), class: 'btn btn-primary', data: { disable_with: 'Resetting...' } %>
  </div>

  <div class="form-group col-sm-12 col-md-4">
    <%= link_to 'Export Participant Preferences', freezed_submission_export_challenge_submissions_path(challenge), class: 'btn btn-primary', data: { disable_with: 'Preferences Exported' } %>
  </div>

  <% if current_participant&.admin? %>
    <div class="form-group col-sm-12 col-md-4">
      <%= f.label :submission_freezing_order, "Submission Freezing Order" %>
      <%= f.text_field :submission_freezing_order, class: "form-control" %>
      <small class="form-text text-muted">Choose the priority of the default submission</small>
    </div>

    <div class="form-group col-sm-12 col-md-4">
      <%= f.label :submission_filter, "Filter" %>
      <%= f.text_field :submission_filter, class: "form-control" %>
      <small class="form-text text-muted">Advanced: Choose which submissions to consider</small>
    </div>
  <% end %>

  <div class="form-group">
    <span class="label-text">Submission Freeze Text</span>
    <i>This text will appear at the top of the new submission page, submission listing page and the leaderboard page</i>
    <div class="md-content mt-2">
      <%= f.cktext_area :submission_note, class: "form-control"%>
    </div>
  </div>

  <hr/>

  <div class="form-group">
  <h4>Instructions and License</h4>
  </div>

  <div class="form-group">
    <span class="label-text">Submission Instructions</span>
    <div class="md-content">
      <%= f.cktext_area :submission_instructions, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <span class="label-text">Submission License Text</span>
    <i>This license text is displayed on the submission upload page during and after the challenge</i>
    <div class="md-content mt-2">
      <%= f.cktext_area :license, class: "form-control", placeholder: "Please upload your submissions and include a detailed description of the methodology, techniques and insights leveraged with this submission. After the end of the challenge, these comments will be made public, and the submitted code and models will be freely available to other AIcrowd participants. All submitted content will be licensed under Creative Commons (CC)." %>
    </div>
  </div>
  <%= render partial: 'challenges/fields/submit_buttons', locals: {f: f, current_step: 'submissions'} %>
</div>
