<%
  # Controllers that use this partial must supply the following variables:
  # user
  # comment
  # nested_children or page
  # show_all

  thread = comment.thread
  nested_children ||= begin
    children = thread.paginated_comments(page, comment.id, show_all)
    thread.nested_comments_for(user, children, show_all)
  end

  creator = comment.creator
  link = Commontator.commontator_link(creator, main_app)
  name = Commontator.commontator_name(creator) || ''
%>

<div class="topic-comment">
  <div class="mr-4"><%= render partial: 'participants/get_user_profile', locals: { participant: creator, username: 'false' } %></div>
  <div class="discussion-topic-body">
    <span class="discussion-details"><div style="display: inline-flex;"><%= render partial: 'participants/get_user_profile', locals: { participant: creator, avatar: 'false', bold: 'true' } %></div> <small><%= discourse_time_ago(comment.created_timestamp) %></small></span>

    <div class="md-content width-100"><%= render partial: 'commontator/comments/body', locals: { comment: comment } %></div>

    <div class="comment-footer d-flex">
    <%= render partial: 'shared/votes/button', locals: { votable: CommontatorComment.find(comment.id), vote: votes_on_comment(comment, current_participant), show_users: true } %>

    <% if comment.can_be_deleted_by?(user) %>
      <% is_deleted = comment.is_deleted? %>
      <% del_string = is_deleted ? 'undelete' : 'delete' %>
      <%= button_to t("commontator.comment.actions.#{del_string}"),
                  commontator.polymorphic_path([del_string, comment]),
                  data: is_deleted ? {} : { confirm: t('commontator.comment.actions.confirm_delete') },
                  method: :put,
                  id: "commontator-comment-#{comment.id}-#{del_string}",
                  class: [del_string, 'btn btn-sm btn-secondary float-right ml-1'],
                  remote: true %>
    <% end %>
    </div>
  </div>
</div>
