<!-- sub-nav bar -->
<div class="sub-nav-bar sticky-top">
  <div class="container-fluid priority-nav" data-controller="prioritynav">
    <ul class="nav">
      <%= render partial: 'challenges/show/subnav_link', locals: {text: 'Overview', link: challenge_path(challenge)} %>
      <%= render partial: 'challenges/show/subnav_link', locals: {text: 'Discussion', link: discourse_url(challenge)} %>
      <%= render partial: 'challenges/show/subnav_link', locals: {text: 'Resources', link: resources_link(challenge)} %>
      <% unless policy(challenge).starting_soon_mode? %>
        <% if challenge.show_leaderboard || policy(challenge).edit? %>
          <%= render partial: 'challenges/show/subnav_link', locals: {text: 'Leaderboard', link: challenge_leaderboards_path(challenge)} %>
        <% end %>
        <% if challenge.submissions_page.present? || policy(challenge).edit? %>
          <%= render partial: 'challenges/show/subnav_link', locals: {text: 'Submissions', link: challenge_submissions_path(challenge)} %>
        <% end %>
        <% if challenge.winners_tab_active.present? %>
          <%= render partial: 'challenges/show/subnav_link', locals: {text: 'Winners', link: challenge_winners_path(challenge)} %>
        <% end %>
      <% end %>

      <% if policy(challenge).edit? %>
        <%= render partial: 'challenges/show/subnav_link', locals: {text: 'Participants', link: participants_link(challenge)} %>
      <% end %>

      <% if challenge.dynamic_content_tab.present? %>
        <%= render partial: 'challenges/show/subnav_link', locals: {text: challenge.dynamic_content_tab, link: challenge_dynamic_contents_path(challenge)} %>
      <% end %>

      <% if required_terms_or_rules_path(challenge).blank? %>
        <%= render partial: 'challenges/show/subnav_link', locals: {text: 'Rules', link: [challenge, challenge.current_challenge_rules]} %>
      <% end %>

      <li class="overflow-nav nav-item dropdown ml-auto">
        <a class="nav-link overflow-nav-title" data-toggle="dropdown" href="#" role="button">
          <svg width="16" height="4" xmlns="http://www.w3.org/2000/svg">
            <path d="M2 0C.9 0 0 .9 0 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm12 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zM8 0C6.9 0 6 .9 6 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z" fill="#5D5F60" fill-rule="nonzero"/>
          </svg>
        </a>
        <ul class="overflow-nav-list dropdown-menu dropdown-menu-right"></ul>
      </li>
    </ul>

    <% if required_terms_or_rules_path(challenge).present? %>
      <%= link_to 'Participate', required_terms_or_rules_path(challenge), class: "btn btn-primary btn-sm pull-right" %>
    <% else %>
      <%= my_team_view_or_create_button(challenge) %>
      <% if !policy(challenge).starting_soon_mode? && policy(challenge).submissions_allowed? %>
        <%= link_to 'Create Submission', new_challenge_submission_path(challenge), class: "btn btn-primary btn-sm pull-right" %>
      <% end %>
    <% end %>

    <% if policy(challenge).edit? %>
      <%= link_to edit_challenge_path(challenge), title: "Edit challenge", data: {turbolinks: false}, class: "nav-link" do %>
        <button class="btn btn-secondary btn-sm ml-1 pull-right" role="button">Edit Challenge</button>
      <% end %>
    <% end %>
  </div>
</div>
<!-- /sub-nav bar -->

<%= render partial: 'challenges/show/create_team_modal', locals: {challenge: challenge} %>
