<div class="card">
  <ul class="list-group list-group-flush list-group-top-contributors">
    <% top_leaderboards.each do |leaderboard| %>
      <%
        participants = leaderboard_participants(leaderboard)
        team = leaderboard.team
      %>
      <!-- user -->
      <li class="list-group-item">
        <% if team.present? %>
          <%= link_to team.name, challenge_team_path(challenge, team) %>
          <% participants.take(3).each do |participant| %>
            <%= render partial: 'participants/user_link', locals: { participant: participant, username: false } %>
          <% end %>
          <% if participants.count > 3 %>
            <%= link_to '...', challenge_team_path(challenge, team) %>
          <% end %>
        <% elsif participants.length == 1 %>
          <%= render partial: 'participants/user_link', locals: { participant: participants.first } %>
        <% end %>

        <div class="submissions">
          <img src="/assets/img/icon-submissions.svg">
          <span><%= leaderboard.row_num %></span>
        </div>
      </li>
      <!-- /user -->
    <% end %>
    <li class="list-group-item">
      <hr>
      <%= link_to 'See all', challenge_leaderboards_path(challenge), class: "text-link" %>
    </li>
  </ul>
</div>
