<% if current_participant && show_participant_edit_popup?(current_participant) %>
  <div class="modal participant_primary_info_modal" id="participant_primary_info_modal" tabindex="-1" role="dialog" aria-labelledby="previewModalLabel" aria-hidden="true">
    <div class="container-fluid page" role="document">
          <div id="detail-modal">
            <div class="">
              <img class="top" src="/assets/img/aicrowd logo 1.png" alt="">
              <span class="fa fa-times cross" data-dismiss="modal" aria-label="Close" style="cursor: pointer"></span>
            </div>
            <div class="modal-welcome">
              <div class="">
                <div class="">
                  <span class="dot1"></span>
                </div>
                <div class="">
                  <h5 class="text-center">Excited about your AI journey?</h5>
                  <p class="sub mb-2">You’re almost ready to make your first submission!<br>
                    Please fill up these details, a shiny new badge awaits you!</p>
                </div>
                <div class="">
                  <span class="dot4"></span>
                </div>
              </div>
            </div><span class="dot5 float-right"></span>
            <%= form_for @current_participant, validate: true do |f| %>
            <div class="modal-detail-form detail-form">
                  <div class="form-group">
                    <label class="float-left" for="country">Country</label>
                    <%= f.country_select :country_cd, {prompt: 'Select your country'}, { class: 'form-control' }  %>
                    <span toggle="#password-field" class="fa fa-chevron-down field-icon  mr-3 mb-3 py-new"></span></input>
                  </div>

                  <div class="form-group">
                    <label class="float-left" for="gender">Gender</label>
                    <%= f.select :gender_cd, options_for_select([["Male", "male"], ["Female", "female"], ["Prefer not to say", "dont_prefer"]], @current_participant.gender_cd), {prompt: 'Enter your gender'}, {class: 'form-control'} %>
                    <span toggle="#gender-field" class="fa fa-chevron-down field-icon  mr-3 mb-3 py-new"></span></input>
                  </div>

                  <div class="form-group">
                    <label class="float-left" for="Organization">Institution/Organization</label>
                    <%= f.text_field :affiliation, class: "form-control", placeholder: 'Enter where do you study/work at' %>
                  </div>
                <div class="newbutton mb-5">
                  <%= f.button "Save and Continue", class: "btn btn-red-submit btn-lg mt-2" %>
                </div>
                <div class="">
                  <img class="float-right img-left" src="/assets/img/Frame 52.png" alt="" srcset="">
                  <img class="float-left img-right" src="/assets/img/Frame 53.png" alt="" srcset="">
                </div>
            </div>
            <% end %>
          </div>
          <div>
  </div>
  <script>
    $('#participant_primary_info_modal').modal('show');
  </script>
<% end %>
