<% if current_participant.present? && show_submission_popup?(current_participant) %>
  <div class="modal participant_secondary_info_modal" id="participant_secondary_info_modal" tabindex="-1" role="dialog" aria-labelledby="previewModalLabel" aria-hidden="true">
    <div class="container-fluid page" role="document">
      <div id="detail-modal2">
        <div>
          <img class="top" src="/assets/img/ai-popup-logo.png" alt="">
          <span class="fa fa-times cross" data-dismiss="modal" aria-label="Close" style="cursor: pointer"></span>
        </div>

        <div>
              <h5 class="text-center">Your AIcrowd profile is almost complete!</h5>
              <p class="sub ">Fill the form below and make it shine. </p>

        </div>
        <div class="modal-detail-form">
          <%= form_for current_participant, validate: true do |f| %>
          <div class="detail-form2">
            <div class="row">
              <div class="col-lg-3 col-md-3">
                <%= participant_avatar(current_participant, 'avatar profile-dot') %>
                <div class="popup-image-upload">
                  <%= f.file_field :image_file, class: 'custom-file-input' %>
                  <label for="participant_image_file"></label>
                </div>
              </div>
              <div class="col-lg-9 col-md-9">
                <div class="form-group mt-2">
                  <%= f.text_area :bio, class: "form-control", placeholder: "Add a short bio to your profile" %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group mt-2">
                  <label class="float-left" for="github">Github Profile</label>
                  <%= f.text_field :github, class: 'form-control', placeholder: "e.g. https://github.com/aicrowd"%>
                </div>

                <div class="form-group">
                  <label class="float-left" for="twitter">Twitter Account</label>
                  <%= f.text_field :twitter, class: 'form-control', placeholder: "e.g. https://twitter.com/aicrowdHQ" %>
                </div>

              </div>
              <div class="col-lg-6">
                <div class="form-group mt-2">
                  <label class="float-left" for="linkedin">LinkedIn Profile</label>
                  <%= f.text_field :linkedin, class: 'form-control', placeholder: "e.g. https://www.linkedin.com/company/aicrowd" %>

                </div>

                <div class="form-group">
                  <label class="float-left" for="website">Personal Website</label>
                  <%= f.text_field :website, class: 'form-control', placeholder: "e.g. https://www.aicrowd.com" %>
                </div>

              </div>
            </div>
          </div>
          <div class="newbutton mb-5">
            <div class="row">
              <div class="col-lg-6">
                <button type="submit" class="btn btn-white-submit2  mt-2" style="width: 100%;" data-dismiss="modal" aria-label="Close" onclick="return false;">Skip for now</button>
              </div>
              <div class="col-lg-6">
                <%= f.button "Save Details", class: "btn btn-red-submit btn-lg mt-2" %>
              </div>
            </div>
          </div>
          <div>
            <img class="float-right img-left2" src="/assets/img/Frame 52.png" alt="" srcset="">
            <img class="float-left img-right2" src="/assets/img/Frame 53.png" alt="" srcset="">
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <script>
    $('#participant_secondary_info_modal').modal('show');
    function readURL(input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function(e) {
          console.log(input);
          ele = $(input).closest('.row').find('.profile-dot').first();
          ele.attr('src', e.target.result);
          ele.hide();
          ele.fadeIn(650);
        }
        reader.readAsDataURL(input.files[0]);
      }
    }
    $("#participant_image_file").change(function() {
      console.log("here");
      readURL(this);
    });
  </script>
<% end %>
