      <tr>
        <td class="leaderboard-change">
          <%= ranking_change(entry) %>
            
        </td>
        <td><strong><%= "%02d" % (entry.row_num) %></strong></td>
        <td>
          <%= link_to participant_path(participant) do %>
            <%= concept(Image::Cell, participant, :klass=>"avatar") %>
            <span class="text-link"><%= participant.name %></span>
          <% end %>
        </td>
        <!-- Insert Media -->
        <td>&#8212</td>
        <td><strong><%= formatted_score %></strong></td>
        <td><strong><%= entry.score_secondary %></strong></td>
        <td><%= entry.entries %></td>

        <td class="text-right"><%= local_time(entry.created_at, "%a, %e %b %Y %H:%M") %></td>
        <td class="text-right">
              <%= link_to challenge_submission_path(
                    challenge, entry.submission_id),
                    class: 'btn btn-secondary btn-sm' do %>
                    View
              <% end %>
        </td>
      </tr>
