<div id="challenge-round-wrapper-<%= f.object.id %>" class="round nested-fields">
  <div class="text-left mb-3 border-bottom border-red">
    <div class="row d-flex align-items-end pt-3 pb-2 mb-2">
      <div class="form-group col-sm-12 col-md-6">
        <%= f.label :challenge_round, "Round Name:" %>
        <%= f.text_field :challenge_round, class: "form-control" %>
      </div>
      <div class="form-group col-xs-6 col-md-4">
        <%= f.label :active, class: "toggle-switch toggle-switch-large" do %>
          <%= f.check_box :active, class: "active-switch" %>
          <span class="switcher"></span>
          <span class="label">Active round</span>
        <% end %>
      </div>
      <div class="form-group col-xs-6 col-md-2 text-right">
        <a data-toggle="collapse" href="#collapse-_<%= f.index %>_" class="btn btn-primary challenges-form__toggle-expand">
          <span class="fa fa-cog"></span>&nbsp;Configure
        </a>
      </div>
      <hr>
    </div>

    <div id="collapse-_<%= f.index %>_" class="collapse" data-parent="#rounds">
      <div class="row mt-4" data-controller="challenge-rounds" data-action="click->challenge-rounds#toogleSubtab">
        <div class="form-group col-sm-12 col-md-12">
          <h4><span class="fa fa-chevron-right fa-lg"></span> Details</h4>
          <small class="form-text text-muted">Tell more about your round, when should we start and stop submissions?</small>
        </div>
      </div>

      <div class="row mt-4 child d-none">
        <div class="form-group col-sm-12 col-md-6">
          <%= f.label :start_dttm, 'Round Start (UTC)' %>
          <%= f.text_field :start_dttm, class: "form-control", data: {controller: 'flatpickr '} %>
        </div>

        <div class="form-group col-sm-12 col-md-6">
          <%= f.label :end_dttm, 'Round End (UTC)' %>
          <%= f.text_field :end_dttm, class: "form-control", data: {controller: 'flatpickr'} %>
        </div>
      </div>


      <div class="row mt-4" data-controller="challenge-rounds" data-action="click->challenge-rounds#toogleSubtab">
        <div class="form-group col-sm-12 col-md-12">
          <h4><span class="fa fa-chevron-right fa-lg"></span> Submissions</h4>
          <small class="form-text text-muted">Configure submission process and limits for your challenge.</small>
        </div>
      </div>

      <div class="row mt-4 child d-none">
        <div class="form-group col-sm-12 col-md-5">
          <%= f.label :submissions_type, "Submissions Type" %>
          <%= f.select :submissions_type, enum_option_pairs(ChallengeRound, :submissions_type), {}, { class: "form-control" } %>
          <small class="form-text text-muted">Artifacts: File uploads (default), Code: IDE, GitLab: Repositories</small>
        </div>

        <div class="clearfix col-md-5"></div>

        <div class="form-group col-sm-12 col-md-3">
          <%= f.label :submission_limit, "Submission Limit" %>
          <div class="form-row">
            <div class="form-group col-md-4 mb-0">
              <%= f.text_field :submission_limit, class: "form-control", placeholder: 'Enter maximum submissions' %>
            </div>
            <div class="form-group col-md-8 mb-0">
              <%= f.select :submission_limit_period,
                      enum_option_pairs(ChallengeRound, :submission_limit_period),
                      {},
                      {class: "form-control"} %>
            </div>
          </div>
          <small class="form-text text-muted">Maximum number allowed</small>
        </div>

        <div class="form-group col-sm-12 col-md-3">
          <%= f.label :failed_submissions, "Failed submissions allowed" %>
          <%= f.text_field :failed_submissions, class: "form-control" %>
          <small class="form-text text-muted">Mistakes happen, how many not to count?</small>
        </div>

        <div class="form-group col-sm-12 col-md-3">
          <%= f.label :parallel_submissions, "Parallel Submissions" %>
          <%= f.text_field :parallel_submissions, class: "form-control" %>
          <small class="form-text text-muted">Reject new if old are evaluating (same user)</small>
        </div>

        <div class="form-group col-sm-12 col-md-3">
          <%= f.label :debug_submission_limit, "Debug Submission Limit" %>
          <div class="form-row">
            <div class="form-group col-md-4 mb-0">
              <%= f.text_field :debug_submission_limit, class: "form-control" %>
            </div>
            <div class="form-group col-md-8 mb-0">
              <%= f.select :debug_submission_limit_period,
                      enum_option_pairs(ChallengeRound, :debug_submission_limit_period),
                      {},
                      {class: "form-control"} %>
            </div>
          </div>
          <small class="form-text text-muted"><i class="fa fa-exclamation-circle" aria-hidden="true"></i>&nbsp;Valid if you support debug submissions</small>
        </div>
      </div>

      <div class="row mt-4" data-controller="challenge-rounds" data-action="click->challenge-rounds#toogleSubtab">
        <div class="form-group col-10">
          <h4><span class="fa fa-chevron-right fa-lg"></span> Leaderboard</h4>
          <small class="form-text text-muted">These configurations controls your leaderboard calculation and visilibity.</small>
        </div>
      </div>

      <%= f.fields_for :challenge_leaderboard_extras do |f| %>
        <%= render partial: 'challenges/fields/leaderboard_fields', locals: { f: f } %>
      <% end %>

      <% if f.object.persisted? %>
      <div class="row child d-none">
        <div class='links'>
          <%= link_to_add_association '+ Add Leaderboard', f, :challenge_leaderboard_extras, html_options = {
              partial: 'challenges/fields/leaderboard_fields',
              render_options:  {locals: { expanded: true }},
              id: 'challenges-form-add-leaderboard',
              class: "btn btn-secondary mt-3"
          } %>
        </div>
      </div>
      <% else %>
      <div class="row child d-none">
        <p>Leaderboard configuration would be available after this form is saved.</p>
      </div>
      <% end %>

      <div class="row mt-4" data-controller="challenge-rounds" data-action="click->challenge-rounds#toogleSubtab">
        <div class="form-group col-sm-12 col-md-12">
          <h4><span class="fa fa-chevron-right fa-lg"></span> Qualification Criteria</h4>
          <small class="form-text text-muted">In case of multi-round challenges, which users should be qualitifed to next round? <br/>NOTE: The default leaderboard's value are considered here instead of additional leaderboards.</small>
        </div>
      </div>

      <div class="row mt-4 child d-none">
        <div class="form-group col-sm-12 col-md-6">
          <%= f.label :minimum_score, "Round Min Score" %>
          <%= f.text_field :minimum_score, class: "form-control", placeholder: 'No limitations' %>
        </div>

        <div class="form-group col-sm-12 col-md-6">
          <%= f.label :minimum_score_secondary, "Round Min Secondary Score" %>
          <%= f.text_field :minimum_score_secondary, class: "form-control", placeholder: 'No limitations' %>
        </div>
      </div>

      <div class="row mt-4" data-controller="challenge-rounds" data-action="click->challenge-rounds#toogleSubtab">
        <div class="form-group col-sm-12 col-md-12">
          <h4><span class="fa fa-chevron-right fa-lg"></span> Evaluation Configuration</h4>
          <small class="form-text text-muted">Please take help from AIcrowd team in this section.</small>
        </div>
      </div>

      <div class="row mt-4 child d-none">
        <p>
        </p>
        <div class="row">
          <div class="form-group col-sm-12 col-md-4">
            <span class="label-text">Grader Type</span>
            <%= f.select :evaluator_type_cd, Challenge::EVALUATOR_TYPES, {}, class: 'form-control' %>
          </div>

          <div class="form-group col-sm-12 col-md-4">
            <span class="label-text">Challenge client name</span>
            <%= f.text_field :challenge_client_name, class: "form-control" %>
          </div>

          <div class="form-group col-sm-12 col-md-4">
            <span class="label-text">Grader identifier</span>
            <%= f.text_field :grader_identifier, class: "form-control" %>
          </div>
        </div>

        <hr/>
      </div>

      <div class="row mt-4">
        <% if f.object.persisted? %>
          <div class="form-group col-4 text-center"
              data-controller="challenge-rounds"
              data-challenge-rounds-remove-round-url="<%= api_v1_challenge_challenge_round_url(@challenge, f.object.id) %>"
              data-challenge-rounds-challenge-round-id="<%= f.object.id %>"
              data-challenge-rounds-child-index="<%= f.options[:child_index] %>"
          >
            <soanAre you sure you want to permanently remove this challenge round? data-action="click->challenge-rounds#removeChallengeRound" class="btn btn-secondary">
              Remove Round
            </span>
          </div>
        <% else %>
          <div class="form-group col-4 text-center">
            <%= link_to_remove_association "Remove Round", f, html_options = {
                class: "btn btn-secondary"
            } %>
          </div>
        <% end %>

        <% if f.object.persisted? %>
          <% if current_participant.admin? %>
            <div class="form-group col-4 text-center mt-2">
              Round ID: <%= f.object.id %>
            </div>
          <% end %>
          <div class="form-group col-4 text-center mt-2">
            <%= pluralize(f.object.submissions.count, 'submission') %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
