
<div class="form-group">
  <%= render partial: 'challenges/fields/fancy_radio', locals: { f: f, name: :active, text: "Current Round", p: { class: 'switch active-switch' } } %>
</div>

<div class="form-group">
  <label>Round</label>
  <%= f.text_field :challenge_round, class: "form-control" %>
</div>

<div class="form-group">
  <label>Prior Round Min Score</label>
  <%= f.text_field :minimum_score, class: "form-control", placeholder: 'No limitations' %>
</div>

<div class="form-group">
  <% unless @challenge.secondary_sort_order == :not_used %>
    <label>Prior Round Min Sec Score</label>
    <%= f.text_field :minimum_score_secondary, class: "form-control", placeholder: 'No limitations' %>
  <% end %>
</div>

<div class="form-group">
  <label>Submission Limit</label>
  <%= f.text_field :submission_limit, class: "form-control", placeholder: 'Enter maximum submissions' %>
</div>

<div class="form-group">
  <label>Period</label>
  <%= f.select :submission_limit_period, enum_option_pairs(ChallengeRound, :submission_limit_period), include_blank: true %>
</div>

<div class="form-group">
  <label>Failed submissions allowed</label>
  <%= f.text_field :failed_submissions, class: "form-control" %>
</div>

<div class="form-group">
  <label>Parallel Submissions</label>
  <%= f.text_field :parallel_submissions, class: "form-control" %>
</div>

<div class="form-group">
  <label>Highlighted Rankings</label>
  <%= f.text_field :ranking_highlight, class: "form-control" %>
</div>

<div class="form-group">
  <label>Ranking window (hours)</label>
  <%= f.text_field :ranking_window, class: "form-control" %>
</div>

<div class="form-group">
  <label>Score Precision</label>
  <%= f.text_field :score_precision, class: "form-control" %>
</div>

<div class="form-group">
  <label>Secondary Score Precision</label>
  <%= f.text_field :score_secondary_precision, class: "form-control" %>
</div>

<div class="form-group">
  <%= f.label :start_dttm, 'Round Start (UTC)' %>
  <%= f.text_field :start_dttm, class: "form-control", data: { controller: 'flatpickr' } %>
</div>

<div class="form-group">
  <%= f.label :end_dttm, 'Round End (UTC)' %>
  <%= f.text_field :end_dttm, class: "form-control", data: { controller: 'flatpickr' } %>
</div>

<label>Leaderboard Message</label>

<%= markdown_editor do |m| %>
  <%= f.text_area :leaderboard_note_markdown, class: "form-control" %>
<% end %>

<% if current_participant.admin? && f.object.persisted? %>
  <span>round_id: <%= f.object.id %></span>
<% end %>

<% if f.object.persisted? && @challenge.submissions.where(challenge_round_id: f.object.id).present? %>
  <span class='pull-right'>
    <%= pluralize(@challenge.submissions.count,'submission') %>
  </span>
<% else %>
  <%= link_to_remove_association "remove", f, class: 'pull-right' %>
<% end %>
