<%= render partial: 'shared/challenges/masthead', locals: { challenge: @challenge, challenge_rounds: @challenge_rounds, vote: @vote, follow: @follow } %>
<%= render partial: 'challenges/show/subnav', locals: { challenge: @challenge } %>

<!-- section -->
<section class="section-p-md">
  <div class="container-fluid">
    <div class="row">
      <%= form_with model: @newsletter_email_form, url: challenge_newsletter_emails_path(@challenge), validate: true, local: true do |f| %>
        <div class="form-group">
          <span class="label-text">Groups</span>
          <%= f.select :group, @newsletter_email_groups, { include_blank: true }, { class: 'form-control' } %>
        </div>

        <div class="form-group">
          <span class="label-text">CC</span>
          <%= f.text_field :cc, class: "form-control" %>
        </div>

        <div class="form-group">
          <span class="label-text">BCC</span>
          <%= f.text_field :bcc, class: "form-control" %>
        </div>

        <div class="form-group">
          <span class="label-text">Subject</span>
          <%= f.text_field :subject, class: "form-control" %>
        </div>

        <div class="form-group">
          <span class="label-text">Message</span>
          <div class="md-content">
            <%= f.text_area :message, class: "form-control", data: { controller: "ckeditor" } %>
          </div>
        </div>

        <div class="btn-set" aria-hidden="true">
          <%= f.button 'Send Newsletter E-mail', class: 'btn btn-primary btn-sm', data: { disable_with: 'Saving...' } %>
        </div>
      <% end %>
    </div>
  </div>
</section>
<!-- /section -->
