<%= render partial: 'shared/challenges/masthead', locals: { challenge: @challenge, challenge_rounds: @challenge_rounds, vote: @vote, follow: @follow } %>
<%= render partial: 'challenges/show/subnav', locals: { challenge: @challenge } %>

<!-- section -->
<section data-controller="newsletter-email-form" data-newsletter-email-form-preview-url="<%= preview_api_v1_challenge_newsletter_emails_url(@challenge) %>" class="section-p-md">
  <div class="container-fluid">
    <div class="row">
      <%= form_with model: @newsletter_email_form, url: challenge_newsletter_emails_path(@challenge), class: 'newsletter-email-form', validate: true, local: true do |f| %>
        <% if @newsletter_email_form.errors.any? %>
          <%= render partial: 'shared/error_messages', locals: { target: @newsletter_email_form } %>
        <% end %>

        <div class="form-group">
          <span class="label-text">Users</span>
          <%= f.select :multi_select, [], { }, {
              id:       'challenge-multiselect-select2',
              class:    'form-control',
                multiple: true,
                data:     { controller: 'select2', 'select2-placeholder': 'Users', 'select2-id': 'challenge-multiselect-select2', 'select2-url': search_api_v1_challenge_newsletter_emails_url(@challenge) }
            } %>
        </div>

        <div class="form-group">
          <span class="label-text">CC</span>
          <%= f.text_field :cc, class: "form-control", placeholder: 'Enter e-mails separated by comma' %>
        </div>

        <div class="form-group">
          <span class="label-text">BCC</span>
          <%= f.text_field :bcc, class: "form-control", placeholder: 'Enter e-mails separated by comma' %>
        </div>

        <div class="form-group">
          <span class="label-text">Subject</span>
          <%= f.text_field :subject, class: "form-control", placeholder: 'E-mail subject', data: { target: 'newsletter-email-form.subject' } %>
        </div>

        <div class="form-group">
          <div class="md-content" id="newsletter-email-message-wrapper">
            <span class="label-text">Message</span>
            <%= f.cktext_area :message %>
          </div>
        </div>

        <div class="btn-set" aria-hidden="true">
          <%= f.button 'Send Newsletter E-mail', class: 'btn btn-primary btn-sm', data: { disable_with: 'Saving...' } %>

          <button data-action="click->newsletter-email-form#preview" class="btn btn-primary btn-sm">
            Preview
          </button>
        </div>
      <% end %>
    </div>
  </div>
</section>
<!-- /section -->
