<%= concept(Challenge::Cell::ChallengeMasthead,@challenge,current_participant: current_participant) %>
<%= render partial: 'challenges/show/subnav',
    locals: { challenge: @challenge } %>
<!-- section -->
<section class="section-p-sm">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">

        <% if @my_submissions %>
            <p>You have <%= @submissions_remaining[0] %> submissions available.
              <% if @submissions_remaining[1].present? %>
                Reset DTTM: <%= @submissions_remaining[1] %>
              <% end %>
            </p>
        <% end %>

        <!-- sub-nav pills -->
        <%= concept(Submission::Cell::ChallengeRoundPills, @challenge, current_round_id: @current_round_id, my_submissions: @my_submissions, current_participant: current_participant) %>
        <!-- sub-nav pills -->

        <!-- challenge submissions -->
        <div class="table-responsive-lg">
          <table class="table">
            <%= search_form_for @search,
            remote: true,
            url: challenge_submissions_path(@challenge),
            method: :get do |f| %>
              <thead>
                <tr>
                  <th scope="col"><%= sort_link(@search, :id,"ID") %></th>
                  <th scope="col"><%= sort_link(@search, :name,"Participant") %></th>
                  <th scope="col"><%= sort_link(@search, :grading_status_cd,"Status") %></th>
                  <th scope="col"><%= sort_link(@search, :score_display,@challenge.score_title) %></th>
                  <% if @challenge.score_secondary_title? %>
                    <th scope="col"><%= sort_link(@search, :score_secondary_display,@challenge.score_secondary_title) %></th>
                  <% end %>
                  <th scope="col" class="status"><%= sort_link(@search, :grading_message, 'Message') %></th>
                  <th scope="col" class="text-right"><%= sort_link(@search, :created_at,"Submission") %></th>
                  <th scope="col" class="text-right"></th>
                </tr>
              </thead>
            <% end %>
            <tbody id="submissions-div">
              <%= render partial: 'submissions' %>
            </tbody>
          </table>
        </div>
        <!-- /challenge submissions -->


        <span id="more-anchor"></span>
        <%= render partial: 'shared/load_more', locals: { collection: @submissions } %>

        <div class="toggle-switch-container">
            <div class="can-toggle can-toggle--size-small">
              <%= link_to challenge_submissions_path(@challenge, my_submissions: @my_submissions.blank?, current_round_id: @current_round_id) do %>
                <input id="my-submissions-switch" type="checkbox" <%= "checked" if @my_submissions %> >
                <label for="my-submissions">
                  <div class="can-toggle__switch" data-checked="On" data-unchecked="Off"></div>
                  <div class="can-toggle__label-text">My Submissions</div>
                </label>
              <% end %>
            </div>
            <div class="can-toggle can-toggle--size-small">
              <%= link_to challenge_submissions_path(@challenge, baselines: @baselines.blank?, current_round_id: @current_round_id) do %>
                <input id="baselines-switch" type="checkbox" <%= "checked" if @baselines %> >
                <label for="baselines">
                  <div class="can-toggle__switch" data-checked="On" data-unchecked="Off"></div>
                  <div class="can-toggle__label-text">Baselines</div>
                </label>
              <% end %>
            </div>
        </div>

      </div>
    </div>
  </div>
</section>
<!-- /section -->
