<%= concept(Challenge::Cell::ChallengeMasthead,@challenge,current_participant: current_participant) %>
<%= concept(Challenge::Cell::ChallengeSubnav, @challenge, current_participant: current_participant) %>

<!-- section -->
<section class="section-p-sm">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">

        <% if @my_submissions == 'on' %>
            <p>You have <%= @submissions_remaining[0] %> submissions available.
              <% if @submissions_remaining[1].present? %>
                Reset DTTM: <%= @submissions_remaining[1] %>
              <% end %>
            </p>
        <% end %>

        <!-- sub-nav pills -->
        <%= concept(Submission::Cell::ChallengeRoundPills, @challenge, current_round_id: @current_round_id, my_submissions: @my_submissions, current_participant: current_participant) %>
        <!-- sub-nav pills -->

        <!-- challenge submissions -->
        <div class="table-responsive-lg">
          <table class="table">
            <%= search_form_for @search,
            remote: true,
            url: challenge_submissions_path(@challenge),
            method: :get do |f| %>
              <thead>
                <tr>
                  <th scope="col"><%= sort_link(@search, :id,"ID") %></th>
                  <th scope="col"><%= sort_link(@search, :name,"Participant") %></th>
                  <th scope="col"><%= sort_link(@search, :grading_status_cd,"Status") %></th>
                  <th scope="col"><%= sort_link(@search, :score_display,@challenge.score_title) %></th>
                  <th scope="col"><%= sort_link(@search, :score_secondary_display,@challenge.score_secondary_title) %></th>
                  <th scope="col"><%= sort_link(@search, :grading_message, 'Message') %></th>
                  <th scope="col"><%= sort_link(@search, :created_at,"Submission") %></th>
                  <th scope="col" class="text-right"></th>
                  <th scope="col" class="text-right"></th>
                </tr>
              </thead>
            <% end %>
            <tbody data-target='filter-sidebar.submissions'>
              <%= render @submissions %>
            </tbody>
          </table>
        </div>
        <!-- /challenge submissions -->

        <div class="toggle-switch-container">
          <% if @my_submissions == 'off' %>
          <%= render partial: 'submissions/index/my_submissions_off',
                locals: { challenge: @challenge, current_round_id: @current_round_id } %>
          <% end %>
          <% if @my_submissions == 'on' %>
          <%= render partial: 'submissions/index/my_submissions_on',
                locals: { challenge: @challenge, current_round_id: @current_round_id } %>
          <% end %>

          <% if @baselines == 'off' %>
          <%= render partial: 'submissions/index/baselines_off',
                locals: { challenge: @challenge, current_round_id: @current_round_id } %>
          <% end %>
          <% if @baselines == 'on' %>
          <%= render partial: 'submissions/index/baselines_on',
                locals: { challenge: @challenge, current_round_id: @current_round_id } %>
          <% end %>
        </div>
        
        <!-- load more -->
        <div class="load-more">
          <%= link_to_next_page @submissions, '<button type="button" class="btn btn-secondary btn-block">Load more</button>'.html_safe, remote: true %>      
        </div>
        <!-- /load more -->
      </div>
    </div>
  </div>
</section>
<!-- /section -->