<%= render partial: 'shared/challenges/masthead', locals: { challenge: @challenge, challenge_rounds: @challenge_rounds, vote: @vote, follow: @follow } %>
<%= render partial: 'challenges/show/subnav', locals: { challenge: @challenge } %>

<% if policy(@challenge).show_submissions? %>
  <!-- section -->
  <section class="section-p-sm">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <% if @my_submissions %>
            <div class="md-content">
              <blockquote>
                <p>ℹ️ 
                  <% if @submissions_remaining[1] %>
                    You have <%= pluralize(@submissions_remaining[0],'submission') %> remaining until <%= @submissions_remaining[1] %>.
                  <% else %>
                    You have <%= pluralize(@submissions_remaining[0],'submission') %> remaining.
                  <% end %>
                </p>
              </blockquote>
            </div>
          <% end %>

          <% if @challenge.challenge_rounds.count > 1 && !@challenge.meta_challenge %>
            <!-- sub-nav pills -->
            <ul class="nav nav-pills">
              <% @challenge.challenge_rounds.each do |challenge_round| %>
                <li class="nav-item">
                  <%= link_to challenge_round.challenge_round,
                              challenge_submissions_path(
                                  @challenge,
                                  challenge_round_id: challenge_round.id,
                                  current_round_id: @current_round&.id,
                                  my_submissions: @my_submissions),
                              class: round_pills_tab_classes(challenge_round, @current_round) %>
                </li>
              <% end %>
            </ul>
            <!-- sub-nav pills -->
          <% end %>

          <% if submission_locking_enabled?(@challenge) %>
            <div class="md-content width-100">
              <div class="note">
                <%= sanitize_html(@challenge.submission_note) %>
              </div>
            </div>
          <% end %>

          <div class="submission-filters-btn">
            <a class="" data-toggle="collapse" href="#submissionFilters" role="button" aria-expanded="false" aria-controls="submissionFilters">
              Submission filters
            </a>
          </div>
          <div id='submissionFilters' class="collapse <%= current_participant && @my_submissions || @baselines ? 'show' : '' %>">
            <!-- toggle switch -->
            <% if current_participant %>
              <div class="my-2">
                <label class="toggle-switch">
                  <%= link_to challenge_submissions_path(@challenge, my_submissions: @my_submissions.blank?, current_round_id: @current_round_id) do %>
                    <input id="my-submissions-switch" type="checkbox" <%= "checked" if @my_submissions %> >
                    <span class="switcher mr-2"></span>
                    <span class="label">My Submissions</span>
                  <% end %>
                </label>
              </div>
            <% end %>
            <div class="my-2">
              <label class="toggle-switch">
                <%= link_to challenge_submissions_path(@challenge, baselines: @baselines.blank?, current_round_id: @current_round_id) do %>
                  <input id="baselines-switch" type="checkbox" <%= "checked" if @baselines %> >
                  <span class="switcher mr-2"></span>
                  <span class="label">Baselines</span>
                <% end %>
              </label>
            </div>
            <!-- /toggle switch -->
          </div>

          <!-- challenge submissions -->
          <div class="table-responsive-lg">
            <table class="table">
              <%= search_form_for @search,
                                  remote: true,
                                  url: challenge_submissions_path(@challenge),
                                  method: :get do |f| %>
                <thead>
                <tr>
                  <th scope="col"><%= sort_link(@search, :id,"ID") %></th>
                  <th scope="col"><%= sort_link(@search, :name,"Participant") %></th>
                  <th scope="col"><%= sort_link(@search, :grading_status_cd,"Status") %></th>
                  <th scope="col"><%= sort_link(@search, :score_display, @current_round&.default_leaderboard&.score_title) %></th>
                  <% if @current_round&.default_leaderboard&.score_secondary_title.present? %>
                    <th scope="col"><%= sort_link(@search, :score_secondary_display, @current_round.default_leaderboard.score_secondary_title) %></th>
                  <% end %>
                  <% if !@challenge.meta_challenge %>
                    <% @current_round.default_leaderboard.other_scores_fieldnames_array(display=true).each do |fname| %>
                      <th scope="col" class="text-right other-score-title"><%= fname %></th>
                    <% end %>
                  <% end %>
                  <th scope="col" class="status"><%= sort_link(@search, :grading_message, 'Message') %></th>
                  <% if @challenge.meta_challenge %><th scope="col">Challenge</th><% end %>
                  <th scope="col" class="text-right"><%= sort_link(@search, :created_at,"Submission") %></th>
                  <th scope="col" class="text-right"></th>
                </tr>
                </thead>
              <% end %>
              <tbody id="submissions-div" data-page='1' data-request-completed='true' data-controller="load-more" data-action="scroll@window->load-more#load_more_data">
                <%= render partial: 'submissions', locals: { submissions: @submissions } %>
              </tbody>
            </table>
          </div>
          <!-- /challenge submissions -->
        </div>
      </div>
    </div>
  </section>
<% end %>
<!-- /section -->
