<%= render partial: 'shared/challenges/masthead', locals: { challenge: @challenge, challenge_rounds: @challenge_rounds, vote: @vote, follow: @follow } %>
<div class="section-p-md">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12", style="padding:0">
        <% if submission_locking_enabled?(@challenge) %>
          <h3>👋 Lock Your Submissions for this round before <%= @challenge.submission_lock_time %></h3
            >
        <% else %>
          <h3>Submission locking is disabled please come back later.</h3>
        <% end %>
        <hr/>
        <br>
      </div>

      <% if submission_locking_enabled?(@challenge) %>
        <%= form_with model: @locked_submission, url: freeze_submission_challenge_submissions_path do |f| %>

          <div class="form-group">
            <span class="label-text">Submission</span>
            <%= f.select :submission_id, Submission.where(participant_id: current_participant.id, challenge_round_id: @current_round.id).order("id DESC").collect {|s| [ s.id, s.id] },
                  {prompt: 'Select Submission (optional)'}, {class: "select2 form-control", required: true}%>
            <small class="form-text text-muted">🚀 Lock your submission.</span>
          </div>

          <%= f.button 'Submit', type: 'submit', class: "btn btn-primary" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>


