<%= render partial: 'shared/challenges/masthead', locals: { challenge: @challenge, challenge_rounds: @challenge_rounds } %>
<%= render partial: 'challenges/show/subnav', locals: { challenge: @challenge } %>

<!-- section -->
<section class="section-p-md">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 col-lg-7" id="description-wrapper">
			  <% if @submissions_remaining == 0 %>
			    <%= render partial: 'submissions/new/no_submissions' %>
			  <% else %>
			    <% if @challenge.organizer.clef? %>
			      <%= render partial: 'submissions/new/clef_form' %>
			    <% else %>
			      <%= render partial: 'submissions/new/form' %>
			    <% end %>
			  <% end %>
      </div>
    </div>
  </div>
</section>
<!-- /section -->

</main>
