<%= render partial: 'shared/challenges/masthead', locals: { challenge: @challenge, challenge_rounds: @challenge_rounds, vote: @vote, follow: @follow } %>
<%= render partial: 'challenges/show/subnav', locals: { challenge: @challenge } %>

<!-- section -->
<section class="section-p-md">
  <div class="container-fluid">
    <div class="row">
      <% if submission_locking_enabled?(@challenge) %>
        <div class="md-content width-100 col-md-12">
          <div class="note">
            <%= @challenge.submission_note.html_safe %>
          </div>
        </div>
      <% end %>
      <% if @submissions_remaining == 0 %>
        <%= render partial: 'submissions/new/no_submissions' %>
      <% else %>
        <div class="col-md-12">
          <div class="form-group col-md-4 pl-0">

            <label>Select challenge round for submission</label>
            <%= select_tag :challenge_round_id,
                           options_for_select(@allowed_challenge_rounds, @current_round.id),
                           class: 'form-control' %>
          </div>
        </div>
        <% if @challenge.organizers.any? { |organizer| organizer.clef? } %>
          <%= render partial: 'submissions/new/clef_form' %>
        <% else %>
          <%= render partial: "submissions/new/#{@form_type}" %>
        <% end %>
      <% end %>
    </div>
  </div>
</section>
<!-- /section -->

</main>
