<%= concept(Challenge::Cell::ChallengeMasthead, @presenter.challenge,current_participant: current_participant) %>
<%= concept(Challenge::Cell::ChallengeSubnav, @presenter.challenge, current_participant: current_participant) %>

<!-- section -->
<section class="section-p-sm">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 mb-4">
        <%= link_to "&#8592; Back to challenge".html_safe ,challenge_submissions_path(@submission.challenge_id) %>
      </div>

      <%= concept(Submission::Cell::SubmissionDetail, @submission, current_participant: current_participant) %>

      <!--Detail media start-->
      <% if @challenge.media_on_leaderboard %>
        <div class="detail-media">
          <%= concept(Leaderboard::Cell::Media,
                @submission,
                size: :large,
                submission_id: @submission.id,
                current_participant: current_participant) %>
        </div>
      <% end %>
    <!--Detail media end-->
      <%= render partial: "submissions/show/comments", locals: {submission: @submission}%>
    </div>
  </div>
</section>
<!-- /section -->

