<%= render partial: 'shared/challenges/masthead', locals: { challenge: @challenge, challenge_rounds: @challenge_rounds, vote: @vote, follow: @follow } %>
<%= render partial: 'challenges/show/subnav', locals: { challenge: @challenge } %>
<!-- section -->
<section class="section-p-sm">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 mb-4">
        <%= link_to challenge_submissions_path(@submission.challenge) do %>
          <span>&#8592; Back to challenge</span>
        <% end %>
      </div>

      <!-- submission details -->
      <div class="col-sm-12 col-md-6">
        <div class="d-flex">
          <h2 class="mr-2">Submission #<%= @submission.id %></h2><span class="badge <%= submission_grade_class(@submission) %>"><%= @submission.grading_status_cd %></span>
        </div>

        <% if submission_view_description(@submission) %>
          <div class="mb-5">
            <p><%= @submission.description %></p>
          </div>
        <% end %>

        <div class="d-flex">
          <div class="mr-4">
            <h4><%= @submission.challenge_round.default_leaderboard&.score_title %></h4>
            <span><%= submission_formatted_value(@submission, @submission.score_display) %></span>
          </div>

          <% if !(@submission.challenge_round.default_leaderboard&.secondary_sort_order.present? && @submission.challenge_round.default_leaderboard&.secondary_sort_order == :hidden) %>
          <div class="mr-4">
            <h4><%= @submission.challenge_round.default_leaderboard&.score_secondary_title %></h4>
            <span><%= submission_formatted_value(@submission, @submission.score_secondary_display) %></span>
          </div>
          <% end %>

          <div class="mr-4">
            <h4>Message</h4>
            <span data-controller="linkify-content"><%= @submission.grading_message %></span>
          </div>

          <% if @submission.submission_files.present? && (@challenge.submissions_downloadable && (current_participant.present? && (policy(@challenge).edit? || current_participant.id== @submission.participant_id))) %>
            <div class="mr-4">
              <h4>Submission Files</h4>
              <span>
                <% @submission.submission_files.each do |file| %>
                  <%= link_to "Download file #{file.id}",
                              s3_expiring_url(file.submission_file_s3_key)
                  %>&nbsp;
                <% end %>
              </span>
            </div>
          <% end %>

        </div><br>
        <% if submission_code_link(@submission).present? %>
          <div class="mr-4">
            <h4>Codebase</h4>
            <%= link_to "View here", submission_code_link(@submission), target: "_blank" %>
          </div>
        <% end %>


        <% if @description_markdown.present? && (current_participant.present? && (policy(@challenge).edit? || submission_team?(submission, current_participant))) %>
          <hr/>
          <div class="md-content w-100">
            <%= @description_markdown %>
          </div>
        <% end %>

        <% if @submission.meta.present? %>
          <div class="section-header mt-4 pt-5 border-top">
            <h3>Meta parameters</h3>
          </div>
          <% submission_meta_hash(@submission).each do |key, value| %>
            <% if not key.start_with?('private') && key != 'description_markdown'>
              <div class="d-flex mt-4">
                <div class="mr-4">
                  <h4> <%= key %> </h4>
                  <span>
                    <% if not key.include?('URL') %>
                      <a><%= value %></a>
                    <% else %>
                      <%= value %>
                    <% end %>
                  </span>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>

        <div class="section-header mt-4 pt-4 border-top">
          <h4>Share</h4>
          <div class="d-flex">
            <input id="shortUrl" type="text" style="display:none; position: relative; left: -10000px;" value='<%= "#{request.base_url}/#{@submission.short_url}" %>' >
            <button
              id="copyurlbutton"
              data-controller="copy-link"
              data-action="click->copy-link#copyLink"
              class="btn btn-secondary btn-sm mr-2"
            >
              Copy URL
            </button>
            <%= social_share('facebook', @challenge, @submission) %>
            <%= social_share('twitter', @challenge, @submission) %>
          </div>
        </div>

        <% if policy(@challenge).edit? %>
        <div class="section-header mt-4 pt-4 border-top">
          <div class="w-100">
            <%= link_to 'Edit Submission', edit_challenge_submission_path(@challenge, @submission), {class: "btn btn-primary btn-sm", role:"button"} %>
          </div>
        </div>
        <% end %>
      </div>
      <!-- /submission details -->
      <div class="col-sm-12 col-md-6">
        <!--Detail media start-->
        <% if @challenge.media_on_leaderboard %>
          <div class="media">
            <%= render partial: 'shared/challenges/media', locals: { mediable: @submission, submission_id: @submission.id, size: :large } %>
          </div>
        <% end %>
        <!--Detail media end-->
      </div>
    </div>
  </div>
</section>
<!-- /section -->
