<%= render partial: 'shared/challenges/masthead', locals: { challenge: @challenge, challenge_rounds: @challenge_rounds, vote: @vote, follow: @follow } %>
<%= render partial: 'challenges/show/subnav', locals: { challenge: @challenge } %>
<% active_tab='summary'%>

<script src="https://cdnjs.cloudflare.com/ajax/libs/mermaid/8.14.0/mermaid.min.js" integrity="sha512-vLumCjg7NKEQKGM+xAgBYTvQ90DVu6Eo7vS1T/iPf2feNLcrpGxvumuUUmE3CPiCUPgviyKbtpWGDbhnVnmJxg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!-- section -->
<section class="section-p-sm">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 mb-4">
        <%= link_to challenge_submissions_path(@submission.challenge) do %>
          <span>&#8592; Back to challenge</span>
        <% end %>
        <% if policy(@challenge).edit? %>
          <div class="float-right">
            <%= link_to 'Edit Submission', edit_challenge_submission_path(@challenge, @submission), {class: "btn btn-primary btn-sm", role:"button"} %>
          </div>
        <% end %>
      </div>

      <!-- submission details -->
      <div class="col-sm-12 col-md-12">
        <div class="d-flex">
          <div class="col-md-7 d-flex pl-0">
            <h2 class="mr-2">Submission #<%= @submission.id %></h2><span class="badge <%= submission_grade_class(@submission) %>"><%= @submission.grading_status_cd %></span>
          </div>
          <% if @authors.present? %>
            <div class="col-md-5">
              <div class="float-right d-flex">
                <i class="mr-2 pt-2">Submitted by</i>
                <div class="avatar-group">
                  <% @authors.each do |participant| %>
                    <%= render partial: 'participants/get_user_profile', locals: { participant: participant, username: 'false' } %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>

        <% if !@show_file_tab && !@show_notebook_tab && !@show_status_tab %>
          <%= render partial: 'submissions/tabs/summary', locals: { description_markdown: @description_markdown, challenge: @challenge, submission: @submission } %>
        <% else %>

          <div class="sub-nav-bar">
            <div>
              <ul class="nav tabs">
                <li class="nav-item">
                  <a class="nav-link nav-link-01<%= ' active' if active_tab == 'summary' %>" data-toggle='tab' href="#tab-summary" onclick="return false;">Summary</a>
                </li>

                <% if @show_file_tab %>
                  <li class="nav-item">
                    <a class="nav-link nav-link-02<%= ' active' if active_tab == 'files' %>" data-toggle='tab' href="#tab-files" onclick="return false;">Submission Files&nbsp;<i class="fa fa-lock" aria-hidden="true" data-toggle="tooltip" title="Visible only to you and organizers"></i></a>
                  </li>
                <% end %>

                <% if @show_notebook_tab %>
                  <li class="nav-item">
                    <a class="nav-link nav-link-03 <%= ' active' if active_tab == 'notebook' %>" data-toggle="tab" href="#tab-notebook" onclick="return false;">Notebook
                    </a>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
          <!-- /sub-nav bar -->

          <div class="tab-content" style="margin-top: 20px;">
            <div id="tab-summary" class="tab-pane fade<%= ' show active' if active_tab == 'summary' %>">
              <%= render partial: 'submissions/tabs/summary', locals: { description_markdown: @description_markdown, challenge: @challenge, submission: @submission } %>
            </div>

            <div id="tab-files" class="tab-pane fade<%= ' show active' if active_tab == 'files' %>">
              <%= render partial: 'submissions/tabs/submission_files', locals: { challenge: @challenge, submission: @submission, is_organiser_or_author: @is_organiser_or_author } %>
            </div>

            <div id="tab-notebook" class="tab-pane fade<%= ' show active' if active_tab == 'notebook' %>">
              <%= render partial: 'submissions/tabs/submission_notebooks', locals: { challenge: @challenge, submission: @submission, posts: @post } %>
            </div>
          </div>
        <% end %>
      </div>
      <!-- /submission details -->

    </div>
  </div>
</section>
<!-- /section -->
