<!-- section -->
<div class="row">
  <div class="col-12">
    <%= form_for @challenge.challenge_problems.new, :url => "#" do |f| %>
      <!-- Can't show errors here as controller is incorrectly created -->
      <div class="form-group">
        <label>Challenge (ID of the challenge)</label>
        <%= f.text_field :problem_id, class: "form-control" %>
      </div>

      <div class="form-group">
        <label>Challenge Round ID</label>
        <%= f.text_field :challenge_round_id, class: "form-control" %>
      </div>

      <div class="form-group">
        <label>Weight</label>
        <%= f.text_field :weight, class: "form-control" %>
      </div>

      <% if @challenge.ml_challenge %>
        <div class="form-group">
          <label>Occur Day No</label>
          <%= f.text_field :occur_day, class: "form-control" %>
        </div>
      <% end %>

      <%= f.button 'Submit', type: 'submit', class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
