<%= render partial: 'shared/challenges/masthead', locals: { challenge: @challenge, challenge_rounds: @challenge_rounds, vote: nil, follow: nil } %>
<section class="section-p-md">
  <div class="container-fluid">

<!--- existing problems --->
<div class="mb-5">
  <h4>Current Problem</h4>
  <form method="post">
    <ul class="list-group list-group-flush-px-0 list-group-teams mb-3">
    <% @challenge.challenge_problems.each do |cp| %>
    <% if cp.persisted? %>
      <li class="list-group-item">
        <div>
          <a class="text-link" href="<%= challenge_path(cp.problem) %>"><%= cp.problem.challenge %></a>
          <span><%= cp.problem.slug %></span>

          <span class="ml-3">Weight&nbsp;
            <input class='width-185' value="<%= cp.weight %>" name="data[<%=cp.problem_id%>][weight]">
          </span>

          <span class="ml-3">Challenge Round ID&nbsp;
            <input class='width-185' value="<%= cp.challenge_round_id %>" name="data[<%=cp.problem_id%>][challenge_round_id]">
          </span>

          <span class="ml-3">Occur Day&nbsp;
            <input class='width-185' value="<%= cp.occur_day %>" name="data[<%=cp.problem_id%>][occur_day]">
          </span>
        </div>
        <button name="delete[<%=cp.problem_id%>]" type="submit" class="btn btn-secondary">Remove</button>
      </li>
      <% end %>
    <% end %>
    </ul>
    <button name="update" type="submit" class="btn btn-primary">Update</button>
  </form>
</div>

<!--- add problem --->
<h4>Add Problem</h4>
<%= render partial: 'form' %>

</div>
</section>
