<div class="section-p-md">
  <div class="container-fluid">
    <div class="row">
      <div
        class="col-12"
        data-controller="dataset-files-form"
      >
        <h2><%= @dataset_file.persisted? ? "Update File" : "Add File" %></h2>

        <%= form_with model: @dataset_file, url: form_url, validate: true, local: true, html: { class: "form-rg sgl-col directUpload", 'data-form-data' => @s3_direct_post.fields.to_json, 'data-url' => @s3_direct_post.url, 'data-host' => URI.parse(@s3_direct_post.url).host } do |f| %>
          <%= render partial: 'shared/error_messages', locals: { target: @dataset_file } %>

          <div class="form-group">
            <label>File Title</label>
            <%= f.text_field :title, class: 'form-control' %>
          </div>

          <div class="form-group">
            <label>File Description</label>
            <%= f.text_field :description, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= render partial: 'challenges/fields/fancy_radio', locals: { f: f, name: :evaluation, text: "Evaluation" } %>
          </div>

          <div class="form-group">
            <%= render partial: 'challenges/fields/fancy_radio', locals: { f: f, name: :visible, text: "Visible" } %>
          </div>

          <div class="form-group">
            <label>Dataset File Storage</label>

            <div>
              <%= f.radio_button :hosting_location, 'crowdAI', checked: true %>
              <%= f.label :hosting_location, 'AIcrowd S3', value: 'crowdAI' %>

              <%= f.radio_button :hosting_location, 'External' %>
              <%= f.label :hosting_location, 'External', value: 'External' %>

              <%= f.radio_button :hosting_location, 'Own S3' %>
              <%= f.label :hosting_location, 'Own S3', value: 'Own S3' %>
            </div>
          </div>

          <div id='dataset-file-s3-key' class="form-group">
            <label>Dataset file</label>
            <%= f.file_field :dataset_file_s3_key, class: 'file-upload s3File form-control' %>
            <% if f.object.dataset_file_s3_key.present? %>
              <span><%= link_to f.object.dataset_file_s3_key, f.object.dataset_file_s3_key %></span>
            <% end %>
          </div>

          <div id='external-url' class="form-group">
            <div class="form-group">
              <label>File S3 URL</label>
              <%= f.text_field :external_url, class: 'form-control' %>
            </div>

            <div class="form-group">
              <label>File Size</label>
              <%= f.text_field :external_file_size, class: 'form-control' %>
            </div>
          </div/>

          <div id='own-s3' class="form-group">
            <div class="form-group">
              <label>Path to file</label>
              <%= f.text_field :file_path, class: 'form-control' %>
            </div>

            <div class="form-group">
              <label>AWS Access Key</label>
              <%= f.text_field :aws_access_key, class: 'form-control' %>
            </div>

            <div class="form-group">
              <label>AWS Secret Access Key</label>
              <%= f.text_field :aws_secret_key, class: 'form-control' %>
            </div>

            <div class="form-group">
              <label>Bucket Name</label>
              <%= f.text_field :bucket_name, class: 'form-control' %>
            </div>

            <div class="form-group">
              <label>Region</label>
              <%= f.text_field :region, class: 'form-control' %>
            </div>
          </div/>

          <div class="btn-set">
            <%= f.button (f.object.new_record? ? "Add" : "Update"), class: 'btn btn-primary', id: 'submitS3' %>
            <%= link_to 'Cancel', challenge_dataset_files_path(@challenge), class: "btn btn-secondary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
