<li data-cell='ParticipantClefTask::Cell::ListDetail'>
  <div class="container">
    <div class="row">
      <div>
        <% if participant.is_a? NullParticipant %>
          <%= link_to '#' do %><%= concept(Image::Cell, participant) %>
          <% end %>
        <% else %>
          <%= link_to participant_path(participant) do %><%= concept(Image::Cell, participant) %>
          <% end %>
        <% end %>
      </div>
      <div style="margin-left:5px">
        <h5><%= link_to participant.name, participant_path(participant) %></h5>
        <small><%= participant.email %></small>
        <div>
          <% if eua_required? %>
            <%= link_to asset_path(participant_clef_task.eua_file.url), target: :_blank do %>
              <i aria-hidden="true" class="fa fa-file-pdf-o fa-2x"/>
            <% end %>
          <% end %>
        </div>
        <div><%= clef_status %></div>
      </div>
    </div>
  </div>
</li>
