<div class="topic-add-comment">
  <%= link_to participant_path(current_participant) do%>
  <%= concept(Image::Cell,current_participant, current_participant: current_participant, klass: "avatar") %>
  <% end %>

  <%= form_for [submission, submission.submission_comments.build], html: {id: "new_comment" } do |f| %>

  <div class="form-group">
    <%= f.text_area :comment_markdown, placeholder: "Add a comment...", class: "form-control" %>
    <small id="addCommentHelp" class="form-text text-muted">
      You can use <a href="https://kramdown.gettalong.org/">kramdown</a> and <em>@mentions</em> in this field.
    </small>
  </div>
  <%= f.submit 'Add comment', class: 'btn btn-primary', type: "submit" %>
  <% end %>
</div>