<%= render partial: 'shared/challenges/masthead', locals: {challenge: @challenge, challenge_rounds: @challenge_rounds, vote: @vote, follow: @follow} %>
<%= render partial: 'challenges/show/subnav', locals: {challenge: @challenge} %>

<section class="section-p-sm">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <% if @discourse_topics_fetch.success? %>
          <header class="section-header">
            <div>
              <h4><%= pluralize(@discourse_topics.size, 'topic') %></h4>
            </div>
            <%= link_to 'New topic', discourse_new_topic_url(@challenge.slug), class: 'btn btn-secondary' %>
          </header>

          <% if @discourse_topics.any? %>
            <%= render partial: 'discussion_list', locals: { discourse_topics: @discourse_topics } %>
          <% else %>
            <div class="md-content">
              <span>Nobody have posted anything on Discourse yet...</span>
            </div>
          <% end %>
        <% else %>
          <div class="md-content">
            <span><%= @discourse_topics_fetch.value %></span>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
