<%= render partial: 'shared/challenges/masthead', locals: {challenge: @challenge, challenge_rounds: @challenge_rounds, vote: @vote, follow: @follow} %>
<%= render partial: 'challenges/show/subnav', locals: {challenge: @challenge} %>

<section class="section-p-sm">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <% if @discourse_topics_fetch.success? %>
          <header class="section-header">
            <div>
              <h4>Topics</h4>
            </div>
            <%= link_to 'New topic', discourse_new_topic_url(@challenge.discourse_category_id), class: 'btn btn-secondary' %>
          </header>

          <% if @discourse_topics.any? %>
            <div id="discourse-topics-listing" class="overflow-md-x" data-page='0' data-request-completed='true' data-controller="load-more" data-action="scroll@window->load-more#load_more_data">
              <%= render partial: 'shared/discourse/discussions_list', locals: { discourse_topics: @discourse_topics } %>
            </div>
          <% else %>
            <div class="md-content">
              <span>Nobody have posted anything on Discourse yet...</span>
            </div>
          <% end %>
        <% else %>
          <div class="md-content">
            <span><%= @discourse_topics_fetch.value %></span>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
