<div class="col-12 mt-5">
  <h3 class="mb-4">Comments</h3>
  <%= render partial: "submission_comments/form", locals: {submission: @submission} %>

  <% submission.submission_comments.each do |submission_comment| %>
  <div class="topic-comment">
    <%= link_to participant_path(submission_comment.participant) do %>
      <%= concept(Image::Cell,submission_comment.participant, klass: "avatar") %>
    <% end %>

    <div class="discussion-topic-body">
      <span class="discussion-details">By <%= link_to submission_comment.participant.name, participant_path(submission_comment.participant.id) %> <%= time_ago_in_words(submission.created_at) %> ago</span>

      <p><%= sanitize(submission_comment.comment) %></p>
    </div>
  </div>
  <% end %>
</div>