<!-- item -->
<li class="list-group-item">
  <div class="dataset-file__info <%= defined?(folder_item) && folder_item ? 'dataset_file__from-folder' : '' %>">
    <div>
      <%= link_to file_expiring_url(dataset_file), class: 'text-link', data: { :'dataset-file-id' => dataset_file.id } do %>
        <%= file_title(dataset_file) %> (<%= file_size(dataset_file) %>)
      <% end %>

      <span class="description">
        <%= dataset_file.description %>
      </span>
    </div>

    <% if dataset_file.error_message.present? %>
      <div class="dataset-file__error-message">
        <%= dataset_file.error_message %>
      </div>
    <% end %>
  </div>

  <% if !dataset_file.present? || dataset_file.evaluation? %>
    <i class="fa fa-eye-slash" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Not visible" ></i>
  <% end %>

  <div style="display:flex">
    <% if dataset_file.error_message.blank? %>
      <%= link_to 'Download', file_expiring_url(dataset_file), class: 'btn btn-secondary', target: '_blank', data: { :'dataset-file-id' => dataset_file.id.to_i } %>
    <% end %>
    <% if (!defined?(folder_item) || !folder_item) && Pundit.policy(current_participant, dataset_file).destroy? && dataset_file.persisted? %>
      <%= link_to 'Edit', edit_challenge_dataset_file_path(challenge, dataset_file), class: 'btn btn-secondary' %>
      <%= link_to 'Delete',
                  challenge_dataset_file_path(challenge,dataset_file),
                  method: :delete,
                  class: 'btn btn-secondary',
                  data: { confirm: 'Are you sure?' } %>
    <% end %>
  </div>
</li>
<!-- /item -->
