<% challenges.each do |challenge| %>
  <div class="<%= defined?(is_practice) && is_practice ? 'col-md-3' : 'col-md-4' %>">
    <div class="card card-challenge">
      <div class="image-wrapper" style="padding-bottom: 56.2%;position: relative;">
        <%= link_to challenge_path(challenge, ml_challenge: @challenge&.ml_challenge) do %>
          <%= image_tag(challenge.image_url, class: 'card-img image_16x9') %>
        <% end %>
        <%= link_to challenge_path(challenge, ml_challenge: @challenge&.ml_challenge), class: "card-img-overlay" do %>
          <% if challenge.practice_flag %>
            <% if is_draft_practice(challenge) == "Draft" %>
              <span class="badge badge-primary practice-draft-badge"><%= is_draft_practice(challenge) %></span>
            <% end %>
            <span class="badge badge-success">Practice</span>
          <% elsif !is_current_page_meta_challenge_child(challenge) %>
            <span class="badge <%= challenge_remaining_text(challenge, challenge.active_round) == "Completed" ? "badge-success" : "badge-primary" %>">
              <img src="/assets/img/icon-time.svg">
              <%= challenge_remaining_text(challenge, challenge.active_round) %>
            </span>
          <% end %>
          <% if challenge_weight(challenge) %>
            <span class="badge badge-gold">Weight: <%= challenge_weight(challenge) %></span>
          <% end %>
        <% end %>
      </div>
      <!-- card body -->
      <div class="card-body">
        <div class="card-intro" style="margin-bottom:10px">
          <h5 class="card-title"><%= link_to challenge.challenge, challenge_path(challenge, ml_challenge: @challenge&.ml_challenge) %></h5>
          <p class="card-text"><%= challenge.tagline %></p>
        </div>
        <!-- stats group -->
        <div class="stats-group">
          <div class="stat-item">
            <span data-toggle="tooltip" data-placement="top" title="No. of views">
              <img src="/assets/img/icon-views.svg">
              <%= challenge_stat_count(challenge, 'view') %>
            </span>
          </div>
          <div class="stat-item">
            <span data-toggle="tooltip" data-placement="top" title="No. of users">
              <img src="/assets/img/icon-users.svg">
              <%= challenge_stat_count(challenge, 'participant') %>
            </span>
          </div>

          <div class="stat-item">
            <span data-toggle="tooltip" data-placement="top" title="No. of submissions">
              <img src="/assets/img/icon-submissions.svg">
              <%= challenge_stat_count(challenge, 'submission') %>
            </span>
          </div>
        </div>
        <!-- /stats group -->

        <!-- category group -->
        <% if challenge.categories.any? %>
        <div class='category-group'>
          <% challenge.categories.each do |category| %>
            <%= link_to challenges_path(categories: category.name) do %>
              <span class='badge badge-outline'>#<%= category.name.parameterize.underscore %></span>
            <% end %>
          <% end %>
        </div>
        <% end %>
        <!-- /category group -->
      </div>
      <!-- /card body -->
    </div>
  </div>
<% end %>
