<div class="row">
  <div class="col-12">
    <% if challenge.practice_flag %>
      <% if is_draft_practice(challenge) == "Draft" %>
        <span class="badge badge-primary practice-draft-badge"><%= is_draft_practice(challenge) %></span>
      <% end %>
      <span class="badge badge-success">Practice</span>
    <% elsif !is_current_page_meta_challenge_child(challenge) %>
      <% challenge_rounds.each do |challenge_round| %>
        <span class="badge <%= challenge_remaining_text(challenge, challenge_round) == "Completed" ? "badge-success" : "badge-primary" %>" data-toggle="tooltip" data-placement="top" title="<%= challenge_round_end_time(challenge, challenge_round) %>">
          <%= image_tag "/assets/img/icon-time.svg" %>
          <%= challenge_round.challenge_round %>: <%= challenge_remaining_text(challenge, challenge_round) %>
        </span>
      <% end %>
    <% else %>
      <% meta_challenge = detect_meta_challenge(challenge) %>
      <% meta_challenge.challenge_rounds.started.each do |challenge_round| %>
        <span class="badge <%= challenge_remaining_text(meta_challenge, challenge_round) == "Completed" ? "badge-success" : "badge-primary" %>" data-toggle="tooltip" data-placement="top" title="<%= challenge_round_end_time(challenge, challenge_round) %>">
          <%= image_tag "/assets/img/icon-time.svg" %>
          <%= challenge_round.challenge_round %>: <%= challenge_remaining_text(meta_challenge, challenge_round)%>
        </span>
      <% end %>
    <% end %>
    <% challenge.categories.each do |category| %>
      <%= link_to challenges_path(categories: category.name) do %>
        <span class='badge badge-outline'>#<%= category.name.parameterize.underscore %></span>
      <% end %>
    <% end %>
    <% if challenge_weight(challenge) %>
      <span class="badge badge-gold">Weight: <%= challenge_weight(challenge) %></span>
    <% end %>
  </div>
</div>
