<div class="row mobile-mt-100">
  <div class="col-12 d-flex align-items-center flex-wrap">
    <div class="organizer-attribution">
      <% challenge.organizers.each_with_index do |organizer, index| %>
        <span><%= index == 0 ? 'By' : '&' %>&nbsp;</span>
        <%= link_to organizer_path(organizer) do %>
          <%= image_tag organizer.image_file_url %>
        <% end %>
        <%= link_to organizer_path(organizer) do %>
          <span><%= organizer.organizer %>&nbsp;</span>
        <% end %>
      <% end %>
    </div>

    <div class="stats-group" style="margin-right: 0px">
      <div class="stat-item" style="width: 72px">
        <center>
        <span data-toggle="tooltip" data-placement="top" title="No. of views">
          <img src="/assets/img/icon-views.svg">
          <%= challenge_stat_count(challenge, 'view', @meta_challenge) %>
        </span>
        </center>
      </div>
      <div class="stat-item" style="width: 72px">
        <center>
        <span data-toggle="tooltip" data-placement="top" title="No. of users">
          <img src="/assets/img/icon-users.svg">
          <%= challenge_stat_count(challenge, 'participant', @meta_challenge) %>
        </span>
        </center>
      </div>
      <%= render partial: 'shared/challenges/team_stat', locals: { challenge: challenge, name: 'masthead_extra' } %>
      <div class="stat-item" style="width: 72px">
        <center>
        <span data-toggle="tooltip" data-placement="top" title="No. of submissions">
          <img src="/assets/img/icon-submissions.svg">
          <%= challenge_stat_count(challenge, 'submission', @meta_challenge) %>
        </span>
        </center>
      </div>
    </div>
    <div class="btn-set" aria-hidden="true">
      <%= render partial: 'shared/votes/button', locals: { votable: challenge, vote: vote } %>
      <%= render partial: 'shared/challenges/follow_button', locals: { followable: challenge, follow: follow, other_participant: current_participant, active_tab: false } %>
    </div>

    <% if policy(challenge).edit? %>
      <div class="dropdown btn-set ml-auto">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Organizer actions
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <%= link_to 'Edit Challenge', edit_challenge_path(challenge), class: 'dropdown-item' %>
          <%= link_to 'List Participants', participants_link(challenge), class: 'dropdown-item' %>
          <%= link_to 'Send Newsletter Email', new_challenge_newsletter_emails_path(challenge), class: 'dropdown-item' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
