<div class="masthead masthead-home bg-white">
  <div class="container-fluid">
    <div class="row">

      <div class="col-lg-12 col-xl-6">
        <h1><span class="text-primary">Crowdsourcing AI</span> to solve real-world problems</h1>
        <p>AIcrowd enables data science experts and enthusiasts to collaboratively solve real-world problems, through challenges. <%= link_to "Organize a Challenge", landing_page_host_path %></p>
      </div>

      <% if @partners.present? %>
        <div class="col-lg-12 col-xl-6">
          <div class="logos-organizers">
            <% @partners.each_with_index do |partner,index| %>
            <div class="logo-organizer">
              <%= image_tag partner.image_file.url, class: "img-fluid" %>
            </div>
            <% end %>
          </div>
        </div> 
      <% end %>
    </div>
  </div>
</div>


<!-- section -->
<section class="section-p-md bg-light">

  <!-- challenge cards -->
  <div class="container-fluid">
    <div class="row">

      <!-- section header -->
      <div class="col-12">
        <header class="section-header-decorative">
          <div>
            <h4>Featured challenges</h4>
          </div>

          <%= link_to 'See all',
            challenges_path,
            class: "btn btn-secondary btn-sm" %>

        </header>
      </div>
      <!-- /section header -->
      <%= concept(Challenge::Cell::ListDetail, collection: @challenges, current_participant: current_participant) %>
    </div>    
  </div>
  <!-- /challenge cards -->
</section>
<!-- section -->


<!-- section -->
<section class="section-p-md border-top">
  <div class="container-fluid">
    <div class="row">

      <!-- testimonial carousel -->
      <div class="col-sm-12 col-md-8">

        <div id="carouselTestimonial" class="carousel carousel-testimonials slide carousel-fade" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselTestimonial" data-slide-to="0" class="active"></li>
            <li data-target="#carouselTestimonial" data-slide-to="1"></li>
            <li data-target="#carouselTestimonial" data-slide-to="2"></li>
          </ol>

          <div class="carousel-inner">

            <!-- testimonial -->
            <div id="testimonial-1" class="carousel-item active">
              <blockquote class="blockquote-testimonial">
                <img class="avatar" src="assets/img/testimonial-1.jpeg">
                <p class="mb-0">"Crowdsourcing far exceeded our expectations - you not only get new solutions, but also a deeper insight to the problem you are trying to solve."</p>
                <footer class="blockquote-footer">Erik Nygren, Akamai Technologies</footer>
              </blockquote>
            </div>
            <!-- /testimonial -->

            <!-- testimonial -->
            <div id="testimonial-2" class="carousel-item">
              <blockquote class="blockquote-testimonial">
                <img class="avatar" src="assets/img/testimonial-2.jpeg">
                <p class="mb-0">Praesent lobortis felis sit amet placerat condimentum. Donec neque erat, mollis id rutrum eu, dignissim sed lorem.</p>
                <footer class="blockquote-footer">Amy Davids, Spotify</footer>
              </blockquote>
            </div>
            <!-- /testimonial -->

            <!-- testimonial -->
            <div id="testimonial-3" class="carousel-item">
              <blockquote class="blockquote-testimonial">
                <img class="avatar" src="assets/img/testimonial-3.jpeg">
                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis blandit ligula at facilisis aliquam. Sed faucibus at elit at tincidunt.</p>
                <footer class="blockquote-footer">Sarah Henderson, Uber</footer>
              </blockquote>
            </div>
            <!-- /testimonial -->

          </div>
        </div>
      </div>
      <!-- /testimonial carousel -->   

      <!-- top contributors -->
      <div class="col-sm-12 col-md-4">
        <header class="section-header-decorative">
          <div>
            <h4>Top contributors</h4>
          </div>
        </header>

        <div class="card">
          <ul class="list-group list-group-flush list-group-top-contributors">

            <% @participants.each do |participant| %>
              <%= render partial: 'participant_activity', locals: {participant: participant} %>
            <% end %>
          </ul>
        </div>  
      </div>
      <!-- /top contributors -->

    </div>
  </div>
</section>
<!-- /section -->

<!-- section -->
<section class="section-pb-md">

  <!-- blog post previews -->
  <div class="container-fluid">
    <div class="row">
      
      <!-- section header -->
      <div class="col-12">
        <header class="section-header-decorative">
          <div>
            <h4>From the blog</h4>
          </div>
          <%= link_to '<button type="button" class="btn btn-secondary btn-sm">See all</button>'.html_safe, blogs_path %>
        </header>
      </div>
      <!-- /section header -->
      <% @blog_posts.each do |post| %>
            <%= render partial: 'blog_post', locals: {post: post} %>
      <% end %>
    </div>
  </div>
  <!-- /blog post previews -->

</section>
<!-- /section -->
