<!-- filter bar -->
<div class="filter-bar">
  <div class="container-fluid">
    <!-- filter -->
    <div class="dropdown">
        <div
          class="filter filter-active dropdown-toggle"
          id="challenge-statuses"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <%= status_filter.capitalize %>
        </div>
      <form class="dropdown-menu" aria-labelledby="challenge-statuses">
        <% status_choices.each do |filt| %>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="challenge-status-options"
              id="challenge-status-<%= filt.downcase %>"
              value="<%= filt.downcase %>"
              <% if filt==status_filter.capitalize %>
                checked
              <%end%>
            />
              
            <label class="form-check-label" for="challenge-status-active">
              <%= filt %>
            </label>
          </div>
        <% end %>
        <hr />
       <%= link_to challenges_path do %>
          <button type="button" class="btn btn-link">Apply</button>
        <% end %>
      </form>
    </div>
    <!-- /filter -->

    <!-- filter -->
    <div class="dropdown">
      <div
        class="filter dropdown-toggle"
        id="challenge-categories"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Categories
      </div>
      <form class="dropdown-menu" aria-labelledby="challenge-categories">
        <% categories_choices.each do |cat| %>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value="<%= cat.downcase %>"
            id="category-<%= cat.downcase %>"
          />
          <label class="form-check-label" for="category-<%= cat.downcase %>">
            <%= cat %>
          </label>
        </div>
        <% end %>
        <hr />
        <button type="button" class="btn btn-link">Apply</button>
      </form>
    </div>
    <!-- /filter -->

    <!-- filter -->
    <div class="dropdown">
      <div
        class="filter dropdown-toggle"
        id="challenge-prizes"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Prizes
      </div>
      <form class="dropdown-menu" aria-labelledby="challenge-prizes">
        <% prizes_choices.each do |prize| %>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value="<%= prize.downcase %>"
            id="prizes-<%= prize.downcase %>"
          />
          <label class="form-check-label" for="prizes-<%= prize.downcase %>">
            <%= prize %>
          </label>
        </div>
        <% end %>
        <hr />
        <button type="button" class="btn btn-link">Apply</button>
      </form>
    </div>
    <!-- /filter -->
  </div>
</div>
<!-- /filter bar -->
