<!-- masthead - challenge -->
<div class="masthead masthead-challenge">
  <div class="container-fluid">

    <!-- badges -->
    <div class="row">
      <div class="col-12">
        <span class="badge badge-primary">
          <img src="/assets/img/icon-time.svg">
          Round 1: time
        </span>

        <span class="badge badge-primary">
          <img src="/assets/img/icon-time.svg">
          Round 2: time
        </span>

<!--         <span class="badge badge-outline">
          Challenge category
        </span>
 -->      </div>
    </div>
    <!-- /badges -->

    <!-- title/description/prizes -->
    <div class="row">
      <div class="col-sm-12 col-md-8 col-lg-9">
        <h1><%= challenge.challenge %></h1>
        <p><%= challenge.tagline %></p>
      </div>

      <div class="col-sm-12 col-md-4 col-lg-3">
        <%= concept(Challenge::Cell::PrizesBreakdown,challenge) %>
      </div>
    </div>
    <!-- /title/description/prizes -->

    <!-- organizer/stats/options -->
    <div class="row">
      <div class="col-12 d-flex align-items-center flex-wrap">
        <div class="organizer-attribution">
          <span> By &nbsp;</span>
          <%= link_to organizer_path(challenge.organizer) do %>
            <span> <%= challenge.organizer.organizer %></span>
          <% end %>
        </div>

        <div class="stats-group">
          <div class="stat-item">
            <span data-toggle="tooltip" data-placement="top" title="No. of views">
              <img src="/assets/img/icon-views.svg">
                <%= concept(Challenge::Cell::Statistic,challenge,type: 'view', current_participant: current_participant) %>
            </span>
          </div>
          <div class="stat-item">
            <span data-toggle="tooltip" data-placement="top" title="No. of users">
              <img src="/assets/img/icon-users.svg">
              <%= concept(Challenge::Cell::Statistic,challenge,type: 'participant', current_participant: current_participant) %>
            </span>
          </div>
<!--
          <div class="stat-item">
            <span data-toggle="tooltip" data-placement="top" title="No. of teams">
              <img src="/assets/img/icon-teams.svg">
              <%= concept(Challenge::Cell::Statistic,challenge,type: 'participant', current_participant: current_participant) %>
            </span>
          </div>
 -->
           <div class="stat-item">
            <span data-toggle="tooltip" data-placement="top" title="No. of submissions">
              <img src="/assets/img/icon-submissions.svg">
              <%= concept(Challenge::Cell::Statistic,challenge,type: 'submission', current_participant: current_participant) %>
            </span>
          </div>
        </div>
        <div class="btn-set" aria-hidden="true">
          <button type="button" class="btn btn-secondary btn-sm">
            <svg width="12" height="11" xmlns="http://www.w3.org/2000/svg">
              <path d="M10.8746251 6.14539024L5.97691577 11.0430996 1.07920644 6.14539024C.43154568 5.50196808.03030318 4.61061457.03030318 3.62554576c0-1.96049121 1.58929212-3.54978364 3.54978364-3.54978364.92305599 0 1.76382467.35231416 2.39516959.92980603.63649437-.6044087 1.49691101-.97526512 2.44394586-.97526512 1.96049123 0 3.54978363 1.58929242 3.54978363 3.54978364 0 1.00819292-.4203017 1.91821904-1.0952455 2.56441886z" fill="#909293" fill-rule="evenodd"/>
            </svg>
              <%= concept(Challenge::Cell::Statistic,challenge,type: 'vote', current_participant: current_participant) %>
          </button>
          <button type="button" class="btn btn-secondary btn-sm">Follow</button>
<!--
TODO: Implement Liking and changing color of heart to red
TODO: Implement Following and changeing of text to followed
 -->
         </div>
      </div>
    </div>
    <!-- /organizer/stats/options -->

  </div>
</div>
<!-- /masthead - challenge -->
