<!-- masthead - challenge -->
<div class="masthead masthead-challenge">
  <div class="container-fluid">

    <div class="row">
      <div class="col-12">
      <% challenge_rounds.each do |challenge_round| %>
        <span class="badge badge-primary">
          <img src="/assets/img/icon-time.svg">
          <%= challenge_round.challenge_round %>: <%= final_time(challenge_round.end_dttm) %>
        </span>
      <% end %>
      </div>
    </div>

    <!-- title/description/prizes -->
    <div class="row">
      <div class="col-sm-12 col-md-8 col-lg-9">
        <h1><%= challenge.challenge %></h1>
        <% if challenge.private_challenge %>
          <span class="badge badge-secondary">
            Private
          </span>
        <% end %>
        <p><%= challenge.tagline %></p>
      </div>

      <div class="col-sm-12 col-md-4 col-lg-3">
        <%= concept(Challenge::Cell::PrizesBreakdown,challenge) %>
      </div>
    </div>
    <!-- /title/description/prizes -->

    <!-- organizer/stats/options -->
    <div class="row">
      <div class="col-12 d-flex align-items-center flex-wrap">
        <div class="organizer-attribution">
          <%= link_to organizer_path(challenge.organizer) do %>
            <%= concept(Image::Cell,challenge.organizer, current_participant: current_participant) %>
          <% end %>
            <span>By&nbsp;
              <%= link_to organizer_path(challenge.organizer) do %>
                <%= challenge.organizer.organizer %>
              <% end %>
            </span>
        </div>

        <div class="stats-group" style="margin-right: 0px">
          <div class="stat-item" style="width: 72px">
          <center>
            <span data-toggle="tooltip" data-placement="top" title="No. of views">
              <img src="/assets/img/icon-views.svg">
                <%= concept(Challenge::Cell::Statistic,challenge,type: 'view', current_participant: current_participant) %>
            </span>
          </center>
          </div>
          <div class="stat-item" style="width: 72px">
          <center>
            <span data-toggle="tooltip" data-placement="top" title="No. of users">
              <img src="/assets/img/icon-users.svg">
              <%= concept(Challenge::Cell::Statistic,challenge,type: 'participant', current_participant: current_participant) %>
            </span>
          </center>
          </div>
          <div class="stat-item" style="width: 72px">
          <center>
            <span data-toggle="tooltip" data-placement="top" title="No. of submissions">
              <img src="/assets/img/icon-submissions.svg">
              <%= concept(Challenge::Cell::Statistic,challenge,type: 'submission', current_participant: current_participant) %>
            </span>
          </center>
          </div>
        </div>
        <div class="btn-set" aria-hidden="true">
          <%= concept(Vote::Cell, challenge, current_participant: current_participant) %>
          <%= concept(Follow::Cell, challenge, current_participant: current_participant) %>
         </div>
      </div>
    </div>
    <!-- /organizer/stats/options -->

  </div>
</div>
<!-- /masthead - challenge -->
