<!-- masthead - challenge -->
<div class="masthead masthead-challenge">
  <div class="container-fluid">

    <!-- badges -->
    <div class="row">
      <div class="col-12">
        <span class="badge badge-primary">
          <img src="/assets/img/icon-time.svg">
          Round 1: time
        </span>

        <span class="badge badge-primary">
          <img src="/assets/img/icon-time.svg">
          Round 2: time
        </span>

<!--         <span class="badge badge-outline">
          Challenge category
        </span>
 -->      </div>
    </div>
    <!-- /badges -->

    <!-- title/description/prizes -->
    <div class="row">
      <div class="col-sm-12 col-md-8 col-lg-9">
        <h1><%= challenge.challenge %></h1>
        <p><%= challenge.tagline %></p>
      </div>

      <div class="col-sm-12 col-md-4 col-lg-3">
        <%= concept(Challenge::Cell::PrizesBreakdown,challenge) %>
      </div>
    </div>
    <!-- /title/description/prizes -->

    <!-- organizer/stats/options -->
    <div class="row">
      <div class="col-12 d-flex align-items-center flex-wrap">
        <div class="organizer-attribution">
          <span> By &nbsp;</span>
          <%= link_to organizer_path(challenge.organizer) do %>
            <span> <%= challenge.organizer.organizer %></span>
          <% end %>
        </div>

        <div class="stats-group">
          <div class="stat-item">
            <span data-toggle="tooltip" data-placement="top" title="No. of views">
              <img src="/assets/img/icon-views.svg">
                <%= concept(Challenge::Cell::Statistic,challenge,type: 'view', current_participant: current_participant) %>
            </span>
          </div>
          <div class="stat-item">
            <span data-toggle="tooltip" data-placement="top" title="No. of users">
              <img src="/assets/img/icon-users.svg">
              <%= concept(Challenge::Cell::Statistic,challenge,type: 'participant', current_participant: current_participant) %>
            </span>
          </div>
<!--
          <div class="stat-item">
            <span data-toggle="tooltip" data-placement="top" title="No. of teams">
              <img src="/assets/img/icon-teams.svg">
              <%= concept(Challenge::Cell::Statistic,challenge,type: 'participant', current_participant: current_participant) %>
            </span>
          </div>
 -->
           <div class="stat-item">
            <span data-toggle="tooltip" data-placement="top" title="No. of submissions">
              <img src="/assets/img/icon-submissions.svg">
              <%= concept(Challenge::Cell::Statistic,challenge,type: 'submission', current_participant: current_participant) %>
            </span>
          </div>
        </div>
        <div class="btn-set" aria-hidden="true">
          <%= concept(Vote::Cell, challenge, current_participant: current_participant) %>
          <%= concept(Follow::Cell, challenge, current_participant: current_participant) %>
         </div>
      </div>
    </div>
    <!-- /organizer/stats/options -->

  </div>
</div>
<!-- /masthead - challenge -->
