<section data-controller="search" class="section-p-sm">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <ul class="nav nav-pills">
          <li class="nav-item">
            <%= link_to 'All', '#', class: "search-nav-link nav-link active", 'data-action': "click->search#showSelectedResults", 'data-search-pill-type': "all" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Challenges', '#', id: 'challenge-nav-search', class: "search-nav-link nav-link", 'data-action': "click->search#showSelectedResults", 'data-search-pill-type': "challenges" %>
          </li>
          <li class="nav nav-pills">
            <%= link_to 'Users', '#', id: 'users-nav-search', class: "search-nav-link nav-link", 'data-action': "click->search#showSelectedResults", 'data-search-pill-type': "users" %>
          </li>
          <li class="nav nav-pills">
            <%= link_to 'Discussions', '#', class: "search-nav-link nav-link", 'data-action': "click->search#showSelectedResults", 'data-search-pill-type': "discussions" %>
          </li>
        </ul>

        <div id="search-challenges-results">
          <header class="section-header">
            <div>
              <h4>Challenges</h4>
            </div>

            <% if @challenges.any? %>
              <%= link_to 'See all', '#', class: "btn btn-secondary btn-sm", 'data-action': "click->search#showSelectedResults", 'data-search-pill-type': "see-all-challenges" %>
            <% end %>
          </header>

          <% if @challenges.any? %>
            <div class="row">
              <%= render partial: 'shared/challenges/listing', locals: { challenges: @challenges } %>
            </div>
          <% else %>
            <h3 class="text-center">There are no challenges for selected search phrase...</h3>
          <% end %>
        </div>

        <div id="search-users-results">
          <header class="section-header">
            <div>
              <h4>Users</h4>
            </div>
            <% if @participants.any? %>
              <%= link_to 'See all', '#', class: "btn btn-secondary btn-sm", 'data-action': "click->search#showSelectedResults", 'data-search-pill-type': "see-all-users" %>
            <% end %>
          </header>

          <% if @participants.any? %>
            <ul class="list-group list-group-flush-px-0 list-group-organizers">
              <% @participants.each do |participant| %>
                <li class="list-group-item" style="z-index: auto;">
                  <%= render partial: 'participants/get_user_profile', locals: { participant: participant } %>
                  <%= render partial: 'shared/challenges/follow_button', locals: { followable: participant, follow: follow_find_by_participant(participant, @follows), other_participant: current_participant, active_tab: nil } %>
                </li>
              <% end %>
            </ul>
            <br/>
            <br/>
          <% else %>
            <h3 class="text-center">There are no users for selected search phrase...</h3>
          <% end %>
        </div>

        <div id="search-discussions-results">
          <header class="section-header">
            <div>
              <h4>Discussions</h4>
            </div>

            <%= link_to 'See all', discourse_search_url(params[:q]), class: "btn btn-secondary btn-sm" %>
          </header>

          <% if @discussions_fetch.success? %>
            <% if @discussions.any? %>
              <%= render partial: 'shared/discourse/posts_list', locals: { discourse_posts: @discussions.take(10), single_participant: current_participant } %>
            <% else %>
              <h3 class="text-center">There are no discussions for selected search phrase...</h3>
            <% end %>
          <% else %>
            <div class="md-content">
              <span><%= @discussions_fetch.value %></span>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
