<div class="row">
  <div class="article">
    <div class="markdown-wrap">
      <%= sanitize(@participation_terms.terms) %>
    </div>
  </div>
</div>
<div class="row">
<%= form_for current_participant, url: participant_accept_terms_path(current_participant), validate: true, html: { class: "sgl-col", multipart: true } do |f| %>
  <%=hidden_field_tag("challenge_id", @challenge.id)%>
  <%= f.hidden_field :participation_terms_accepted_version, value: @participation_terms.version %>
  <fieldset class="checkbox">
    <div>
      <%=check_box("terms", "accepted", { class: 'requires-agreement-checkbox', 'data-target': 'accept-participation-terms-button' }, "yes", "no")%>
      <%= label :participation_terms_checkbox, "I have read and agree to the participation terms (required)" %>
    </div>
  </fieldset>
  <div class="button-group">
    <%= f.button ("Save"), class: 'btn btn-primary requires-agreement', id: 'accept-participation-terms-button', disabled: true %>
  </div>
<% end %>
</div>