<header class="mb-0">
  <div class="row text-center col-md-12">
    <%= link_to post_likes_path(post), id: post.id, class: "w-100", method: :post, remote: true do %>
      <button type="button" class="btn btn-secondary btn-sm">
        <svg width="12" height="11" xmlns="http://www.w3.org/2000/svg"><path d="M10.8746251 6.14539024L5.97691577 11.0430996 1.07920644 6.14539024C.43154568 5.50196808.03030318 4.61061457.03030318 3.62554576c0-1.96049121 1.58929212-3.54978364 3.54978364-3.54978364.92305599 0 1.76382467.35231416 2.39516959.92980603.63649437-.6044087 1.49691101-.97526512 2.44394586-.97526512 1.96049123 0 3.54978363 1.58929242 3.54978363 3.54978364 0 1.00819292-.4203017 1.91821904-1.0952455 2.56441886z" fill="#F0524D" fill-rule="evenodd"/></svg>
        <%= post.likes.count %>
      </button>
    <% end %>
  </div>
</header>
<div>
  <%
    users = post.likes.includes(:participant).map(&:participant).sample(50)
    users_remaining_count = post.likes.count - 50
  %>
  <% if post.likes.count > 0 %>
    <div class="row avatar-group p-3">
    <% users.each do |user| %>
      <% if !(current_participant && user.id==current_participant.id) %>
        <span>
          <%= render partial: 'participants/get_user_profile', locals: { participant: user, username: 'false' } %>
        </span>
      <% end %>
    <% end %>
    <% if users_remaining_count > 0 %>
      <span class="avatar user-rating-0 text-center" data-toggle="tooltip" title="<%= users_remaining_count %> more participants">
        <span class="fa fa-ellipsis-h align-bottom"></span>
      </span>
    <% end %>
    </div>
  <% end %>
  <% if post.challenge.present? %>
    <div class="card-body text-center">
      <div>
        <h4 style="text-align: center;">Challenge</h4>
      </div>
      <a href="<%= challenge_path(post.challenge) %>"><img class="card-img" src="<%= post.challenge.image_url %>" alt="Card image"></a>
      <a href="<%= challenge_path(post.challenge) %>"><button type="button" class="btn btn-link"><%= post.challenge.challenge %></button></a>
    </div>
  <% end %>
  <% if post.submission_id.present? %>
    <div class="card-body text-center">
      <div>
        <h4 style="text-align: center;">Submission</h4>
      </div>
      <a href="<%= challenge_submission_path(post.submission.challenge, post.submission_id) %>"><button type="button" class="btn btn-link">#<%= post.submission_id %></button></a>
    </div>
  <% end %>
</div>
