<header class="mb-0">
  <div class="row justify-content-center">
    <%= render partial: 'shared/votes/button', locals: { votable: post, vote: post.vote(current_participant) } %>
  </div>
</header>
<div>
  <%
    users = post.votes.includes(:participant).map(&:participant).sample(50)
    users_remaining_count = post.vote_count - 50
  %>
  <% if post.vote_count > 0 %>
    <div class="row avatar-group p-3">
    <% users.each do |user| %>
      <span>
        <%= render partial: 'participants/get_user_profile', locals: { participant: user, username: 'false' } %>
      </span>
    <% end %>
    <% if users_remaining_count > 0 %>
      <span class="avatar user-rating-0 text-center" data-toggle="tooltip" title="<%= users_remaining_count %> more participants">
        <span class="fa fa-ellipsis-h align-bottom"></span>
      </span>
    <% end %>
    </div>
  <% end %>
  <div class="row justify-content-center mt-1">
    <% @post.categories.each do |category| %>
      <span class="badge badge-outline">#<%=category.name%></span>
    <% end %>
  </div>
  <% if post.challenge.present? %>
    <div class="card-body text-center">
      <div>
        <h4 style="text-align: center;">Challenge</h4>
      </div>
      <a href="<%= challenge_path(post.challenge) %>"><img class="card-img" src="<%= post.challenge.image_url %>" alt="Card image"></a>
      <a href="<%= challenge_path(post.challenge) %>"><button type="button" class="btn btn-link"><%= post.challenge.challenge %></button></a>
    </div>
  <% end %>
  <% if post.submission_id.present? %>
    <div class="card-body text-center">
      <div>
        <h4 style="text-align: center;">Submission</h4>
      </div>
      <a href="<%= challenge_submission_path(post.submission.challenge, post.submission_id) %>"><button type="button" class="btn btn-link">#<%= post.submission_id %></button></a>
    </div>
  <% end %>
</div>
