<div class="section-p-md">
  <div class="container-fluid">
    <div class="row">

        <div class="col-12", style="padding:0">
          <h3>Edit Post</h3>
          <hr/>
          <br>
        </div>

      <!-- account settings -->
      <%= form_for(@post, url: post_path, html: { method: :put }) do |f| %>
        <%= f.hidden_field :notebook_file_path, value: @post.notebook_file_path %>
        <%= f.hidden_field :participant_id, value: current_participant.id %>
        <%= f.hidden_field :id, value: @post.id %>

        <div class="form-group">
          <span class="label-text">Avatar</span>
          <div class="custom-file mt-1">
            <%= f.file_field :thumbnail, class: 'custom-file-input' %>
            <label class="custom-file-label" for="customFile" aria-describedby="avatarHelp">Choose file</label>
            <small id="avatarHelp" class="form-text text-muted">Your image will be cropped to a square aspect ratio if required. 5 MB limit</small>
          </div>
        </div>

        <div class="form-group">
          <label for="tite">Title</label>
          <%= f.text_field :title, placeholder: 'Title', class: "form-control", required: true %>
          <span>Add a title for the post</span>
        </div>

        <div class="form-group">
          <label for="tagline">Tagline</label>
          <%= f.text_field :tagline, placeholder: 'Tagline', class: "form-control" %>
          <span>Add a small tagline</span>
        </div>

        <div class="form-group">
          <label for="description">Description</label>
          <%= f.cktext_area :description, :class => 'ckeditor', required: true%>
        </div>

        <div class="form-group">
          <label for="notebook">Upload Notebook</label>
         <%= f.file_field :notebook_file%>
        </div>

        <div class="form-group">
          <label for="gist_link">Add Link</label>
          <div class="row">
            <div class="col-md-9">
              <%= f.text_field :external_link, placeholder: 'Add Link', class: "form-control" %>
              <% if @post.notebook_s3_url.present? %>
                <span>Click on detach notebook to remove the current notebook</span>
              <% else %>
                <span>Click on fetch url to check compatibility.</span>
              <% end %>
            </div>
            <% if @post.notebook_s3_url.present? %>
              <div class="col-md-3">
                <%= f.button 'Detach', type: 'submit', class: "btn btn-sm btn-secondary", name: 'remove_notebook'%>
              </div>
            <% else %>
              <div class="col-md-3">
                <%= f.button 'Fetch Url', type: 'submit', class: "btn btn-sm btn-secondary", name: 'notebook_url_fetch'%>
              </div>
              <% end %>
          </div>
        </div>

        <div class="form-group">
          <label for="challenge">Challenge</label>
          <%= f.collection_select :challenge_id, ChallengeParticipant.where(participant_id: current_participant.id).map(&:challenge), :id, :challenge, include_blank: true%>
          <span>Is this related to a particular challenge?</span>
        </div>

        <div class="form-group">
          <label for="submission">Submission</label>
          <%= f.collection_select :submission_id, Submission.where(participant_id: current_participant.id), :id, :id, include_blank: true %>
          <span>Is this related to a particular submission?</span>
        </div>

        <%= f.button 'Submit', type: 'submit', class: "btn btn-primary" %>
      <% end %>

      </div>
      <!-- /account settings -->

    </div>
  </div>
</div>
<script>
</script>
