<div class="masthead masthead-home bg-white">
  <div class="container-fluid">
    <div class="row">

      <div class="col-lg-12 col-xl-6">
        <h1>Contributions</h1>
        <p>Write down everything related to your submission/the path to your submission.</p>
      </div>
      <div class="col-lg-12 col-xl-6">
        <% if current_participant.present?%>
          <%= button_to '+ Contribution', new_post_path, class: "btn btn-secondary btn-sm float-right", method: :get %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <ul class="list-group list-group-flush-px-0 list-group-achievements">
    <% Post.friendly.all.each do |post| %>
      <!-- achievement -->
      <li class="list-group-item">
        <div class="col-md-12 p-0">
          <a class="mr-2 col-md-1 col-3" href="<%= post_path(post) %>">
            <img src="<%=post.thumbnail%>" class="rounded-pill" width=80 height=80 >
          </a>
          <div class="col-md-11 p-0 col-9 ml-2">
            <div class="btn-set float-right" aria-hidden="true">
              <%= render partial: 'shared/votes/button', locals: { votable: post, vote: post.vote(current_participant) } %>
            </div>
            <%= link_to post.title, post_path(post)%>
            <span class="description">
              <% if post.tagline.blank?%>
                <span>&nbsp;</span>
              <% end %>
              <%= post.tagline %>
            </span>
            <br/><small class="fixed-bottom position-absolute">By <div style="display: inline-flex;"><%= render partial: 'participants/get_user_profile', locals: { participant: post.participant, avatar: 'false'} %></div> <%= "#{discourse_time_ago(post.created_at)}" %>
              <div class="btn-set float-right">
                <% post.categories.each do |category| %>
                  <span class="badge badge-outline">#<%=category.name%></span>
                <% end %>
              </div>
            </small>
          </div>
        </div>
      </li>
      <!-- /achievement -->
    <% end %>
  </ul>

</div>
