<div class="masthead masthead-open">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 d-flex align-items-start justify-content-between">
        <div>
          <h1>AIcrowd Showcase</h1>
          <p>Collection of contributed notebooks, helpful resources and <br>inspiring projects made with ❤️ by the community</p>
          <a class="btn btn-primary mt-5 btn-lg" href="<%= new_post_path %>"><span class="fa fa-plus-circle mr-2"></span>Create</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section-p-md">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <ul class="list-group list-group-flush-px-0 list-group-contributions">
          <% Post.friendly.all.each do |post| %>
            <li class="list-group-item">
              <div class="contribution-details">
                <a class="image-link" href="<%= post_path(post) %>"><img src="<%=post.thumbnail%>"></a>

                <div class="contribution-text">
                  <a class="text-link" href="<%= post_path(post) %>"><%= post.title %></a>

                  <span class="contribution-subtitle"><%= post.tagline %></span>

                  <div class="contribution-user-time">
                    <%= render partial: 'participants/get_user_profile', locals: { participant: post.participant, avatar: 'false'} %></a>&nbsp;·&nbsp;<span class="contribution-time"><%= "#{discourse_time_ago(post.created_at)}" %></span>
                  </div>
                </div>
              </div>
              <%= render partial: 'shared/votes/button', locals: { votable: post, vote: post.vote(current_participant) } %>
            </li>
          <% end %>
        </ul>
        <!-- /list-group-contributions -->

      </div>
    </div>
  </div>
</div>
