<!-- section -->
<section class="section-p-md">
  <div class="container-fluid">
    <div class="row">
      <!-- md content -->
      <div class="col-md-12 text-center">
        <h1 id="introduction" class="mt-0"><%=@post.title%></h1>
        <% if current_participant.present? && @post.participant_id == current_participant.id %>
          <%= button_to 'Edit', edit_post_path(@post), class: "btn btn-secondary btn-sm float-right", method: :get %>
        <% end %>
        <p><%= @post.tagline %></p>
      </div>
      <div class="container-fluid row">
        <div class="col-md-6 p-0 b-0 pt-2">
          <i class="float-right">Contributed by &nbsp;</i>
        </div>
        <div class="col-md-6 float-left p-0 b-0">
          <%= render partial: 'participants/get_user_profile', locals: { participant: @post.participant, username: 'false' } %>
        </div>
      </div>

      <div class="col-md-1"></div>
      <div class="col-md-7 mt-5 posts-form">
        <div class="col-md-12 text-center">
          <img src="<%= @post.thumbnail %>" class="img-fluid" style="max-width: 100%; max-height: 600px;" />
        </div>
        <hr class="w-50"/>
        <div class="col-md-12 mt-4 md-content">
          <%= @post.description.html_safe %>
        </div>
      </div>
      <!-- /md content -->

      <!-- top contributors -->
      <div class="top-contributors-container col-md-4 mt-5">
        <%= render 'posts/sidenav', post: @post %>
      </div>
      <!-- /top contributors -->

    </div>
  </div>
</section>

<section class="section-p-md">
  <div class="container-fluid">
    <% if @post.notebook_html.present? %>
      <hr/>
      <div class="row">
        <div class="col-md-9">
          <button type="button" class="btn btn-sm btn-link">Jupyter Notebook</button>
        </div>
        <div class="col-md-0">
          <button type="button" class="btn btn-sm btn-primary"><a href='<%= @download_url %>' target="_blank">Download</a></button>
        </div>
        <div class="col-md-1">
          <button type="button" class="btn btn-sm btn-primary"><a href='<%= @execute_in_colab_url %>' target="_blank">Execute in Colab</a></button>
        </div>
      </div>
      <hr/>
      <%= @post.notebook_html.html_safe %>
    <% end %>
  </div>
  <div class="container-fluid">
    <% if @external_link.present? %>
      <div class="border-top border-bottom p-3 mb-3">
        <h3>
          Additional Links
          <a href='<%= @external_link %>' target="_blank">
            <button type="button" class="btn btn-sm btn-primary float-right">Visit</button>
          </a>
        </h3>
      </div>
      <div class="text-center">
        <% cache(@external_link) do %>
          <%= Onebox.preview(@external_link).to_s.html_safe %>
        <% end %>
      </div>
    <% end %>
  </div>
  <hr/>
  <div class="container-fluid">
    <%= commontator_thread(@post) %>
  </div>
</section>
<!-- /section -->

<script>
$(document).ready(function(){
  $(".posts-form img").filter(function(){return this.title.match(/:*:/);}).attr('width', '24px');
}
</script>
<style>
.btn-primary a {
  color: white;
}
</style>
