<div class="masthead masthead-contribution masthead-blog-post">
  <div class="container-fluid">

    <div class="row">
      <div class="col-12">
        <h4><a href="<%= challenge_path(@post.challenge) %>"><%= @post.challenge.challenge %></a></h4>
        <h1><%= @post.title %></h1>
        <p class="masthead-subtitle"><%= @post.tagline %></p>
      </div>
    </div>
    <!-- /title -->

    <div class="row">
      <div class="col-12 d-flex align-items-center flex-wrap">
        <div class="author">
          <span class="mr-2">By</span>
          <%= render partial: 'participants/get_user_profile', locals: { participant: @post.participant } %>
        </div>

        <div class="btn-set" aria-hidden="true">
          <%= render partial: 'shared/votes/button', locals: { votable: @post, vote: @post.vote(current_participant) } %>
        </div>
      </div>
    </div>
    <!-- /author/options -->

  </div>
</div>

<!-- section -->
<section class="section">
  <div class="container-fluid">
    <div class="row">
      <!-- md content -->
      <div class="col-md-12 text-center">
        <% if current_participant.present? && @post.participant_id == current_participant.id %>
          <%= button_to 'Edit', edit_post_path(@post), class: "btn btn-secondary btn-sm float-right", method: :get %>
        <% end %>
      </div>

      <div class="col-md-7 mt-5 posts-form">
        <div class="col-md-12 mt-4 md-content">
          <%= @post.description.html_safe %>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container-fluid">
    <% if @post.notebook_html.present? %>
      <hr/>
      <div class="row">
        <div class="col-md-9">
          <button type="button" class="btn btn-sm btn-link">Jupyter Notebook</button>
        </div>
        <div class="col-md-0">
          <button type="button" class="btn btn-sm btn-primary"><a href='<%= @download_url %>' target="_blank">Download</a></button>
        </div>
        <div class="col-md-1">
          <button type="button" class="btn btn-sm btn-primary"><a href='<%= @execute_in_colab_url %>' target="_blank">Execute in Colab</a></button>
        </div>
      </div>
      <hr/>
      <div class="ipynb-notebook-container">
        <%= @post.notebook_html.html_safe %>
      </div>
      <div class="d-none show-more-btn w-100 text-center p-2 cursor-pointer font-weight-bold text-secondary" style="background: #f6f9ff;" data-controller="post" data-action="click->post#expandNotebook">↕️ Read More</div>
    <% end %>
  </div>
  <div class="container-fluid">
    <% if @external_link.present? %>
      <div class="border-top border-bottom p-3 mb-3">
        <h3>
          Additional Links
          <a href='<%= @external_link %>' target="_blank">
            <button type="button" class="btn btn-sm btn-primary float-right">Visit</button>
          </a>
        </h3>
      </div>
      <div class="text-center">
        <% cache(@external_link) do %>
          <%= Onebox.preview(@external_link).to_s.html_safe %>
        <% end %>
      </div>
    <% end %>
  </div>
  <hr/>
  <div class="container-fluid">
    <div class="row pl-3">
      <%= render partial: 'shared/votes/button', locals: { votable: @post, vote: @post.vote(current_participant), show_users: true } %>
    </div>
  </div>
  <hr/>
  <div class="container-fluid">
    <%= commontator_thread(@post) %>
  </div>
</section>
<!-- /section -->

<script>
$(document).ready(function(){
  $(".posts-form img").filter(function(){return this.title.match(/:*:/);}).attr('width', '24px');
})
</script>
<style>
.btn-primary a {
  color: white;
}
.avatar {
  width: 32px;
  height: 32px;
}
</style>
