<div class="masthead masthead-contribution masthead-blog-post-notebook">
  <div class="container-fluid ml-7">

    <div class="row">
      <div class="col-12">
        <h4><a href="<%= challenge_path(@post.challenge) %>"><%= @post.challenge.challenge %></a></h4>
        <h1 style="font-size: 2rem;width: 70%;"><%= @post.title %></h1>
        <% if @post.community_contribution_winner? %>
        <div class="row float-right notebook-community-contribution">
            <%= image_tag image_path('misc/notebook_community_prize.svg'), height: "30", class: "ml-4 mt-1" %>
            <span class="col-8" style="font-size: 13px;font-weight: 500;">Community challenge explainer</span>
        </div>
        <% end %>
        <p class="masthead-subtitle"><%= @post.tagline %></p>
        <div class="masthead-details mr-2 mt-5">
          <div class="d-flex align-items-center flex-wrap">
            <span class="author">
              <%= render partial: 'participants/get_user_profile', locals: { participant: @post.participant} %>
            </span>
            <span class="masthead-date"><%= local_time(@post.created_at, "%-d %B %Y") %></span>

          </div>
          <div>
            <div class="btn-set ml-2" aria-hidden="true">
              <% if current_participant.present? && (current_participant.admin? || (@post.participant_id == current_participant.id)) %>

                <%= link_to edit_post_path(@post), class: "float-right mr-2", style: "align-self: center;", method: :get do %>
                  <%= image_tag image_path('misc/edit.svg') %>
                <% end %>
                <%= link_to post_path(@post), class: "float-right mr-4", style: "align-self: center;", method: :delete, data: { confirm: "You are about to delete your contribution. Are you sure?" }  do %>
                  <%= image_tag image_path('misc/delete-button.svg') %>
                <% end %>
              <% end %>

              <%= render partial: 'shared/bookmark/button', locals: { post: @post, bookmark: @post.bookmark(current_participant) } %>
               <div class="mr-4 cursor-pointer clipboard-btn" data-clipboard-text="<%= request.url%>" data-toggle="tooltip" title="Copy Link" style="align-self: center;"><%= image_tag image_path('misc/notebook_share.svg') %></div></button>
              <% if @download_notebook_url.present? %>
                <a href='<%= @download_notebook_url %>' target="_blank" class="mr-4" style="align-self: center;"><%= image_tag image_path('misc/notebook_download.svg') %></a></button>
              <% end %>
              <%= render partial: 'shared/votes/white_button', locals: { votable: @post, vote: @post.vote(current_participant) } %>
              <% if !@execute_in_colab_url.nil? %><button type="button" class="btn btn-sm btn-primary"><a href='<%= @execute_in_colab_url %>' target="_blank">Open in Colab</a></button><% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
      <!-- /author/options -->
  </div>
</div>
<div>
<!-- section -->
<section class="section">
  <div class="container-fluid">
    <div class="row">
      <!-- md content -->
      <div class="col-md-7 posts-form mt-4">
        <div class="col-md-12 md-content">
          <% if @post.description.present? %>
            <%= @post.description.html_safe %>
            </hr>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="row">
  <div class="col-9">
    <% if @post.notebook_html.present? %>
      <div class="ipynb-notebook-container" data-controller="post-overview"data-post-overview-scrollable-tabs="true">
        <% cache_if cache_enabled?, [@post] do %>
          <%= @post.notebook_html.html_safe %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="col-lg-3 sub-nav-vertical-container">
    <h4>Content</h4>
    <ul class="nav flex-column sticky-top-sub-nav" id="table-of-contents" style="font-size: 14px;">
    </ul>
  </div>
  </div>
  <div class="container-fluid">
    <% if @external_link.present? %>
      <div class="border-top border-bottom p-3 mb-3">
        <h3>
          Additional Links
          <a href='<%= @external_link %>' target="_blank">
            <button type="button" class="btn btn-sm btn-primary float-right">Visit</button>
          </a>
        </h3>
      </div>
      <div class="text-center">
        <% cache(@external_link) do %>
          <%= Onebox.preview(@external_link).to_s.html_safe %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="container-fluid">
    <div class="row pl-3 mt-6">
      <%= render partial: 'shared/votes/white_button', locals: { votable: @post, vote: @post.vote(current_participant)} %>
      <i class="fa fa-eye ml-4" aria-hidden="true" style="align-self: center;"></i>
      <div class="ml-1 mr-4" style="align-self: center;"><%= @post.page_views %></div>
      <%= render partial: 'shared/bookmark/button', locals: { post: @post, bookmark: @post.bookmark(current_participant) } %>
       <div class="mr-4 cursor-pointer clipboard-btn" data-clipboard-text="<%= request.url%>" data-toggle="tooltip" title="Copy Link" style="align-self: center;"><%= image_tag image_path('misc/notebook_share.svg') %></div></button>
      <% if @download_notebook_url.present? %>
        <a href='<%= @download_notebook_url %>' target="_blank" class="mr-4" style="align-self: center;"><%= image_tag image_path('misc/notebook_download.svg') %></a></button>
      <% end %>
      <% if !@execute_in_colab_url.nil? %><button type="button" class="btn btn-sm btn-secondary" style="margin-left: 45%;"><a href='<%= @execute_in_colab_url %>' target="_blank" class="text-secondary"></span>Open in Colab</a></button><% end %>
    </div>
  </div>
  <hr/>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-sm-8">
        <div class="blog-discussion">
          <%= commontator_thread(@post) %>
        </div>
      </div>
    </div>
  </div>
</section>
</div>
<!-- /section -->

<script>
$(document).ready(function(){
  $(".posts-form img").filter(function(){return this.title.match(/:*:/);}).attr('width', '24px');
})
</script>
<style>
.btn-primary a {
  color: white;
}
.avatar {
  width: 32px;
  height: 32px;
}
</style>
