<div class="masthead masthead-contribution masthead-blog-post">
  <div class="container-fluid">

    <div class="row">
      <div class="col-12">
        <h4><a href="<%= challenge_path(@post.challenge) %>"><%= @post.challenge.challenge %></a></h4>
        <h1><%= @post.title %></h1>
        <p class="masthead-subtitle"><%= @post.tagline %></p>
      <!-- /title -->
        <div class="masthead-details">
          <div class="d-flex align-items-center flex-wrap">
            <span class="author">
              <%= render partial: 'participants/get_user_profile', locals: { participant: @post.participant, username: 'false' } %>
              <% if @post.participant.present? %>
                <span>By&nbsp;</span>
              <% end %>
              <%= render partial: 'participants/get_user_profile', locals: { participant: @post.participant, avatar: 'false'} %>
            </span>
            <span class="masthead-date"><%= local_time(@post.created_at, "%-d %B %Y") %></span>

            <div class="btn-set ml-2 mt-3" aria-hidden="true">
              <%= render partial: 'shared/votes/button', locals: { votable: @post, vote: @post.vote(current_participant) } %>
              <% if !@execute_in_colab_url.nil? %><button type="button" class="btn btn-sm btn-secondary"><a href='<%= @execute_in_colab_url %>' target="_blank" class="text-secondary"><span class="fa fa-cogs mr-1"></span>Open in Colab</a></button><% end %>
              <% if current_participant.present? && (current_participant.admin? || (@post.participant_id == current_participant.id)) %>
                <%= button_to 'Edit', edit_post_path(@post), class: "btn btn-secondary btn-sm float-right", method: :get %>
                <%= button_to 'Delete', post_path(@post), class: "btn btn-secondary btn-sm float-right", method: :delete, data: { confirm: "You are about to delete your contribution. Are you sure?" } %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
      <!-- /author/options -->
  </div>
</div>

<!-- <%= react_component("AchievementDetails", {title: "dfdknfdskfms", description: "fsdkjfkdsjfkdsjf"})%>
<%= react_component("AchievementProgress", {target: {bronze_count: 5, silver_count: 10, gold_count: 25}, progress: 18}) %>
 -->
<%= react_component("organisms/LandingChallengeCard/index", {image: '/assets/challenges/challenge-banner-image-example.png', name: 'Online News Share Prediction', prize: '$2,000 Prize Money', users: [{ id: 1, image: '/assets/users/custom-avatar-1.png', tier: 4 }],
  color: '#0F2F90',
} ) %>



<!-- section -->
<section class="section">
  <div class="container-fluid">
    <div class="row">
      <!-- md content -->
      <div class="col-md-7 posts-form mt-4">
        <div class="col-md-12 md-content">
          <% if @post.description.present? %>
            <%= @post.description.html_safe %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container-fluid">
    <% if @post.notebook_html.present? %>
      <hr/>
      <div class="row">
        <div class="col-md-9">
          <button type="button" class="btn btn-sm btn-link">Notebook</button>
        </div>
        <% if @download_notebook_url.present? %>
          <div class="col-md-0">
            <button type="button" class="btn btn-sm btn-primary"><a href='<%= @download_notebook_url %>' target="_blank"><span class="fa fa-download mr-1"></span>Download</a></button>
          </div>
        <% end %>
        <% if @execute_in_colab_url.present? %>
          <div class="col-md-1">
            <button type="button" class="btn btn-sm btn-primary"><a href='<%= @execute_in_colab_url %>' target="_blank"><span class="fa fa-cogs mr-1"></span>Open in Colab</a></button>
          </div>
        <% end %>
      </div>
      <hr/>
      <div class="ipynb-notebook-container">
        <% cache_if cache_enabled?, [@post] do %>
          <%= @post.notebook_html.html_safe %>
        <% end %>
      </div>
      <div class="text-center col-12 mt-3"><div class="show-more-btn btn btn-primary col-4" data-controller="post" data-action="click->post#expandNotebook">↕️&nbsp;&nbsp;Read More</div></div>
    <% end %>
  </div>
  <div class="container-fluid">
    <% if @external_link.present? %>
      <div class="border-top border-bottom p-3 mb-3">
        <h3>
          Additional Links
          <a href='<%= @external_link %>' target="_blank">
            <button type="button" class="btn btn-sm btn-primary float-right">Visit</button>
          </a>
        </h3>
      </div>
      <div class="text-center">
        <% cache(@external_link) do %>
          <%= Onebox.preview(@external_link).to_s.html_safe %>
        <% end %>
      </div>
    <% end %>
  </div>
  <hr/>
  <div class="container-fluid">
    <div class="row pl-3">
      <%= render partial: 'shared/votes/button', locals: { votable: @post, vote: @post.vote(current_participant), show_users: true } %>
    </div>
  </div>
  <hr/>
  <div class="container-fluid">
    <div class="row justify-content-md-center">
      <div class="col-12 col-sm-8">
        <div class="blog-discussion">
          <%= commontator_thread(@post) %>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /section -->

<script>
$(document).ready(function(){
  $(".posts-form img").filter(function(){return this.title.match(/:*:/);}).attr('width', '24px');
})
</script>
<style>
.btn-primary a {
  color: white;
}
.avatar {
  width: 32px;
  height: 32px;
}
</style>
