<!-- masthead – user -->
<div class="masthead masthead-user">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="d-flex">
          <%= concept(Image::Cell, participant, klass: "avatar") %> 
          <div class="masthead-content">
            <div class="d-flex">
              <%= concept(Image::Cell, participant, klass: "avatar-sm") %>
              <h1><%= participant.name %>
              </h1>
            </div>

            <div class="masthead-info">

              <% if participant.affiliation? %>
                  <div class="masthead-info-item">
                    <header>
                      <h4>Organization</h4>
                    </header>   
                    <span><%= participant.affiliation %></span>
                  </div>
              <% end %>

              <% if participant.country_cd? & participant.city %>
                <div class="masthead-info-item">
                  <header>
                    <h4>Location</h4>
                  </header>   
                  <span><%= participant.city %>, <%= participant.country_cd %></span>
                </div>
              <% end %>

              <% if policy(participant).edit? %>
                <div class="masthead-info-item api-key">
                  <header>
                    <h4>API key</h4>
                    <%= link_to participant_regen_api_key_path(participant_id: participant.id) do %>
                      <button type="button" class="btn btn-secondary btn-sm" data-toggle="tooltip" data-placement="top" title="Generate new API key">
                        <img src="/assets/img/icon-refresh.svg">
                      </button>
                    <% end %>
                  </header>   
                  <span><%= participant.api_key %></span>
                </div>
              <% end %>

              <% if participant.twitter.present? | participant.github.present? | participant.linkedin.present? | participant.website.present? %>
                  <div class="masthead-info-item">
                    <header>
                      <h4>Connect</h4>
                    </header>
                    <% if participant.twitter.present? %>
                      <%= link_to '<span>Twitter <img src="/assets/img/icon-external-link.svg"></span>', url_for(participant.twitter) %></li>
                    <% end %>
                    <% if participant.github.present? %>
                      <%= link_to '<span>GitHub <img src="/assets/img/icon-external-link.svg"></span>', url_for(participant.github) %>
                    <% end %>
                    <% if participant.linkedin.present? %>
                      <%= link_to '<span>LinkedIn <img src="/assets/img/icon-external-link.svg"></span>', url_for(participant.linkedin) %>
                    <% end %>
                    <% if participant.website.present? %>
                      <%= link_to '<span>Portfolio <img src="/assets/img/icon-external-link.svg"></span>', url_for(participant.website) %>
                    <% end %>                
                  </div>
              <% end %>
            
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /masthead – user -->