<%
 show_users = show_users.present? ? show_users : false
 width = width.present? ? width : 12
%>
<% if current_participant.present? %>
  <% if vote.present? %>
    <%= link_to white_votes_destroy_vote_path(votable, vote.id), id: votes_link_id(votable), method: :delete, remote: true do %>
      <button type='button' class='btn btn-secondary btn-sm'>
        <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M4.34375 0.8125C2.01685 0.8125 0.125 2.72632 0.125 5.03125C0.125 5.83545 0.489746 6.53198 0.828125 7.03516C1.1665 7.53833 1.51367 7.86133 1.51367 7.86133L7.5957 13.9609L8 14.3652L8.4043 13.9609L14.4863 7.86133C14.4863 7.86133 15.875 6.63745 15.875 5.03125C15.875 2.72632 13.9832 0.8125 11.6562 0.8125C9.72485 0.8125 8.4812 1.97485 8 2.46484C7.5188 1.97485 6.27515 0.8125 4.34375 0.8125ZM4.34375 1.9375C6.02466 1.9375 7.57812 3.57227 7.57812 3.57227L8 4.04688L8.42188 3.57227C8.42188 3.57227 9.97534 1.9375 11.6562 1.9375C13.3679 1.9375 14.75 3.34155 14.75 5.03125C14.75 5.89917 13.6953 7.07031 13.6953 7.07031L8 12.7656L2.30469 7.07031C2.30469 7.07031 2.03223 6.80884 1.75977 6.40234C1.4873 5.99585 1.25 5.46631 1.25 5.03125C1.25 3.34155 2.63208 1.9375 4.34375 1.9375Z" fill="#212121"/>
        </svg>

        <%= votes_display_vote_count(votable) %>
      </button>
    <% end %>
  <% else %>
    <%= link_to white_votes_create_vote_path(votable), id: votes_link_id(votable), method: :post, remote: true do %>
      <button type='button' class='btn btn-secondary btn-sm'>
        <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M4.34375 0.8125C2.01685 0.8125 0.125 2.72632 0.125 5.03125C0.125 5.83545 0.489746 6.53198 0.828125 7.03516C1.1665 7.53833 1.51367 7.86133 1.51367 7.86133L7.5957 13.9609L8 14.3652L8.4043 13.9609L14.4863 7.86133C14.4863 7.86133 15.875 6.63745 15.875 5.03125C15.875 2.72632 13.9832 0.8125 11.6562 0.8125C9.72485 0.8125 8.4812 1.97485 8 2.46484C7.5188 1.97485 6.27515 0.8125 4.34375 0.8125ZM4.34375 1.9375C6.02466 1.9375 7.57812 3.57227 7.57812 3.57227L8 4.04688L8.42188 3.57227C8.42188 3.57227 9.97534 1.9375 11.6562 1.9375C13.3679 1.9375 14.75 3.34155 14.75 5.03125C14.75 5.89917 13.6953 7.07031 13.6953 7.07031L8 12.7656L2.30469 7.07031C2.30469 7.07031 2.03223 6.80884 1.75977 6.40234C1.4873 5.99585 1.25 5.46631 1.25 5.03125C1.25 3.34155 2.63208 1.9375 4.34375 1.9375Z" fill="#212121"/>
        </svg>

        <%= votes_display_vote_count(votable) %>
      </button>
    <% end %>
  <% end %>
<% else %>
  <%= link_to new_participant_session_path do %>
    <button type='button' class='btn btn-secondary btn-sm'>
      <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M4.34375 0.8125C2.01685 0.8125 0.125 2.72632 0.125 5.03125C0.125 5.83545 0.489746 6.53198 0.828125 7.03516C1.1665 7.53833 1.51367 7.86133 1.51367 7.86133L7.5957 13.9609L8 14.3652L8.4043 13.9609L14.4863 7.86133C14.4863 7.86133 15.875 6.63745 15.875 5.03125C15.875 2.72632 13.9832 0.8125 11.6562 0.8125C9.72485 0.8125 8.4812 1.97485 8 2.46484C7.5188 1.97485 6.27515 0.8125 4.34375 0.8125ZM4.34375 1.9375C6.02466 1.9375 7.57812 3.57227 7.57812 3.57227L8 4.04688L8.42188 3.57227C8.42188 3.57227 9.97534 1.9375 11.6562 1.9375C13.3679 1.9375 14.75 3.34155 14.75 5.03125C14.75 5.89917 13.6953 7.07031 13.6953 7.07031L8 12.7656L2.30469 7.07031C2.30469 7.07031 2.03223 6.80884 1.75977 6.40234C1.4873 5.99585 1.25 5.46631 1.25 5.03125C1.25 3.34155 2.63208 1.9375 4.34375 1.9375Z" fill="#212121"/>
      </svg>

      <%= votes_display_vote_count(votable) %>
    </button>
  <% end %>
<% end %>
<% if show_users %>
  <% if votable.votes.length > 0 %>
    <div class="avatar-group avatar-group-small ml-2">
      <small>Liked by &nbsp;</small>
      <% votable.votes.each do |vote| %>
        <%= render partial: 'participants/get_user_profile', locals: { participant: vote.participant, username: 'false' } %>
      <% end %>
    </div>
  <% end %>
<% end %>
