<div>
  <p>Hello <%= @participant.name %>,</p>
  <br/>
  <p><%= link_to @invitor.name, participant_url(@invitor), target: '_blank' %> has invited you to join their team [Team Name]! Join [sender username] in solving [challenge name].</p>

  <p>
    You only need an AIcrowd account to join the [sender username] team. You can create an account using this link [account creation hyperlink]. Next, click here to join the team [claim email hyperlink].
  </p>

  <p>If you have an AIcrowd account, click here to join the team [ claim email hyperlink ]. Your unique invitation code is [ INVITE CODE ].</p>

  <p style="text-align: center;">
    <%= invitation_button('Join!', @team_invitation, @invitee, true, 'invite') %>
    <span style="margin-right: 20px"></span>
    <%= invitation_button('Decline', @team_invitation, @invitee, false, 'decline') %>
  </p>

  <p>By accepting the invitation you are agreeing to the following terms and conditions:</p>
  <ul>
    <li>You will become a member of Team [Team Name] for the entire duration of [Challenge Name].</li>
    <li>All team members will share equal spots on the leaderboard</li>
    <li>If you stand to win a prize in this challenge, the team leader will be solely responsible for distribution.</li>
    <li>If you accept this invitation, all other subsequent invitations to you from other teams for this challenge will be cancelled.</li>
  </ul>
  <% if @invitee.is_a?(EmailInvitation) %>
    <p>
      Note: To join, you'll need an AIcrowd acccount. If you already have an account with us, you'll need to link it with this invitation by claiming this email. Your unique code to do so is:
      <br>
      <b style="margin-left: 20px;"><%= @invitee.display_token %></b>
      <br>
      You can sign up <%= link_to 'here', new_participant_registration_url, target: '_blank' %>, and then link your account <%= link_to 'here', claim_emails_url(email_token: @invitee.display_token, email_confirmation: @invitee.email), target: '_blank' %>.
      <br>
      Declining does not require the creation of an account.
    </p>
  <% end %>
  <br/>
  <p>
    Best regards,
    <br>
    AIcrowd
  </p>
  <% if @participant.persisted? %>
    <%= render partial: 'shared/mailers/email_preferences_link', locals: { email_preferences_url: @email_preferences_url, notification_reason: @notification_reason } %>
  <% end %>
</div>
