<table class="table table-responsive-md">
  <tbody id="posts-div">
    <% posts.each do |post| %>
      <%
        # participant     = post.participant.participant
        # challenge       = submission.challenge
        # challenge_round = submission.challenge_round
      %>
      <tr>
        <td>
          <div class="like-counter-vertical">
            <span><%= post.vote_count %></span>
            <% if post.vote_count.positive? %>
              <%= image_tag image_path('img/icon-like.svg'), alt: 'Like icon' %>
            <% else %>
              <%= image_tag image_path('img/icon-like-grey.svg'), alt: 'Like icon' %>
            <% end %>
          </div>
        </td>
        <td>
          <div>
          <span><%= link_to post.title, post_path(post.id), class: 'topic-title text-link', style: "font-weight: bold; color: #434547; font-size: 16px;" %></span>
          <br/><span>By <div style="display: inline-flex;"><%= render partial: 'participants/get_user_profile', locals: { participant: post.participant, avatar: 'false' } %></span></div> <%= "#{discourse_time_ago(post.created_at)}" %></span>
          </div>
        </td>
        <td>
          <div class="topic-comments">
          <%= image_tag image_path('img/icon-comment.svg') %>
          <%= CommontatorComment.where(thread_id: CommontatorThread.where(commontable_id: post.id, commontable_type: "Post").first.id).count %>
      </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

