<!-- notifications -->
<div class="app-header-notifications">
  <div class="dropdown">
    <a class="dropdown-toggle <%= check_notification_status(@notifications) %>" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"></a>
    <div class="dropdown-menu dropdown-menu-notifications dropdown-menu-right">
      <!-- notification -->
      <% if @notifications.present? %>
        <% @notifications&.first(5).each do |notification| %>
          <%= link_to participant_read_notification_path(current_participant, id: notification.id), class: "dropdown-item #{unread_notification?(notification)}" do %>
            <div class="dropdown-item-img">
              <%= image_tag notification.thumbnail_url if notification.thumbnail_url.present? %>
            </div>
            <div>
              <span><strong><%= notification.notifiable_type %></strong> <%= notification.message %></span><br>
              <span class="text-muted"><%= notification_time(notification.created_at) %></span>
            </div>
          <% end %>
          <div class="dropdown-divider"></div>
        <% end %>
        <% if @notifications.count > 5 %>
          <div class="dropdown-divider"></div>
          <%= link_to 'See all', participant_notifications_message_path(current_participant), class: "dropdown-item" %>
        <% end %>
      <% else %>
        <a href="#" class='dropdown-item'>
          <div class="dropdown-item-img">
            <img class="award" src="assets/img/icon-refresh.svg">
          </div>
          <div>
            <span><strong>No Record found</strong></span>
          </div>
        </a>
      <% end %>
      <!-- /notification -->
    </div>
  </div>
</div>
<!-- /notifications -->
