<!-- section -->
<div class="section-p-md">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <% if !local_assigns[:hide_invite_link] && policy(@organizer).update? %>
          <header class="section-header">
            <%= link_to 'Invite member', new_organizer_member_path(@organizer), class: 'btn btn-secondary' %>
          </header>
        <% end %>
        <!-- list group – team members -->
        <ul class="list-group list-group-flush-px-0 list-group-organizers">
          <% @members.each do |member| %>
            <!-- team member -->
            <li class="list-group-item">
              <%= render partial: 'participants/get_user_profile', locals: { participant: member } %>
              <% if @organizer.clef_tasks.any? && @organizer.clef_tasks.first.eua_required? %>
                <% if member.clef_email %>
                  <%= link_to 'Disable EUA upload e-mail notifications', organizer_clef_email_path(@organizer, participant_id: member.id), class: 'btn btn-primary btn-sm text-white' %>
                <% else %>
                  <%= link_to 'Activate EUA upload e-mail notifications', organizer_clef_email_path(@organizer, participant_id: member.id), class: 'btn btn-secondary btn-sm' %>
                <% end %>
              <% end %>

              <%= link_to 'Remove', organizer_member_path(@organizer, member), method: :delete, class: "btn btn-secondary btn-sm" %>
            </li>
            <!-- /team member -->
          <% end %>
        </ul>
        <!-- /list group – team members -->
      </div>
    </div>
  </div>
</div>
<!-- /section -->
